<p id="notice"><%= notice %></p>

<h1>Asides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asides.each do |aside| %>
      <tr>
        <td><%= aside.name %></td>
        <td><%= aside.body %></td>
        <td><%= link_to 'Show', chapter_aside_path(@chapter,aside) %></td>
        <td><%= link_to 'Edit', edit_chapter_aside_path(@chapter,aside) %></td>
        <td><%= link_to 'Destroy', chapter_aside_path(@chapter,aside), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aside', new_chapter_aside_path(@chapter) %>
