<h2><%= @character_scene.scene.name %>:<%= @character_scene.character.name %></h2>

<p>
 <%= @character_scene.summary %>
</p>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'),  edit_character_scene_path(@character_scene), class: 'btn', title: 'Edit' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(polymorphic_path(@character_scene.scene)), class: 'btn', title: 'Back' %>
</div>

