<p id="notice"><%= notice %></p>

<h1>Itineraries</h1>

<%= datagrid_form_for @grid, :method => :get, :url => story_tour_itineraries_path(@tour.story,@tour), :partials => 'itinerary_grid' %>
<%== pagy_info(@pagy) %>
<%= datagrid_table @grid, @records, :partials => 'itinerary_grid' %>
<%== pagy_nav(@pagy) %>

<% @footer_content << "#{ link_to 'New Itinerary', new_story_tour_itinerary_path(@story,@tour), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{ link_to 'Back', story_tour_path(@story,@tour), :class => "btn btn-default hide-print" }" %>


