<% @title = "Itineraries" %>
<h2>Itineraries</h2>

<%= datagrid_form_for @grid, method: :get, url: tour_itineraries_path(@tour), partials: 'itinerary_grid' %>
<%== pagy_info(@pagy) %>
<%= datagrid_table @grid, @records, partials: 'itinerary_grid' %>
<%== pagy_nav(@pagy) %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_tour_itinerary_path(@tour), class: 'btn', title: 'New Itinerary' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), tour_path(@tour), class: 'btn', title: 'Back' %>
</div>
