<p id="notice"><%= notice %></p>

<h1>Itineraries</h1>

<%= datagrid_form_for @grid, method: :get, url: tour_itineraries_path(@tour), partials: 'itinerary_grid' %>
<%== pagy_info(@pagy) %>
<%= datagrid_table @grid, @records, partials: 'itinerary_grid' %>
<%== pagy_nav(@pagy) %>

<% add_to_footer('New Itinerary', new_tour_itinerary_path(@tour)) %>
<% add_to_footer('Back', tour_path(@tour)) %>
