<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @itinerary.tour.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @itinerary.city.name %>
</p>

<p>
  <strong>Stay:</strong>
  <%= @itinerary.stay %>
</p>

<% @object = @itinerary %>
<%= render 'shared/map' %>

<% @footer_content << "#{ link_to 'Edit', edit_story_tour_itinerary_path(@story,@tour,@itinerary), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{ link_to 'Back', story_tour_path(@story,@tour), :class => "btn btn-default hide-print" }" %>
