<p>
  <strong>Tour:</strong>
  <%= @itinerary.tour_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @itinerary.city_name %>
</p>

<p>
  <strong>Stay:</strong>
  <%= @itinerary.stay %>
</p>

<% @object = @itinerary %>
<%= render 'shared/map', object: @object %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_itinerary_path(@itinerary), class: 'btn', title: 'Edit' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), tour_path(@tour), class: 'btn', title: 'Back' %>
</div>
