<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @itinerary.tour_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @itinerary.city_name %>
</p>

<p>
  <strong>Stay:</strong>
  <%= @itinerary.stay %>
</p>

<% @object = @itinerary %>
<%= render 'shared/map', object: @object %>

<% @footer_content << "#{ link_to 'Edit', edit_itinerary_path(@itinerary), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{ link_to 'Back', tour_path(@tour), :class => "btn btn-default hide-print" }" %>
