<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @itinerary.tour_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @itinerary.city_name %>
</p>

<p>
  <strong>Stay:</strong>
  <%= @itinerary.stay %>
</p>

<% @object = @itinerary %>
<%= render 'shared/map', object: @object %>

<% add_to_footer('Edit', edit_itinerary_path(@itinerary)) %>
<% add_to_footer('Back', tour_path(@tour)) %>
