<p>
  <strong>Name:</strong>
  <%= @plot_point.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @plot_point.body %>
</p>

<% unless @plot_point.scenes.size == 0 %>
  <p>
  <strong>Scenes:</strong>
  <%== scenes_list_ul(@plot_point, @plot_point.book) %>
  <p>
<% end %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_plot_point_path(@plot_point), class: 'btn', title: 'Edit' %> 
<%= link_to (fa_icon 'backward', class: 'fa-fw'), book_plot_points_path(@plot_point.book), class: 'btn', title: 'Back' %>
</div>
