<p id="notice"><%= notice %></p>
<%= simple_form_for :citation, url: chapter_citation_update_path(@chapter.id) do |f| %>
  <%= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<h1>Citations</h1>

<table class="table">
  <tr>
      <td style="width:40%">
<%= select_tag :cit_ids, options_from_collection_for_select(@citations, :id, :name), :prompt => "Select Citations", :multiple => true, :size => 20 %>
</td><td style="width:20%">
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</td><td style="width:40%">
<%= select_tag :biblioentries_ids, options_from_collection_for_select(@all_citations, :id, :name), :prompt => "Select Citations", :multiple => true, :size => 20 %>
</td></tr>
</table>
<% end %>

<% @footer_content << "#{link_to 'Back', chapter_path(@chapter), :class => "btn btn-default"}" %>
