<p id="notice"><%= notice %></p>
<%= simple_form_for :citation, url: chapter_citation_update_path(@chapter.id) do |f| %>
  <%= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<h1>Citations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tr><td style="width:40%">
<table class="table">
  <tbody>
    <% @citations.each do |citation| %>
      <tr>
        <td><%= check_box_tag 'cit_ids[]', citation.id %><%= (citation.biblioentry.nil? ? '' : "  #{citation.biblioentry.name}") %><%= "#{citation.biblioentry.xreflabel}"  %></td>
        <td><%= citation.slug %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</td><td style="width:20%">
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</td><td style="width:40%">
<table class="table">
  <tbody>
    <% @all_citations.each do |biblioentry| %>
      <tr>
        <td><%= check_box_tag "biblioentries_ids[]", biblioentry.id %><%= (biblioentry.nil? ? '' : "  #{biblioentry.name}") %>&nbsp;&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>
</td></tr>
</table>
<% end %>

<% @footer_content << "#{link_to 'Back', chapter_path(@chapter), :class => "btn btn-default"}" %>
