<% @title = "Biblioentries" %>
<h2>Biblioentries</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Xreflabel</th>
      <th>Authors</th>
      <th># Citations</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @biblioentries.each do |biblioentry| %>
      <tr>
        <td><%= link_to biblioentry.name, biblioentry_path(biblioentry), title: 'Show' %></td>
        <td><%= biblioentry.xreflabel %></td>
        <td><%= format_biblio_authors(biblioentry.authors) %></td>
        <td><%= biblioentry.footnotes.size %></td>
        <td style="width: 7%"><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_biblioentry_path(biblioentry), title: 'Edit' %>
        <%= link_to (fa_icon 'trash', class: 'fa-fw'), biblioentry_path(biblioentry), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_book_biblioentry_path(@book), class: 'btn', title: 'New Biblioentry' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), book_path(@book), class: 'btn', title: 'Back' %>
</div>
