<p id="notice"><%= notice %></p>

<h1>Artifact Locations</h1>

<table>
  <thead>
    <tr>
      <th>Artifact</th>
      <th>Located</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artifact_locations.each do |artifact_location| %>
      <tr>
        <td><%= artifact_location.artifact_id %></td>
        <td><%= artifact_location.located_id %></td>
        <td><%= link_to 'Show', artifact_location_path(artifact_location) %></td>
        <td><%= link_to 'Edit', edit_artifact_location_path(artifact_location) %></td>
        <td><%= link_to 'Destroy', artifact_location_path(artifact_location), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artifact Location', new_artifact_location_path %>
