<%= simple_form_for(holocene_event ) do |form| %>
  <% if holocene_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holocene_event.errors.count, "error") %> prohibited this holocene_event from being saved:</h2>

      <ul>
      <% holocene_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_year %>
    <%= form.number_field :start_year %>
    <%= form.label :start_year_uncert %>
    <%= form.number_field :start_year_uncert %>
    <%= form.label :start_year_mod %>
    <%= form.number_field :start_year_mod %>
  </div>

  <div class="field">
    <%= form.label :end_year %>
    <%= form.number_field :end_year %>
    <%= form.label :end_year_uncert %>
    <%= form.number_field :end_year_uncert %>
    <%= form.label :end_year_mod %>
    <%= form.number_field :end_year_mod %>
  </div>

  <div class="field">
    <%= form.label :event_type %>
    <%= form.collection_select :event_type_id, EventType.all, :id, :name %>
    <%= form.label :region %>
    <%= form.collection_select :region_id, Region.all, :id, :name %>
  </div>

  <div class="jumbotron" >
      <%= form.text_area :body, as: :wysihtml5, cols: "80", rows: "15" %>
  </div>

  <div class='field'>
    <%= form.label :tag_list, 'Tags (separated by commas)' %><br/>
    <%= form.text_field :tag_list %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#holocene_event_body').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>
<% end %>
