<%= bootstrap_form_for(holocene_event, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |form| %>
  <% if holocene_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holocene_event.errors.count, "error") %> prohibited this holocene_event from being saved:</h2>

      <ul>
      <% holocene_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :user_id %>
    <%= form.text_field :name %>

    <%= form.number_field :start_year %>
    <%= form.number_field :start_year_uncert %>
    <%= form.number_field :start_year_mod %>

    <%= form.number_field :end_year %>
    <%= form.number_field :end_year_uncert %>
    <%= form.number_field :end_year_mod %>

    <%= form.collection_check_boxes :event_type_ids, EventType.all, :id, :name, multiple: true %>
    <%= form.collection_select :region_id, Region.all, :id, :name %>

  <div class="jumbotron" >
      <%= form.text_area :body, as: :wysihtml5, label: false, cols: "80", rows: "15" %>
  </div>

    <%= form.text_field :tag_list %>

    <%= form.primary "#{command_label}" %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#holocene_event_body').each(function(i, elem) {
        $(elem).wysihtml5({
           toolbar: {
               "fa": true,
              "style": true,
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": true,
              "image": true,
              "color": false
           },
           parser: function(html) {
              return html;
           }
        });
    });
  })
</script>
<% end %>
