<p>
  <strong>Name:</strong>
  <%= @object.name %>
</p>

<%= link_to 'Add Event', url_for(:controller => "holocene_events", :action => "add_event", 
                                 "#{@object.class.name.underscore}_id".to_sym => @object.id), :class => "btn btn-secondary" %> 

                               <%= datagrid_form_for @grid, :method => :get, :url => "/#{@object.class.name.underscore.pluralize}/display/#{@object.id}" %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>


<% @footer_content << "#{link_to 'Timeline',  url_for(:controller => "timelines", :action => "timeline", "#{@object.class.name.underscore}_id".to_sym => @object.id), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Map', "/#{@object.class.name.underscore.pluralize}/#{@object.id}/geo_map", :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', :back, :class => "btn btn-default"}" %>
