<h1>Holocene Events</h1>

<%= datagrid_form_for @grid, :method => :get, :url => holocene_events_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>

<div class="navbar-fixed-bottom footer">
<%= link_to 'New Holocene event', new_holocene_event_path %>
</div>
<%= paginate(@grid.assets) %>
