<p>
  <strong>Name:</strong>
  <%= @holocene_event.name %>
</p>

<p>
  <strong>Start year:</strong> <%== convert_ad(@holocene_event.start_year, @holocene_event.start_year_uncert) %>
  <strong> - </strong> <%= convert_ad(@holocene_event.end_year) %>
</p>

<p>
  <strong>Event type:</strong>
  <%== event_types_to_s(@holocene_event.event_types, false) %>
  <strong>Region:</strong>
  <%= link_to @holocene_event.region_name, region_path(@holocene_event.region) %>
</p>

<p>
  <strong>URL:</strong>
  <%= my_link_to @holocene_event.url, @holocene_event.url %>
  <strong>Image:</strong>

  <% if @holocene_event.image.attached? %>
      <%= image_tag(url_for(@holocene_event.image), alt: @holocene_event.image.filename.to_s) %>
  <% end %>
</p>
<% unless @holocene_event.lat.nil? -%>
<p>
  <strong>Lat:</strong>
  <%= @holocene_event.lat %>
  <strong>Lng:</strong>
  <%= @holocene_event.lng %>
</p>
<% end -%>
<p>
  <% if @slugs.nil? -%>
      <% @slugs = [] -%>
  <% end -%>
<% @footnotes = Footnote.process_body(@holocene_event, @slugs, (@footnotes.nil? ? 1 : @footnotes[2])) -%>
  <%== @holocene_event.body %>
</p>
<% unless @footnotes.nil? -%>
<% @slugs += @footnotes[1] -%>
<% end -%>

<p>Tags: <%== @holocene_event.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<% @footer_content << (link_to 'Edit', edit_holocene_event_path(@holocene_event), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Map', geo_map_holocene_event_path(@holocene_event), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Footnotes', holocene_event_footnotes_path(@holocene_event), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', holocene_events_path, class: 'btn btn-default').to_s %>
