<% unless params[:tag].nil? -%>
  <h2><%= params[:tag] %>
  </h2>
<% end -%>
<% @holocene_events.includes([:taggings]).order(:start_year).each do |r| %>
  <h2><%= link_to r.name, holocene_event_path(r) %></h2>
  <h3><%== convert_ad(r.start_year, r.start_year_uncert) %> <%= convert_ad(r.end_year) %></h3>
  <p><% r.tag_list.each do |tag| %>
    <%= link_to tag, tag_path(tag: tag) %>
  <% end %></p>
<% end %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), holocene_events_path, class: 'btn', title: 'Back' %>
</div>
