<h2>Actors</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Locations</th>
      <th>Characters</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= link_to actor.name , actor %></td>
        <td><%= actor.actor_location_times.size %></td>
        <td><%= actor.characters.size %></td>
        <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_actor_path(actor), title: "Edit" %>
        <%= link_to (fa_icon 'trash', class: 'fa-fw'), actor, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_book_actor_path(@book), :class => "btn", title: 'New Actor' %>
</div>
