<%= simple_form_for [@chapter, @footnote], html: { class: 'form-inline' } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :slug %>
    <%= f.input :noted_id, :as => :hidden %>
    <%= f.input :noted_type, :as => :hidden %>
  </div>

    <div class="jumbotron" >
      <%= f.text_area :body, as: :wysihtml5, cols: "80", rows: "15" %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#footnote_body').each(function(i, elem) {
        $(elem).wysihtml5({
           toolbar: {
              "style": true,
              "font-styles": true,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": true,
              "image": true,
              "color": true
           },
           parser: function(html) {
              return html;
           }
        });
    });
  })
</script>

<% end %>
