<p>
  <strong>Slug:</strong>
  <%= @footnote.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @footnote.body %>
</p>
<% unless @footnote.biblioentry.nil? %>
<p>
  <strong>Biblioentry:</strong>
  <%= @footnote.biblioentry_name %>
</p>
<% end %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_polymorphic_path([@noted, @footnote]), class: 'btn', title: 'Edit' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path([@noted, :footnotes]), class: 'btn', title: 'Back' %>
</div>
