<h2>Actor Characters</h2>

<table class="table">
  <thead>
    <tr>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actor_characters.each do |actor_character| %>
      <tr>
        <td><%= link_to actor_character.character.name, actor_character %></td>
        <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_actor_character_path(actor_character), title: 'Edit' %>
        <%= link_to (fa_icon 'trash', class: 'fa-fw'), actor_character, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_actor_actor_character_path(@actor), class: "btn", title: 'New Actor Character' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), actor_path(@actor), :class => "btn", title: "Back" %>
</div>
