<p id="notice"><%= notice %></p>

<p>
  <strong>Actor:</strong>
  <%= @actor_character.actor.name %>
</p>

<p>
  <strong>Character:</strong>
  <%= @actor_character.character.name %>
</p>

<div>
<%= link_to 'Edit', edit_actor_character_path(@actor_character), :class => "btn" %>
<%= link_to 'Back', actor_actor_characters_path(@actor), :class => "btn" %>
</div>
