<%= bootstrap_form_for(@character, url: cs_path, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f| %>

  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Character Identity</legend>

    <%= hidden_field_tag "#{@object.class.name.underscore}_id", @object.id %>
    <%= hidden_field_tag "character_id", @character.id %>
    <%= hidden_field_tag "wiz_step", wiz_step.to_s %>

  <div class="form-inputs">
    <%= f.text_field :first_name %>
    <%= f.text_field :middle_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :suffix %>
    <%= f.text_field :reason_for_name %>
    <%= f.text_field :nickname %>
    <%= f.text_field :reason_for_nickname %>
    <%= f.check_box :use_honorific_only %>
    <%= f.text_field :honorific %>
  </div>

    <div>
      <%= f.submit 'Next Step' %>
    </div>
  </fieldset>
<% end %>
