<%= bootstrap_form_for([@object, @character], url: wizard_path, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Character Identity</legend>

    <div class="form-inputs">
      <%= f.text_field :occupation_class %>
      <%= f.text_field :social_class %>
      <%= f.text_field :grouping %>
      <%= f.select :father_id,
                   options_from_collection_for_select(@object.characters.where(sex: 0).order('characters.last_name asc, characters.first_name asc'),
                                                      :id, :name, (@character.father.nil? ? nil : @character.father.id)), prompt: 'Select Characters', multiple: false, include_blank: true %>
      <%= f.select :mother_id,
                   options_from_collection_for_select(@object.characters.where(sex: 1).order('characters.last_name asc, characters.first_name asc'),
                                                      :id, :name, (@character.mother.nil? ? nil : @character.mother.id)), prompt: 'Select Characters', multiple: false, include_blank: true %>

    </div>

    <div class="row">
      <% CharacterCategory.order(:position).each do |category| %>
        <div class="col-lg-4 bg-warning">
          <span>
            <% character_values = @character.character_values.joins(:character_attribute).order(:name).where('character_category_id = ?', category.id) %>
              <% character_attributes = category.character_attributes %>
              <strong><%= category.name %>:</strong>
              <table class="table" style="width: auto;">
                <tbody>
                  <% character_attributes.each do |character_attribute| %>
                    <% character_value = character_values.where(character_attribute_id: character_attribute.id)[0] %>
                    <tr>
                      <td><%= character_attribute.name %></td>
                      <td><%= text_field_tag "#{category.name.underscore}_#{character_attribute.name.underscore}_value".to_sym, (character_value.nil? ? '' : character_value.value) %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </span>
        </div>
      <% end %>
    </div>

    <div>
      <%= f.submit 'Next Step' %>
    </div>
  </fieldset>
<% end %>

<% str = '' %>
<% @attributes.keys.each do |key| %>
  <% str += "$('##{key.to_s.gsub(/ /, '_')}').val('#{@attributes[key]}');" %>
<% end %>

<script>
  $(document).ready(function(){
      <%== str %>
    });
</script>
