<p id="notice"><%= notice %></p>

<p>
  <strong>Delta:</strong>
  <%= @metric.count %>
</p>

<p>
  <strong>Date:</strong>
  <%= @metric.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @metric.user_id %>
</p>

<p>
  <strong>Metrized:</strong>
  <%= @metric.metrized_id %>
</p>

<%= link_to 'Back', metrics_path %>
