<%= bootstrap_form_for [@situated, scene ] do |form| %>
  <% if scene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scene.errors.count, "error") %> prohibited this scene from being saved:</h2>

      <ul>
        <% scene.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

    <%= hidden_field_tag :key_point_id, (@key_point.nil? ? nil : @key_point.id) %>
    <%= hidden_field_tag :situated_id, @situated.id %>
    <%= hidden_field_tag :selector, @selector %>
    <%= hidden_field_tag :situated_type, @situated.class.name %>
    <%= form.hidden_field :key_point_id, value: (scene.key_point.nil? ? nil : (@key_point.nil? ? scene.key_point.id : @key_point.id)) %>
    <%= form.hidden_field :situated_id %>
    <%= form.hidden_field :situated_type %>
    <%= form.hidden_field :selector, value: (scene.selector.nil? ? @selector.to_i : scene.selector) %>



  <div class="field">
    <%= form.text_field :abc %>
  </div>

  <div class="field">
    <%= form.check_box :check %>
  </div>

  <div class="field" >
      <%= form.rich_text_area :summary %>
  </div>

  <div class="field">
    <%= form.rich_text_area :place %>
  </div>


  <div class="field">
    <%= form.select :artifact_id, Artifact.joins(:artifact_type).where("artifact_types.location = 1").order('artifacts.name').collect { |p| [ p.name, p.id ] }, { include_blank: true } %>
  </div>

  <div class="field">
    <%#= form.text_field :time %>
      <div class="form-check">
        <% year = scene.time.to_i %>
        <% remainder = (scene.time.nil? ? 0 : (scene.time - year)) %>
        <% tmon= (remainder / 0.0833).to_i %>
        <% day = ((remainder - tmon*0.0833)/0.0027).to_i %>

        <label for='t_years'>Time</label>
        <%= text_field_tag 't_years', year, size: 5 %> year
        <%= select("t", "month", %w[1 2 3 4 5 6 7 8 9 10 11 12 ], {include_blank: "Month", selected: tmon}, {}) %> month(s) and 
          <% options_for_select([["choice1",1],["choice2",2]]) %>
        <%= select("t", "day", %w[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31], {include_blank: 'Day', selected: day}, {}) %>
         day(s).
  </div>
  </div>

  <div class="field">
    <%= form.number_field :scene_sequel %>
  </div>

  <div class="field">
    <%= form.select :insert_scene_id, Scene.all.order(:abc).collect { |p| [ p.full_name, p.id ] }, { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.rich_text_area :goal_reaction %>
  </div>

  <div class="field">
    <%= form.rich_text_area :conflict_dilemma %>
  </div>

  <div class="field">
    <%= form.rich_text_area :disaster_decision %>
  </div>

  <div class="field">
    <%= form.rich_text_area :short_term_goal %>
  </div>

  <div class="field">
    <%= form.rich_text_area :long_term_goal %>
  </div>

  <div class="field">
    <%= form.rich_text_area :over_arching_goal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
