<% print_name ||= false %>
<% inline_date ||= false %>
<% short_labels ||= false %>
<% target ||= nil %>
<% pdf ||= nil %>
<% wc = scene.word_count %>
<% long ||= nil %>

<table style="width:100%">
  <tbody>
    <tr>
      <% if inline_date %>
        <td colspan="7"><%= scene.time_to_text %> :</td>
      <% else %>
        <td width="1%;">  <%= (scene.title_scene? ? '*' : ' ') %> </td>
        <td width="2%;">  <%= (scene.check? ? fa_icon('check') : ' ') %> </td>
        <td width="16%;">  <%= scene.time_to_text %></td>
        <td width="3%;">  <%= long ? number_with_delimiter(scene.characters.size, :delimiter => ',') : '' %></td>
        <td width="5%;">
          <% if target.nil? %>
            <%= (pdf.nil? ? link_to(scene.abc, scene_path(scene)) : scene.abc) %></td>
          <% else %>
            <%= (pdf.nil? ? link_to(scene.abc, scene_path(scene), target: target) : scene.abc) %></td>
          <% end %>
      <% end %>
      <% unless scene.section.nil? %>
        <td width="25%;">  <strong><i><%= scene.section.name %></i></strong></td>
      <% end %>
      <td width="5%;">
        <% if long %>
        <span style="background-color: #<%= count_color(wc) %>">
          <%=  number_with_delimiter(wc, :delimiter => ',') %>
        </span>
      <% end %>
      </td>
      <td width="43%;"><%= scene.artifact.nil? ? '' : "#{scene.artifact_name} - " %><%= scene.place.empty? ? '' : "#{scene.place&.to_plain_text}" %></td>
      <% if print_name %>
        </td></tr><tr><td></td><td colspan="6">  <br> <%= (short_labels ? scene.name : scene.plain_name) %></td>
      <% end %>
    </tr>
  </tbody>
</table>
