<table class="table">
  <% scenes.keys.sort.each do |year| %>
    <% scenes[year].keys.sort.each do |month| %>
      <% scenes[year][month].keys.sort.each do |day| %>
        <% scenes[year][month][day].each do |scene| %>
          <% next if !no_section.nil? && !scene.section.nil? %>
          <% next if !only_section.nil? && scene.section.nil? %>
          <tr>
            <td class="text-wrap" style="width: 20%">
            <% if print.nil? %>
              <%= link_to scene.abc, polymorphic_path([@situated, scene]) %> <%= (scene.section.nil? ? '*' : '') %><br/>
            <% else %>
              <%= scene.abc %> <%= (scene.section.nil? ? '*' : '') %><br/>
            <% end %>
            <%= scene.key_point.name %></td>
            <td class="text-nowrap"><%= scene.time_to_text %></td>
            <td style="width: 20%"><%= scene.place %></td>
            <td style="width: 20%">
              <% scene.characters.order(:occupation_class,:last_name, :first_name).each do |character| %>
                <%= character.name %><br/>
              <% end %>
            </td>
            <td><%= scene.plain_name %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>
