<% print_name ||= false %>
<% inline_date ||= false %>
<% short_labels ||= false %>
<% target ||= nil %>
<% wc = scene.word_count %>
<% unless scene.section.nil? %>
  <strong><i><%= scene.section.name %></i></strong>
<% end %>
<% if inline_date %>
  <%= scene.time_to_text %> :
<% else %>
  <%= (scene.section.nil? ? '*' : ' ') %> 
  <% if target.nil? %>
    <%= (pdf.nil? ? link_to(scene.abc, scene_path(scene)) : scene.abc) %>
  <% else %>
    <%= (pdf.nil? ? link_to(scene.abc, scene_path(scene), target: target) : scene.abc) %>
  <% end %>
  <%= scene.time_to_text %>
<% end %>
<span style="background-color: #<%= count_color(wc) %>"><%=  number_with_delimiter(wc, :delimiter => ',') %></span>
<%= scene.artifact.nil? ? '' : "#{scene.artifact_name} - " %><%= scene.place.empty? ? '' : "#{scene.place&.to_plain_text}" %>
<% if print_name %>
  <br> <%= (short_labels ? scene.name : scene.plain_name) %>
<% end %>
