<div class='container'>
  <div class='row'>
    <div class='col-sm-2'><strong><%= object.time_to_text %></strong></div>
    <div class='col-sm-1'><strong><%= object.artifact.nil? ? 'Unkown' : object.artifact_name %></strong></div>
    <div class='col-sm-4'><strong><%= object.place.to_plain_text %></strong></div>
  </div>
  <div class='row'>
    <div class='col-sm-2'><strong><%= object.abc %></strong></div>
    <div class='col-sm-1'><%= object.scene_sequel == 1 ? 'Sequel' : 'Scene' %></div>
    <div class='col-sm-1'><strong><%= object.check? ? fa_icon('check') : '' %></strong></div>
    <div class='col-sm-1'><strong><%= object.title_scene? ? 'Title' : '' %></strong></div>
  </div>
  <div class='row'>
    <div class='col-sm-2'><strong>Characters:</strong></div>
    <div class='col-sm-1'><%= object.characters.size %></div>
  </div>
  <div class='row'>
    <div class='col-sm-2'><strong>Word Count:</strong></div>
    <div class='col-sm-1'>
      <span style="background-color: #<%= count_color(object.word_count) %>"><%=  number_with_delimiter(object.word_count, :delimiter => ',') %></span>
    </div>
  </div>
</div>
