<p id='notice'><%= notice %></p>

<h1>Scenes for <%= @situated.name %></h1>

<%= form_with model: Scene.new, url: (@situated.instance_of?(Book) ? book_scenes_path(@situated) : polymorphic_path([@situated, :scenes])), method: :get, id: 'my-form', remote: true, format: :js, class: 'form-inline' do %>
  <%= hidden_field_tag :situated_id, @situated.id %>
  <%= hidden_field_tag :situated_type, @situated.class.name %>

  <div class='row'>
    <div class='col-md-2'>
      <div class='form-check'>
        <label class='checkbox'>
          <%= check_box_tag :toggle, @toggle, @toggle, class: 'checkbox inline' %> Detail
        </label>
      </div>
    </div>
    <div class='col-md-2'>
  <div class='form-check'>
    <label class='checkbox'>
      <%= check_box_tag :print, @print, @print, class: 'checkbox inline' %> Print
    </label>
  </div>
    </div>
    <div class='col-md-2'>
      <div class='form-check'>
        <label class='checkbox'>
          <%= check_box_tag :no_section, @no_section, @no_section, class: 'checkbox inline' %> No Section
        </label>
      </div>
    </div>
    <div class='col-md-2'>
      <div class='form-check'>
        <label class='checkbox'>
          <%= check_box_tag :only_section, @only_section, @only_section, class: 'checkbox inline' %> Only Section
        </label>
      </div>
    </div>
    <div class='col-md-2'>
      <div class='field'>
        <%= select_tag('year', options_for_select(@year_options), prompt: 'Please select an year:', class: 'form-control', onchange: 'javascript:this.form.commit.click();') %>
      </div>
    </div>
    <div class='col-md-2'>
      <%= submit_tag 'Go' %>
    </div>
  </div>
<% end %>

<div id='scenes-list'>
  <%= render partial: 'scenes/scenes', formats: [:html], locals: { scenes: @scenes, print: @print, no_section: @no_section, only_section: @only_section, years: @years, date: @year, scripted: @scripted } %>
</div>

<% add_to_footer('Timeline', polymorphic_path([@situated, :timeline]), print: true) %>
<% add_to_footer('Back', polymorphic_path(@situated), print: true) %>
