<% @title = "Scenes" %>
<h2>
  <% case @situated.class.name %>
  <% when 'Book' %>
    <%= render partial: 'books/header', locals: { book: @situated, long: @long } %>
  <% when 'Story' %>
    <%= render partial: 'stories/header', locals: { book: @situated.book, story: @situated, long: @long } %>
  <% when 'KeyPoint' %>
    <%== breadcrumb(@situated.scripted.book, @situated.scripted, @situated) %>
  <% end %>
</h2>


<%= form_with model: Scene.new, url: (@situated.instance_of?(Book) ? book_scenes_path(@situated) : polymorphic_path([@situated, :scenes])), method: :get, id: 'my-form', remote: true, format: :js, class: 'form-inline' do %>
  <%= hidden_field_tag :situated_id, @situated.id %>
  <%= hidden_field_tag :situated_type, @situated.class.name %>

  <div class='row'>
    <div class='col-md-4'>
      <fieldset class="form-group border p-3">
        <legend class="w-auto px-2">Listing</legend>
        <div class="form-group">
          <label class='checkbox'>
            <%= check_box_tag :toggle, @toggle, @toggle, class: 'checkbox inline' %> Detail
          </label>
        </div>
        <div class="form-group">
          <label class='checkbox'>
            <%= check_box_tag :print, @print, @print, class: 'checkbox inline' %> Print
          </label>
        </div>
        <div class="form-group">
          <label class='checkbox'>
            <%= check_box_tag :long, @long, @long, class: 'checkbox inline' %> Long
          </label>
        </div>
      <div class='field'>
        <%= select_tag('year', options_for_select(@year_options), prompt: 'Please select an year:', class: 'form-control', onchange: 'javascript:this.form.commit.click();') %>
      </div>
      <div class='col-md-2'>
        <%= submit_tag 'Go' %>
      </div>
    </fieldset>
  </div>
  <div class='col-md-4'>
  <div class='row'>
      <fieldset class="form-group border p-3">
        <legend class="w-auto px-2">Report</legend>
        <div class='form-check'>
          <label class='checkbox'>
            <%= radio_button_tag :option, :no_section, @no_section, class: 'checkbox inline' %> No Section
          </label>
        </div>
        <div class='form-check'>
          <label class='checkbox'>
            <%= radio_button_tag :option, :no_scene, @no_scene, class: 'checkbox inline' %> No Scene
          </label>
        </div>
        <div class='form-check'>
          <label class='checkbox'>
            <%= radio_button_tag :option, :only_section, @only_section, class: 'checkbox inline' %> Only Section
          </label>
        </div>
        <div class='form-check'>
          <label class='checkbox'>
            <%= radio_button_tag :option, :has_inserts, @has_inserts, class: 'checkbox inline' %> Has Inserts
          </label>
        </div>
        <div class='form-check'>
          <label class='checkbox'>
            <%= radio_button_tag :option, :not_checked, @not_checked, class: 'checkbox inline' %> Not Checked
          </label>
        </div>
        <div class='form-check'>
          <label class='checkbox'>
            <%= radio_button_tag :option, :checked, @checked, class: 'checkbox inline' %> Checked
          </label>
        </div>
        <div class='form-check'>
          <label class='checkbox'>
            <%= radio_button_tag :option, :chars, @chars, class: 'checkbox inline' %> Zero Charcters
          </label>
        </div>
      </fieldset>
    </div>
  </div>
  <div class='col-md-4'>
    <fieldset class="form-group border p-3">
      <legend class="w-auto px-2">Word Counts</legend>
      <div class='field'>
        <label class="form-label" for="form12">Low</label>
        <%= text_field_tag :low_wc, @low_wc %>
      </div>
      <div class='field'>
        <label class="form-label" for="form12">Mid</label>
        <%= text_field_tag :mid_wc, @mid_wc %>
      </div>
      <div class='field'>
        <label class="form-label" for="form12">Better</label>
        <%= text_field_tag :better_wc, @better_wc %>
      </div>
      <div class='form-check'>
        <label class='checkbox'>
          <%= radio_button_tag :option, :low_word_count, @low_word_count, class: 'checkbox inline' %> Low Word Count
        </label>
      </div>
      <div class='form-check'>
        <label class='checkbox'>
          <%= radio_button_tag :option, :mid_word_count, @mid_word_count, class: 'checkbox inline' %> Mid Word Count
        </label>
      </div>
      <div class='form-check'>
        <label class='checkbox'>
          <%= radio_button_tag :option, :better_word_count, @better_word_count, class: 'checkbox inline' %> Better Words
        </label>
      </div>
    </fieldset>
  </div>
</div>
<% end %>

<div id='scenes-list'>
    <%= render partial: 'scenes/scenes', formats: [:html], locals: { scenes: @scenes, print: @print, situated: @situated,
                                                                     option: @option, years: @years, 
                                                                     date: @year, scripted: @scripted, long: @long } %>
</div>

<% add_to_footer('Timeline', polymorphic_path([@situated, :timeline])) %>
<% add_to_footer('Back', polymorphic_path(@situated)) %>
