<p id="notice"><%= notice %></p>

<h1>Scenes for <%= @situated.name %></h1>

<%= form_tag polymorphic_path([@situated,:scenes]), :method => :get, :id => 'my-form' do %>
  <%= hidden_field_tag :situated_id, @situated.id %>
  <%= hidden_field_tag :situated_type, @situated.class.name %>

  <div class="form-check">
    <label class="checkbox"> 
      <%= check_box_tag :toggle, @toggle,@toggle,:class => "checkbox inline" %> Order
    </label>
  </div>
  <div class="form-check">
    <label class="checkbox"> 
  <%= check_box_tag :print, @print,@print,:class => "checkbox inline" %> Print
    </label>
  </div>

  <%= submit_tag 'Go' %>
<% end %>

<%= render :partial => "scenes/scenes.html", :locals => { :scenes => @scenes, :links => @print } %>

<% @footer_content << "#{link_to 'Timeline', polymorphic_path([@situated, :timeline]), :class => "btn btn-default hide-print"}" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path([@situated, (@klass == "Book" ? :stories : :key_points)]), :class => "btn btn-default hide-print"}" %>

