<p id="notice"><%= notice %></p>

<h1>Scenes for <%= @situated.name %></h1>

<%= form_with model: Scene.new, :url => (@situated.class.name == "Book" ? book_scenes_path : polymorphic_path([@situated,:scenes])), :method => :get,  :id => 'my-form', :remote => true, :format => :js do %>
  <%= hidden_field_tag :situated_id, @situated.id %>
  <%= hidden_field_tag :situated_type, @situated.class.name %>

  <div class="form-check">
    <label class="checkbox"> 
      <%= check_box_tag :toggle, @toggle,@toggle,:class => "checkbox inline" %> Order
    </label>
  </div>
  <div class="form-check">
    <label class="checkbox"> 
  <%= check_box_tag :print, @print,@print,:class => "checkbox inline" %> Print
    </label>
  </div>
  <div class="form-check">
    <label class="checkbox"> 
  <%= check_box_tag :no_section, @no_section,@no_section,:class => "checkbox inline" %> No Section
    </label>
  </div>
  <div class="form-check">
    <label class="checkbox"> 
  <%= check_box_tag :only_section, @only_section,@only_section,:class => "checkbox inline" %> Only Section
    </label>
  </div>

  <%= submit_tag 'Go' %>
<% end %>

<div id="scenes-list">
<%= render :partial => "scenes/scenes.html", :locals => { :scenes => @scenes, :links => @print, no_section: @no_section, only_section: @only_section } %>
</div>

<% @footer_content << "#{link_to 'Timeline', polymorphic_path([@situated, :timeline]), :class => "btn btn-default hide-print"}" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path(@situated), :class => "btn btn-default hide-print"}" %>

