<p id="notice"><%= notice %></p>

<h1>Scenes</h1>

<table class="table">
  <% @scenes.each do |scene| %>
    <%# if scene.insert_scene.nil? %>
    <tr><td class="text-nowrap"><%= link_to scene.abc, polymorphic_path([@situated, scene]) %> <%= (scene.section.nil? ? '' : '*') %></td>
      <td class="text-nowrap"><%= scene.time_to_text %></td>
      <td><%= scene.place %></td>
      <td><%= scene.name %></td>
    </tr>
    <%# end %>
<% end %>
  </table>

<% @footer_content << "#{link_to 'New Scene', new_polymorphic_path([@situated, 'scene']), :class => "btn btn-default hide-print"}" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path([@situated, (@klass == "Book" ? 'stories' : 'key_points')]), :class => "btn btn-default hide-print"}" %>
