<p id="notice"><%= notice %></p>

<h1>Scenes</h1>

<%= datagrid_form_for @grid, :method => :get, :url => polymorphic_path([@situated, 'scenes']) %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<br>
<% @footer_content << "#{link_to 'New Scene', new_polymorphic_path([@situated, 'scene']), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path([@situated, (@klass == "Book" ? 'stories' : 'key_points')]), :class => "btn btn-default"}" %>
