<% @title = @scene.section.nil? ? @scene.name : @scene.section.name %>
<% scene_index = @scenes_wi.find_index(@scene.id) %>
<h2>
  <%== breadcrumb(@scene.key_point.scripted.book, @scene.key_point.scripted, @scene.key_point, @scene, @scene.section) %>
</h2>

<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'pencil-alt'), edit_scene_path(@scene), title: 'Edit Scene Data', class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'sticky-note'), scene_signets_path(scene_id: @scene.id),data: { "bs-toggle": "tooltip", "bs-placement": "top", "bs-html":"true", "bs-title": "#{@scene.signets_short_list}"},
    title: 'Signets', class: "btn icon-ok icon-white #{!@scene.signets.empty? ? Signet.color_class(@scene.signets[0].color) : ''}" %>
  <%= link_to (fa_icon 'truck'), polymorphic_path([@scene, :move]), title: 'Move', class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'users'), polymorphic_path([@scene, :characters_list]), title: 'Characters', class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'trash'), scene_path(@scene), title: 'Delete', method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn icon-ok icon-white' %>
  <% if @scene.section.nil? %>
    <%= link_to (fa_icon 'plus'), new_polymorphic_path([@scene, :section]), title: 'Add Text', class: 'btn icon-ok icon-white'  %>
  <% else %>
    <%= link_to (fa_icon 'edit'), edit_section_path(@scene.section), title: 'Edit Scene Text', class: 'btn icon-ok icon-white'  %>
  <% end %>
  <% unless scene_index.nil? or scene_index == 0 %>
    <%= link_to (fa_icon 'angle-left'), scene_path(id: @scenes_wi[scene_index - 1]), class: 'btn icon-ok icon-white', title: 'Previous Scene' %>
  <% end %>
  <% unless scene_index.nil? or scene_index == @scenes_wi.length - 1 %>
    <%= link_to (fa_icon 'angle-right'), scene_path(id: @scenes_wi[scene_index + 1]), class: 'btn icon-ok icon-white', title: 'Next Scene' %>
  <% end %>
</div>

<%= render partial: 'scenes/stats', locals: { object: @scene } %>
<%= tabs do |c| %>
  <% c.tab "Body" do %>
  <% unless @scene.section.nil? %>
    <% values = @scene.set_values %>
    <% text = @scene.section.body %>
    <%== highlight(text.to_s, Regexp.new(KeyWord.where(book_id: values[0].id).collect(&:key_word).join('|'))) %>
  <% end %>
<% end %>
  <% c.tab "Summary" do %>
<p>
  <%= @scene.summary %>
</p>
<% end %>
  <% c.tab "Plot/Characters" do %>
<% unless @scene.goal_reaction.blank? %>
  <p>
    <strong>Goal/Reaction:</strong>
    <%= @scene.goal_reaction %>
  </p>
<% end %>

<% unless @scene.conflict_dilemma.blank? %>
  <p>
    <strong>Conflict/Dilemma:</strong>
    <%= @scene.conflict_dilemma %>
  </p>
<% end %>

<% unless @scene.disaster_decision.blank? %>
  <p>
    <strong>Disaster/Decision:</strong>
    <%= @scene.disaster_decision %>
  </p>
<% end %>

<% unless @scene.short_term_goal.blank? %>
  <p>
    <strong>Short term goal:</strong>
    <%= @scene.short_term_goal %>
  </p>
<% end %>

<% unless @scene.long_term_goal.blank? %>
  <p>
    <strong>Long term goal:</strong>
    <%= @scene.long_term_goal %>
  </p>
<% end %>

<% unless @scene.over_arching_goal.blank? %>
  <p>
    <strong>Over arching goal:</strong>
    <%= @scene.over_arching_goal %>
  </p>
<% end %>

<% unless @scene.insert_scene.present? %>
  <p>
    <strong>Insert Scene:</strong>
    <%= (@scene.insert_scene.nil? ? '' : @scene.insert_scene.full_name) %>
  </p>
<% end %>

<% unless @scene.characters.size == 0 %>
  <p>
    <strong>Characters:</strong>
    <br>
    <%= render partial: 'characters/characters_occ_ul', formats: [:html], locals: { object: @scene, characters: @scene.characters } %>
  </p>
<% end %>

<% end %>
<% c.tab "Scenes" do %>
<% scenes = Scene.where(insert_scene_id: @scene.id).order(:date_string, :abc) %>
  <% unless scenes.size == 0 %>
    <strong>Scenes:</strong>
    <br>
    <ul>
      <% scenes.includes([:section, :rich_text_summary]).each do |iscene| %>
        <% next unless iscene.key_point.scripted.publish? %>
        <li><%= link_to(iscene.abc, scene_path(iscene)) %> <%= (iscene.section.nil? ? '' : '*') %><%= iscene.time_to_text %> : <%= iscene.name %></li>
        <% insert_scene = iscene %>
      <% end %>
    </ul>
  <% end %>
<% end %>
<% c.tab "Plot Points" do %>
  <% unless @scene.plot_points.size == 0 %>
    <table class="table">
      <thead>
        <tr><th colspan="2">Plot Point</th></tr>
      </thead>
      <tbody>
      <% @scene.plot_points.each do |plot_point| %>
        <tr>
          <td width="20%"><%= plot_point.name %></td>
          <td><%= plot_point.body %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
<% end %>
</p>
