<p id='notice'><%= notice %></p>
<% @title = @scene.name %>

<h2>
  <%== breadcrumb(@scene.key_point.scripted.book, @scene.key_point.scripted, @scene.key_point, @scene) %>
  <%= link_to (fa_icon 'edit'), edit_scene_path(@scene), title: 'Edit' %>
</h2>

<table class='table'>
  <tr>
    <th>ABC:</th><td><%= @scene.abc %></td>
    <th>Location:</th><td><%= (@scene.artifact.nil? ? 'Unkown' : @scene.artifact_name) %></td>
    <th>Place:</th><td><%= @scene.place.to_plain_text %></td>
    <th>Word Count:</th><td><%= number_with_delimiter(@scene.word_count, delimiter: ', ') %></td>
  </tr>
  <tr>
    <th>Time:</th><td><%= @scene.time_to_text %></td>
    <th>Check:</th><td><%= @scene.check %></td>
    <th>Scene/Sequel:</th><td><%= (@scene.scene_sequel == 1 ? 'Sequel' : 'Scene') %></td>
    <th>Selector:</th><td><%= selector_string(@scene.selector) %></td>
  </tr>
</table>
<p>
  <%= @scene.summary %>
</p>

<% unless @scene.goal_reaction.blank? %>
  <p>
    <strong>Goal/Reaction:</strong>
    <%= @scene.goal_reaction %>
  </p>
<% end %>

<% unless @scene.conflict_dilemma.blank? %>
  <p>
    <strong>Conflict/Dilemma:</strong>
    <%= @scene.conflict_dilemma %>
  </p>
<% end %>

<% unless @scene.disaster_decision.blank? %>
  <p>
    <strong>Disaster/Decision:</strong>
    <%= @scene.disaster_decision %>
  </p>
<% end %>

<% unless @scene.short_term_goal.blank? %>
  <p>
    <strong>Short term goal:</strong>
    <%= @scene.short_term_goal %>
  </p>
<% end %>

<% unless @scene.long_term_goal.blank? %>
  <p>
    <strong>Long term goal:</strong>
    <%= @scene.long_term_goal %>
  </p>
<% end %>

<% unless @scene.over_arching_goal.blank? %>
  <p>
    <strong>Over arching goal:</strong>
    <%= @scene.over_arching_goal %>
  </p>
<% end %>

<% unless @scene.insert_scene.blank? %>
  <p>
    <strong>Insert Scene:</strong>
    <%= (@scene.insert_scene.nil? ? '' : @scene.insert_scene.full_name) %>
  </p>
<% end %>

<% unless @scene.characters.size == 0 %>
  <p>
    <strong>Characters:</strong>
    <br>
    <%= render partial: 'characters/characters_occ_ul', formats: [:html], locals: { object: @scene } %>
  </p>
<% end %>

<% scenes = Scene.where(insert_scene_id: @scene.id).order(:date_string, :abc) %>
<p>
  <% unless scenes.size == 0 %>
    <strong>Scenes:</strong>
    <br>
    <ul>
      <% scenes.includes([:section, :rich_text_summary]).each do |iscene| %>
        <li><%= link_to(iscene.abc, scene_path(iscene)) %> <%= (iscene.section.nil? ? '' : '*') %><%= iscene.time_to_text %> : <%= iscene.name %></li>
        <% insert_scene = iscene %>
      <% end %>
    </ul>
  <% end %>
  <hr>
  <% unless @scene.section.nil? %>
    <% values = @scene.set_values %>
    <% text = @scene.section.body %>
    <%== highlight(text.to_s, Regexp.new(KeyWord.where(book_id: values[0].id).collect(&:key_word).join('|'))) %>
  <% end %>
</p>

<% if @scene.section.nil? %>
  <% add_to_footer('New Section', new_polymorphic_path([@scene, :section])) %>
<% else %>
  <% add_to_footer('Edit Section', edit_section_path(@scene.section)) %>
<% end %>
<% add_to_footer('Characters', polymorphic_path([@scene, :characters])) %>
<% add_to_footer('Move', polymorphic_path([@scene, :move])) %>
<% add_to_footer('Destroy', scene_path(@scene), method: :delete, data: { confirm: 'Are you sure?' }) %>
<% add_to_footer('Back', (@scene.key_point.nil? ? polymorphic_path([@situated, :scenes]) : key_point_path(@scene.key_point))) %>

<% prev_scene = @scene.set_prev %>
<% unless prev_scene.nil? %>
  <% add_to_footer('<', scene_path(prev_scene), classes: 'btn icon-ok icon-white') %>
<% end %>
<% next_scene = @scene.set_next %>
<% unless next_scene.nil? %>
  <% add_to_footer('>', scene_path(next_scene), classes: 'btn icon-ok icon-white') %>
<% end %>
