<p id="notice"><%= notice %></p>

<p>
  <strong>Abc:</strong>
  <%= @scene.abc %>
</p>

<p>
  <strong>Check:</strong>
  <%= @scene.check %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @scene.summary %>
</p>

<p>
  <strong>Place:</strong>
  <%= @scene.place %>
</p>

<p>
  <strong>Time:</strong>
  <%= @scene.time_to_text %>
</p>

<p>
  <strong>Scene sequel:</strong>
  <%= @scene.scene_sequel %>
</p>

<p>
  <strong>Goal reaction:</strong>
  <%= @scene.goal_reaction %>
</p>

<p>
  <strong>Conflict dilemma:</strong>
  <%= @scene.conflict_dilemma %>
</p>

<p>
  <strong>Disaster decision:</strong>
  <%= @scene.disaster_decision %>
</p>

<p>
  <strong>Show term goal:</strong>
  <%= @scene.short_term_goal %>
</p>

<p>
  <strong>Long term goal:</strong>
  <%= @scene.long_term_goal %>
</p>

<p>
  <strong>Over arching goal:</strong>
  <%= @scene.over_arching_goal %>
</p>

<p>
  <strong>Insert Scene:</strong>
  <%= (@scene.insert_scene.nil? ? '' : @scene.insert_scene.full_name) %>
</p>

<p>
  <strong>Selector:</strong>
  <%= @scene.selector %>
</p>

<p>
  <strong>Characters:</strong>
  <br/>
<% @scene.characters.order(:occupation_class).pluck(:occupation_class).uniq.each do |occ_class| %>
  <%= occ_class %>
<ul>
<% @scene.characters.where("occupation_class = ?", occ_class).order(:occupation_class,:last_name,:first_name).each do |character| %>
  <li><%= link_to("#{character.name}, #{@scene.time.to_i-character.birth_year.to_i}", polymorphic_path([@scene,character])) %>
  <% character_scene=CharacterScene.where(character_id: character.id, scene_id: @scene.id) %>
  <%= link_to (fa_icon 'plus'), edit_polymorphic_path([@scene,character_scene[0]] ) %>
          <% unless character_scene[0].summary.nil? %>
           <%= character_scene[0].summary.to_plain_text %>
         <% end %>
</li>
<% end %>
</ul>
<% end %>
</p>

<p>
  <strong>Scenes:</strong>
  <br/>
<% scenes = Scene.where(insert_scene_id: @scene.id).order(:time,:abc) %>
<ul>
<% scenes.each do |iscene| %>
    <li><%= link_to(iscene.abc, polymorphic_path([@scripted, iscene])) %> <%= (iscene.section.nil? ? '' : '*') %><%= iscene.time_to_text %> : <%= iscene.name %></li>
    <% insert_scene = iscene %>
<% end %>

<% unless @scene.section.nil? %>
  <%= raw @scene.section.body %>
<% end %>
</ul>
</p>

<% @footer_content << "#{link_to 'Edit', edit_polymorphic_path([@situated, @scene]), :class => "btn btn-default" }" %>
<% if @scene.section.nil? %>
<% @footer_content << "#{link_to 'New Section',new_polymorphic_path([@scene,'section']), :class => "btn btn-default" }" %>
<% else %>
<% @footer_content << "#{link_to 'Edit Section',edit_polymorphic_path([@scene, @scene.section]), :class => "btn btn-default" }" %>
<% end %>
<% @footer_content << "#{link_to 'Characters', polymorphic_path([@scene, 'characters' ]), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{link_to 'Destroy', polymorphic_path([@situated, @scene]), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', (@scene.key_point.nil? ? polymorphic_path([@situated, 'scenes']) : polymorphic_path([@situated, @scene.key_point])), :class => "btn btn-default" }" %>
