<div class="row">
  <div class="col-sm-2"><%= link_to author.first_name , polymorphic_path([@object, author]), method: :get, title: 'Show' %></div>
  <div class="col-sm-2"><%= author.last_name %></div>
  <div class="col-sm-2"><%= author.books.size %></div>
  <div class="col-sm-2"><%= author.biblioentries.size %></div>
  <div class="col-sm-2"><%= link_to (fa_icon 'edit'), edit_polymorphic_path([@object, author], short: true), title: 'Edit' %>
  <%= link_to (fa_icon 'trash'), polymorphic_path([@object, author]), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></div>
</div>
