<h1>Authors</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Books</th>
      <th>Biblioentries</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.first_name %></td>
        <td><%= author.last_name %></td>
        <td><%= author.books.count %></td>
        <td><%= author.biblioentries.count %></td>
        <td><%= link_to (fa_icon 'search-plus'), polymorphic_path([@object, author]), title: 'Show' %></td>
        <td><%= link_to (fa_icon 'edit'), edit_polymorphic_path([@object, author]), title: 'Edit' %></td>
        <td><%= link_to (fa_icon 'trash'), polymorphic_path([@object, author]), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% add_to_footer('New Author', new_polymorphic_path([@object, :author])) %>
<% add_to_footer('Add Author', polymorphic_path([@object, :authors_list])) %>
<% add_to_footer('Back', polymorphic_path(@object)) %>
