<%= form_with url: polymorphic_path([@object, :authors_add]) do |f| %>

  <%= hidden_field "#{@object.class.name.underscore}_id", value: @object.id %>

<h2>Add/Remove Authors</h2>

<table class="table">
  <tr>
      <td style="width:40%">
          <%= select_tag :authors_ids, options_from_collection_for_select(@object.authors, :id, :name_with_initial), prompt: 'Select Authors', multiple: true, size: 20 %>
      </td><td style="width:20%">
          <%= f.submit class: 'btn btn-primary' %>
      </td><td style="width:40%">
          <%= select_tag :authors_avail, options_from_collection_for_select(Author.where(user_id: current_user.id).order(:last_name), :id, :name_with_initial), prompt: 'Select Author', multiple: true, size: 20 %>
      </td>
  </tr>
</table>

<% end %>

<% add_to_footer('New Author', new_polymorphic_path([@object, :author])) %>
<% add_to_footer('Back', polymorphic_path([@object, :authors])) %>
