<%= bootstrap_form_for actor_location_time, url: { controller: :actor_location_times, action: (actor_location_time.id.nil? ? :create : :update) } do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= hidden_field :location_time_id, @location_time.id %>
    <%= f.hidden_field :location_time_id, value: @location_time.id %>

    <%= f.select :actor_id, options_from_collection_for_select(@location_time.segment.stage.act.book.actors.order(:name), :id, :name, @actor_location_time.actor_id), value: @actor_location_time.actor_id, prompt: 'Select Actor', multiple: false, size: 1 %>
    <%= f.rich_text_area :role %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
