<h2>Actor Location Times</h2>

<table>
  <thead>
    <tr>
      <th>Actor</th>
      <th>Location time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actor_location_times.each do |actor_location_time| %>
      <tr>
        <td><%= actor_location_time.actor_id %></td>
        <td><%= actor_location_time.location_time_id %></td>
        <td><%= link_to 'Show', actor_location_time %></td>
        <td><%= link_to 'Edit', edit_actor_location_time_path(actor_location_time) %></td>
        <td><%= link_to 'Destroy', actor_location_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor Location Time', new_location_time_actor_location_time_path(@location_time) %>
