<p>
  <strong>Actor:</strong>
  <%= @actor_location_time.actor.name %>
</p>

<p>
  <strong>Location time:</strong>
  <%= @actor_location_time.location_time.location.name %>:
  <%= @actor_location_time.location_time.date_string %>
</p>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_actor_location_time_path(@actor_location_time), class: "btn", title: 'Edit' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), location_time_path(@location_time), class: "btn", title: 'Back' %>
</div>
