<p>
  <strong>Actor:</strong>
  <%= @actor_location_time.actor.name %>
</p>

<p>
  <strong>Location time:</strong>
  <%= @actor_location_time.location_time.location.name %>:
  <%= @actor_location_time.location_time.date_string %>
</p>

<div>
<%= link_to 'Edit', edit_actor_location_time_path(@actor_location_time), :class => "btn" %>
<%= link_to 'Back', location_time_path(@location_time), :class => "btn" %>
</div>
