<%= tabs do |c| %>
  <% @key_words.each do |key_word| %>
    <% c.tab key_word.key_word do %>
      <turbo-frame id="<%= dom_id key_word %>">
        <div><%= link_to key_word.key_word, key_word_path(key_word), method: :get %>
        <%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_key_word_path(key_word), data: { "turbo-frame": "new_object" }, title: 'Edit' %>
          <%= link_to (fa_icon 'trash', class: 'fa-fw'), key_word_path(key_word), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' %>
          <%= render partial: 'key_words/key_word_item', locals: { book: @book, key_word: key_word } %></div>
      </turbo-frame>
    <% end %>
  <% end %>
<% end %>
