<p id="notice"><%= notice %></p>

<h1>Key Words</h1>

<%= tabs do |c| %>
  <% @key_words.each do |key_word| %>
    <% c.tab key_word.key_word do %>
      <span>
        <div><%= link_to key_word.key_word, key_word_path(key_word) %><%= link_to (fa_icon 'edit'), edit_key_word_path(key_word), title: 'Edit' %>
          <%= link_to (fa_icon 'trash'), key_word_path(key_word), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' %>
          <%= render partial: 'key_words/key_words', locals: { book: @book, key_word: key_word } %></div>
      </span>
    <% end %>
  <% end %>
<% end %>
<br>

<% add_to_footer('New Key Word', new_polymorphic_path([@book, :key_word])) %>
<% add_to_footer('Back', book_path(@book)) %>
