<% old_date = '' %>
<% line_count = 0 %>
<% inserted_scenes = [] %>
<% last_scene = nil %>

<% scenes.keys.sort.each do |year| %>
  <% scenes[year].keys.sort.each do |month| %>
    <% scenes[year][month].keys.sort.each do |day| %>
      <% scenes[year][month][day].keys.sort.each do |hour| %>
        <% scenes[year][month][day][hour].keys.sort.each do |minute| %>
          <% scenes[year][month][day][hour][minute].each do |scene| %>
            <% case op %>
            <% when 'words' %>
              <% next unless scene.section.nil? or (scene.section.word_count <= high and scene.section.word_count > low) %>
              <%= render partial: 'scenes/scene_title', formats: [:html], locals: { scene: scene, scripted: scene.key_point.scripted, key_point: scene.key_point, pdf: nil, target: :_blank, long: long } %>
            <% when 'chars' %>
              <% next if scene.characters.size > 0 %>
              <%= render partial: 'scenes/scene_title', formats: [:html], locals: { scene: scene, scripted: scene.key_point.scripted, key_point: scene.key_point, pdf: nil, target: :_blank, long: long } %>
            <% when 'scenes' %>
              <% next if option == "no_section" && !scene.section.nil? %>
              <% next if option == "only_section" && scene.section.nil? %>
              <% next if option == "checked" && !scene.check? %>
              <% next if option == "not_checked" && scene.check? %>
              <% if toggle == "on" %>
                <tr>
                  <td class="text-wrap" style="width: 20%">
                  <% if print.nil? %>
                    <%= link_to scene.abc, scene_path(scene), target: :_blank %> <%= (scene.section.nil? ? '*' : '') %><br>
                  <% else %>
                    <%= scene.abc %> <%= (scene.section.nil? ? '*' : '') %><br>
                  <% end %>
                  <%= scene.key_point.name %></td>
                  <td class="text-nowrap"><%= scene.time_to_text %></td>
                  <td style="width: 20%"><%= scene.place %></td>
                  <td style="width: 20%">
                    <% scene.characters.order(:occupation_class, :last_name, :first_name).each do |character| %>
                      <%= character.full_name %><br>
                    <% end %>
                  </td>
                  <td><%= scene.plain_name %></td>
                </tr>
              <% else %>
                <% values = scene.set_values %>
                <div class='float-left'><%= (scene.section.nil? ? '*' : ' ') -%></div>
                <% if print.nil? %>
                  <%= render partial: 'scenes/scene_title', formats: [:html], locals: { scene: scene, scripted: scene.key_point.scripted, key_point: scene.key_point, pdf: nil, target: :_blank, long: long } %>
                <% else %>
                  <%= values.compact.collect(&:name).join('|') -%>
                <% end %>
              <% end %>
            <% when 'view' %>
              <% next if inserted_scenes.include?(scene.id) %>
              <% insert_scenes = Scene.where(insert_scene_id: scene.id) %>
              <% insert_scenes.each do |iscene| %>
                <% next if inserted_scenes.include?(iscene.id) %>
                <% next unless iscene.key_point.scripted.publish? %>
                <% inserted_scenes << iscene.id %>

                <%= render partial: 'scenes/scene_view', formats: [:html], locals: { scene: iscene, outline: outline, pdf: nil, long: long } %>
                <% line_count += 1 if outline %>
              <% end %>
              <% if scene.title_scene and scene.situated.title_page? %>
                <div style="display:block; clear:both; page-break-after:always;"></div>
                <h2><%= scene.situated.title %></h2>
                <% just_printed_page_break = true %>
              <% end %>
              <% if scene.title_scene and scene.situated.print_summary? %>
                <% if !outline %>
                  <%= scene.situated.summary_body %>
                  <div style="display:block; clear:both; page-break-after:always;"></div>
                  <% just_printed_page_break = true %>
                <% end %>
              <% end %>

              <% if scene.insert_scene_id.nil? %>
                <%= render partial: 'scenes/scene_view', formats: [:html], locals: { scene: scene, outline: outline, pdf: nil, long: long } %>
                <% if outline %>
                  <% if line_count == 50 %>
                    <% line_count = 0 %>
                    <!--  <div style="display:block; clear:both; page-break-after:always;"></div> -->
                  <% else %>
                    <% line_count += 1 if outline %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
