<%# if header.kind_of?(TrueClass) or header == "true" %>
<dt>
  <div class='title'> <%= link_to section.name, section_path(section), method: :get %> </div>
  <div class='medium'> <strong>Display name: <%= (section.display_name ? 'Y' : 'N') %></strong> </div>
  <div class='narrow'> <%= link_to (fa_icon 'edit'), edit_section_path(section), data: { "turbo-frame": "#{dom_id section}" }, title: 'Edit' %> </div>
  <div class='narrow'> <%= link_to (fa_icon 'trash'), section_path(section), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %> </div>
  <div style="clear:both"></div>
</dt>
<%# end %>
<dd>
  <%= render partial: 'shared/summary', locals: { object: section } %>
</dd>
