<dt>
  <div class='title'> <%= section.name %> </div>
  <div class='medium'> <strong>Display name: <%= (section.display_name ? 'Y' : 'N') %></strong> </div>
  <div class='narrow'> <%= link_to (fa_icon 'search-plus'), section_path(section), title: 'Show' %> </div>
  <div class='narrow'> <%= link_to (fa_icon 'edit'), edit_section_path(section), title: 'Edit' %> </div>
  <div class='narrow'> <%= link_to (fa_icon 'trash-o'), section_path(section), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %> </div>
  <div style="clear:both"></div>
</dt>
<dd>
  <%= render partial: 'shared/summary', locals: { object: section } %>
</dd>
