<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<%= link_to 'Add Event', section_holocene_events_path(@section) %> |
<%= datagrid_form_for @grid, :method => :get, :url => holocene_events_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>


<div class="navbar-fixed-bottom footer">
<%= link_to 'Edit', edit_book_chapter_section_path(@section.chapter.book, @section.chapter, @section) %> |
<%= link_to 'Timeline', section_timeline_path(@section.chapter.book, @section.chapter, @section) %> |
<%= link_to 'Back', book_chapter_sections_path(@section.chapter.book,@section.chapter) %>
</div>
