<h1>Sections for <%= @sectioned.class.name %> <%= @sectioned.name %></h1>

<table class="table table-striped">
  <tbody class="sortable">  <!-- sortable target -->
    <% @sections.each_with_sortable_id do |section, sortable_id| %>
      <tr id="<%= sortable_id %>">  <!-- Needs id tag on sorting elements -->
        <td><%= section.name %></td>
        <td><%= (section.display_name ? 'Y' : 'N') %></td>
        <td><%= render partial: 'shared/summary', locals: { object: section } %>
        <td><%= link_to (fa_icon 'search-plus'), section_path(section), title: 'Show' %></td>
        <td><%= link_to (fa_icon 'edit'), edit_section_path(section), title: 'Edit' %></td>
        <td><%= link_to (fa_icon 'trash-o'), section_path(section), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% add_to_footer('New Section', new_polymorphic_path([@sectioned, :section])) %>
<% add_to_footer('Back', polymorphic_path(@sectioned)) %>

<script>
$(document).ready(function() {
  $(function() {
    $('.sortable').railsSortable();
  });
});
</script>
