<p id="notice"><%= notice %></p>
<% @title = @section.name %>

<h2>
  <%== breadcrumb(nil, nil, nil, @section.sectioned, @section) %>
  <%= link_to (fa_icon 'edit'), edit_polymorphic_path([@sectioned, @section]), title: 'Edit' %>
</h2>
<table class="table">
  <tr>
    <th>Word Count:</th><td><%= number_with_delimiter(@section.word_count, delimiter: ',') %></td>
  </tr>
</table>

<% @slugs = [] -%>
<% @footnotes = Footnote.process_body(@section, @slugs) -%>
<% values = @section.set_values %>
<%== highlight(@footnotes[0], Regexp.new(KeyWord.where(book_id: values[0].id).collect(&:key_word).join('|'))) %>
<% @slugs += @footnotes[1] -%>

<% unless @section.holocene_events.length == 0 || @section.sectioned.show_events? -%>
  <% @section.holocene_events.order(:start_year).each do |he| -%>
    <% unless he.body.blank? -%>
      <% @footnotes = Footnote.process_body(he, slugs, (@footnotes.nil? ? 1 : @footnotes[2])) -%>
      <% @slugs += @footnotes[1] -%>
    <% end -%>
  <% end -%>
  <%= render 'holocene_events/index.html', holocene_events: @section.holocene_events.order(:start_year), noted: @noted %>
<% end -%>

<% unless @slugs.length == 0 -%>
  <%== Footnote.write_footnotes(@slugs) %>
<% end -%>

<% priv_section = Section.where(sectioned_id: @sectioned.id, sectioned_type: @sectioned.class.name, position: @section.position - 1) -%>
<% next_section = Section.where(sectioned_id: @sectioned.id, sectioned_type: @sectioned.class.name, position: @section.position + 1) -%>

<% add_to_footer('Edit', edit_section_path(@section)) %>
<% @footer_content << (link_to '<', section_path(priv_section.first), class: 'btn icon-ok icon-white').to_s unless priv_section.length.zero? %>
<% @footer_content << (link_to '>', section_path(next_section.first), class: 'btn icon-ok icon-white').to_s unless next_section.length.zero? %>
<% if @section.sectioned_type == "Chapter" %>
  <% @footer_content << (link_to 'Timeline', section_timeline_path(section_id: @section.id), class: 'btn icon-ok icon-white').to_s %>
  <% @footer_content << (link_to 'Display', section_display_path(section_id: @section.id), class: 'btn icon-ok icon-white').to_s %>
  <% @footer_content << (link_to 'Map', geo_map_section_path(@section), class: 'btn icon-ok icon-white').to_s %>
  <% add_to_footer('Footnotes', section_footnotes_path(@section)) %>
<% end -%>
<% add_to_footer('Back', polymorphic_path(@sectioned)) %>
