<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @section.body %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @section.rank %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
