<% date = @date.to_date %>
<% @title = date %>

<h2>History for <%= date %></h2>

<% counts = @dates_counts[@date.in_time_zone] %>
<% unless counts.nil? %>
  <% unless counts[0].zero? %>
    <%= "Created: #{number_with_delimiter(counts[0], delimiter: ',')}" %><br>
  <% end %>
  <% unless counts[1].zero? %>
    <%= "Modified: #{number_with_delimiter(counts[1], delimiter: ',')}" %><br>
  <% end %>
  <%= "Items: #{Metric.where(date: @date.in_time_zone).count}" %>
  <br>
<% end %>

<%= render partial: 'shared/metric', formats: [:html], locals: { objects: @metrics, title: "Items for #{@date.to_s}" } %>

<% add_to_footer('Progress', welcome_index_path) %>
<% add_to_footer('Stats', welcome_stats_path) %>
<% add_to_footer('History', welcome_history_path) %>
<% add_to_footer('Tags', welcome_tags_path) %>
<% add_to_footer('<', welcome_show_path(:date => (date - 1.day).to_s)) %>
<% add_to_footer('>', welcome_show_path(:date => (date + 1.day).to_s)) %>

<% unless @book.nil? %>
  <% add_to_footer('Back', welcome_index_path) %>
<% end %>

