<% date = @date.to_date %>
<% @title = date %>

<h2>History for <%= date %></h2>

<% counts = @dates_counts[@date.in_time_zone] %>
<% unless counts.nil? %>
  <% unless counts[0].zero? %>
    <%= "Created: #{number_with_delimiter(counts[0], delimiter: ',')}" %><br>
  <% end %>
  <% unless counts[1].zero? %>
    <%= "Modified: #{number_with_delimiter(counts[1], delimiter: ',')}" %><br>
  <% end %>
  <%= "Items: #{Metric.where(date: @date.in_time_zone).count}" %>
  <br>
<% end %>

<%= render partial: 'shared/metric', formats: [:html], locals: { objects: @metrics, title: "Items for #{@date.to_s}" } %>


<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'angle-left'), welcome_show_path(:date => (date - 1.day).to_s), class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'angle-right'), welcome_show_path(:date => (date + 1.day).to_s), class: 'btn icon-ok icon-white' %>
</div>

