<table class='table'>
    <tr><td><%= link_to "Holocene Events", holocene_events_path %></td><td><%= HoloceneEvent.count %></td></tr>
    <tr><td><%= link_to "Region", regions_path %>&nbsp;<%= Region.count %></td>
    <td><%= link_to "Event Type", event_types_path %>&nbsp;<%= EventType.count %></td></tr>
    <tr><td><table class='table'><tbody>
    <% Region.all.order(:name).each do |region| -%>
        <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "#{region.name}", region_path(region) %></td><td><%= region.holocene_events.count %></td></tr>
    <% end -%>
    </tbody></table></td>
    <td><table class='table'><tbody>
    <% EventType.all.order(:name).each do |event_type| -%>
        <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "#{event_type.name}", event_type_path(event_type) %></td><td><%= event_type.holocene_events.count %></td></tr>
    <% end -%>
    </tbody></table></td></tr>
    <tr><td><%= link_to "Timeline", timelines_path %></td><td><%= Timeline.count %></td></tr>
    <tr><td><%= link_to "Epoch", epochs_path %></td><td><%= Epoch.count %></td></tr>
    <tr><td><%= link_to "Book", books_path %></td><td><%= Book.count %></td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Chapter", book_chapters_path(Book.first) %></td><td><%= Chapter.count %></td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Section", book_chapter_sections_path(Chapter.first.book,Chapter.first) %></td><td><%= Section.count %></td></tr>
    <tr><td>Footnotes</td><td><%= Footnote.count %></td></tr>
    <tr><td>Biblioentries</td><td><%= Biblioentry.count %></td></tr>
    <tr><td>Authors</td><td><%= Author.count %></td></tr>
</table>
