<h1>Stats</h1>

<table class='table'>
    <tr><td><%= link_to 'Holocene Events', holocene_events_path %></td><td><%= HoloceneEvent.where(user_id: current_user.id).count %></td></tr>

    <tr><td><%= link_to 'Region', regions_path %>&nbsp;<%= Region.count %></td>
    <td><%= link_to 'Event Type', event_types_path %>&nbsp;<%= EventType.count %></td></tr>

    <tr><td>
 <div class='dropdown'>
  <button class='btn btn-default dropdown-toggle' type='button' id='menu1' data-toggle='dropdown'>Regions
  <span class='caret'></span></button>
  <ul class='dropdown-menu' role='menu' aria-labelledby='menu1'>
    <% Region.all.order(:name).each do |region| -%>
        <li><%= link_to "#{region.name} #{region.holocene_events.count}", region_path(region), html: { role: 'menu' } %></li>
    <% end -%>
  </ul>
 </div>
        </td>

    <td>
 <div class='dropdown'>
  <button class='btn btn-default dropdown-toggle' type='button' id='menu2' data-toggle='dropdown'>Event Types
  <span class='caret'></span></button>
  <ul class='dropdown-menu' role='menu' aria-labelledby='menu2'>
    <% EventType.all.order(:name).each do |event_type| -%>
        <li><%= link_to "#{event_type.name} #{event_type.holocene_events.count}", event_type_path(event_type), html: { role: 'menu' } %></li>
    <% end -%>
  </ul>
 </div>
    </td></tr>

    <tr><td><%= link_to 'Timeline', timelines_path %></td><td><%= Timeline.where(user_id: current_user.id).count %></td></tr>
    <tr><td><%= link_to 'Epoch', epochs_path %></td><td><%= Epoch.where(user_id: current_user.id).count %></td></tr>
    <tr><td><%= link_to 'Book', books_path %></td><td><%= Book.where(user_id: current_user.id).count %></td></tr>
    <% chapter_count = 0 %>
    <% chapter_section_count = 0 %>
    <% story_count = 0 %>
    <% story_section_count = 0 %>
    <% key_point_count = 0 %>
    <% scene_count = 0 %>
    <% footnote_count = 0 %>
    <% books = Book.where(user_id: current_user.id) %>
    <% books.each do |book| %>
      <% if book.is_fiction? %>
    <% unless book.stories.size == 0 %>
       <% book.stories.each do |story| %>
          <% story_section_count += story.section_count %>
          <% key_point_count += story.key_points.count %>
          <% scene_count += story.scene_count %>
          <% story_count += 1 %>
       <% end %>
    <% end %>
      <% else %>
    <% unless book.chapters.size == 0 %>
       <% chapter_count += book.chapters.count %>
       <% book.chapters.each do |chapter| %>
          <% chapter_section_count += chapter.sections.count %>
          <% footnote_count += chapter.footnotes.count %>
       <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% unless books.size == 0 %>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= 'Chapter' %></td><td><%= chapter_count %></td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= 'Chapter sections' %></td><td><%= chapter_section_count %></td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= 'Story' %></td><td><%= story_count %></td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= 'Key Point' %></td><td><%= key_point_count %></td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= 'Scene' %></td><td><%= scene_count %></td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= 'Story sections' %></td><td><%= story_section_count %></td></tr>
    <tr><td>Footnotes</td><td><%= footnote_count %></td></tr>
    <tr><td>Biblioentries</td><td><%= Biblioentry.where(user_id: current_user.id).count %></td></tr>
    <tr><td>Authors</td><td><%= Author.where(user_id: current_user.id).count %></td></tr>
    <% end %>
</table>
<hr>
<% add_to_footer('Tags', welcome_tags_path) %>
<% add_to_footer('Progress', welcome_index_path) %>
<% unless @book.nil? %>
  <% add_to_footer('Back', book_path(@book)) %>
<% end %>
