<p id="notice"><%= notice %></p>

<h1>Location Times</h1>

<table>
  <thead>
    <tr>
      <th>Date String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @location_times.each do |location_time| %>
      <tr>
        <td><%= location_time.date_string %></td>
        <td><%= link_to 'Show', location_time %></td>
        <td><%= link_to 'Edit', edit_location_time_path(location_time) %></td>
        <td><%= link_to 'Destroy', location_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location Time', new_segment_location_time_path(@segment) %>
