<p>
  <strong>Location:</strong>
  <%= @location_time.location.name %>
</p>

<p>
  <strong>Loc time:</strong>
  <%= @location_time.date_string %>
</p>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-2'>
     Actors 
      <%= link_to (fa_icon 'edit', class: 'fa-fw'), new_location_time_actor_location_time_path(@location_time), title: 'New Actor', title: (fa_icon 'plus') %>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-4'>
      <ul>
    <% @location_time.actor_location_times.each do |actor_time| %>
        <li><%= link_to actor_time.actor.name, actor_location_time_path(actor_time)  %></li>
    <% end %>
    </ul>
    </div>
  </div>
  </div>


  <div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_location_time_path(@location_time), class: "btn", title: 'Edit' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), segment_location_times_path(@segment), class: "btn", title: 'Back' %>
  </div>
