      <tr>
        <td><%= link_to character_value.character_attribute.character_category_name, polymorphic_path([@object, @character, character_value]), method: :get %></td>
        <td><%= character_value.character_attribute_name %></td>
        <td><%= character_value.value %></td>
        <td><%= link_to 'Edit', edit_polymorphic_path([@object, @character, character_value]), data: { "turbo-frame": "new_object" } %></td>
        <td><%= link_to 'Destroy', polymorphic_path([@object, @character, character_value]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
