<% @title = "Character Values" %>
<h2>Character Values</h2>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Attribute</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @character_values.includes([{ character_attribute: :character_category }]).joins(:character_attribute).order(:name).each do |character_value| %>
      <tr>
        <td><%= character_value.character_attribute.character_category_name %></td>
        <td><%= character_value.character_attribute_name %></td>
        <td><%= character_value.value %></td>
        <td><%= link_to 'Show', polymorphic_path([@object, @character, character_value]) %></td>
        <td><%= link_to 'Edit', edit_polymorphic_path([@object, @character, character_value]) %></td>
        <td><%= link_to 'Destroy', polymorphic_path([@object, @character, character_value]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_polymorphic_path([@object, @character, :character_value]), class: 'btn', title: 'New Character Value' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path([@object, @character]), class: 'btn', title: 'Back' %>
</div>
