<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @character_value.character_id %>
</p>

<p>
  <strong>Character attribute:</strong>
  <%= @character_value.character_attribute_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @character_value.value %>
</p>

<%= link_to 'Edit', edit_character_value_path(@character_value) %> |
<%= link_to 'Back', character_values_path(:character_id => @character.id) %>
