<%= bootstrap_form_for signet, url: { controller: :signets, action: (signet.id.nil? ? :create : :update) } do |f| %>
<%= hidden_field_tag :short, @short %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% colors = [] %>
    <% indx = 0 %>
    <% while indx < Signet.num_of_colors %>
      <% colors << [Signet.color_name(indx), indx] %>
      <% indx += 1 %>
    <% end %>
    <%= f.select :color, options_for_select(colors) %>

    <%= f.text_field :message %>

    <%= f.hidden_field :sigged_type %>
    <%= f.hidden_field :sigged_id %>
    <%= hidden_field "#{sigged.class.name.underscore}_id", value: sigged.id %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
