<h2>Editing Signet - <%= @sigged.class.name %>: <%= @sigged.name %></h2>

<turbo-frame id="<%= dom_id @signet %>">
  <%= render 'form', signet: @signet, sigged: @sigged %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  polymorphic_path([@sigged, :signets]), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
