<h1>Editing Signet</h1>

<%= render 'form', signet: @signet %>

<%= link_to 'Show', @signet %> |
<% if @signet.sigged.class.name == "Chapter" %>
  <%= link_to 'Back', chapter_signets_path(:chapter_id => @sigged.id) %>
<% elsif @signet.sigged.class.name == "Section" %>
<%= link_to 'Back', section_signets_path(:section_id => @sigged.id) %>
<% elsif @signet.sigged.class.name == "Book" %>
<%= link_to 'Back', book_signets_path(:book_id => @sigged.id) %>
<% end %>

