<p id="notice"><%= notice %></p>

<h1>Signets</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Color</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td colspan="3"><%= (@sigged.nil? ? '' : @sigged.name) %></td>
      </tr>

    <% @signets.each do |signet| %>
      <tr>
        <td class="<%= Signet.color_class(signet.color) %>"><%= Signet.color_name(signet.color) %></td>
        <td class="color-<%= Signet.color(signet.color) %>"><%= signet.message %></td>
        <td><%= link_to (fa_icon "tv"), signet %>
        <%= link_to (fa_icon "pencil"), edit_signet_path("#{@sigged.class.name.underscore}_id".to_sym => @sigged.id, :id => signet.id) %>
        <%= link_to (fa_icon "trash-o"), signet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @footer_content << (link_to 'New Signet', new_polymorphic_path([@sigged, :signet]), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', polymorphic_path([@sigged, :signets]), class: 'btn btn-default').to_s %>

