<% @title = "Signets" %>
  <h2>Signets - <%= @sigged.class.name %>: <%= @sigged.name %></h2>

<turbo-frame id="<%= dom_id @sigged %>">
  <%= render partial: "signets/signet_index", locals: { sigged: @sigged } %>
</turbo-frame>

<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_polymorphic_path([@sigged, :signet]), class: 'btn', title: 'New Signet' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path(@sigged), class: "btn", title: "Back" %>
</div>
