<% @title = "Notes" %>

<turbo-frame id="<%= dom_id @sigged %>">
<h2>Notes <%= @sigged.class.name %>: <%= @sigged.name %></h2>
<table class='table'>
  <thead>
    <tr>
      <th>Scene</th>
      <th>Signet</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @signets.each do |signet| %>
      <tr>
        <td></td>
        <%= render partial: 'signets/signet_line', locals: { signet: signet, sigged: @sigged } %>
      </tr>
    <% end %>
<% if (@sigged.class.name == 'Book' and @sigged.is_fiction?) or @sigged.class.name == 'Story' %>
    <% scenes = Scene.get_scenes_to_array(@sigged) %>
    <% old_scene = nil %>
    <% scenes.each do |scene_id| %>
      <% scene = Scene.find(scene_id) %>
      <% scene.signets.each do |signet| %>
        <tr>
          <td><%= link_to (scene == old_scene ? "" : scene.section.present? ? scene.section.name : scene.name), scene_path(scene), target: :_blank %></td>
          <% old_scene = scene %>
          <%= render partial: 'signets/signet_line', locals: { signet: signet, sigged: scene } %>
        </tr>
      <% end %>
    <% end %>
<% end %>
  </tbody>
</table>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path(@sigged), method: :get, class: "btn", title: "Back" %>
</turbo-frame>
