<tr>
  <td><%= link_to segment.name, segment, method: :get %></td>
  <td><%= segment.scene.nil? ? '' : link_to(segment.scene.name, segment.scene, method: :get) %></td>
  <td><%= segment.location_times.size %></td>
  <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_segment_path(segment), title: 'Edit' %>
  <%= link_to (fa_icon 'trash', class: 'fa-fw'), segment, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
</tr>
