<div class="row">
  <div class="col-sm-2"><%= link_to segment.name, segment, method: :get %></div>
  <div class="col-sm-2"><%= segment.scene.nil? ? '' : link_to(segment.scene.name, segment.scene, method: :get) %></div>
  <div class="col-sm-2"><%= segment.location_times.size %></div>
  <div class="col-sm-2"><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_segment_path(segment, short: true), title: 'Edit' %>
  <%= link_to (fa_icon 'trash', class: 'fa-fw'), segment, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></div>
</div>
