<% op ||= nil %>
<p>
  <strong>Scene:</strong>
  <%= segment.scene.nil? ? '' : segment.scene.name %>
</p>

<p>
  <%= segment.desc %>
</p>

<% locs = segment.location_times.includes(:location).pluck("locations.name").sort.uniq %>
<% if op == "locations" %>
  <%= link_to (fa_icon 'plus'), new_segment_location_time_path(segment_id: segment.id), title: 'New Location Time' %>
<% end %>
<table class="table table-sm table-responsive table-striped" style="width:auto">
  <thead class="bg-light sticky-top" style="position: sticky;top: 0">
  <% if op == "actors" %>
    <tr>
      <th></th>
    <% locs.each do |loc| %>
      <th><%= loc %></th>
    <% end %>
    </tr>
  <% end %>
  </thead>
  <tbody>
  <% if op == "locations" %>
    <% locs.each do |loc| %>
      <tr>
        <th><%= loc %></th>
        <td>
          <%= render partial: "location_times/show2", locals: { location: loc, segment: segment } %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <% actor_ids = ActorLocationTime.where(location_time_id: segment.location_times).pluck(:actor_id).sort.uniq %>
    <% actors = Actor.where(id: actor_ids) %>
    <% actors.order("name").each do |actor| %>
      <tr>
        <th><%= actor.name %></th>
        <% locs.each do |loc| %>
          <td>
            <% my_loc = Location.where(name: loc)[0] %>
          <% act_locs = ActorLocationTime.where(actor_id: actor.id).includes(:location_time).where("location_times.location_id": my_loc).order("location_times.date_string") %>
          <table class="table table-sm table-striped">
            <tbody>
            <% act_locs.each do |act_loc| %>
              <tr>
                <td>
                  <%= render partial: "actor_location_times/list_line", locals: { act_loc: act_loc, skip_date: true } %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </td>
      <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
