<% op ||= nil %>
<% locs = LocationTime.where(segment_id: segments).includes(:location).pluck("locations.name").sort.uniq %>
<table class="table table-sm table-striped table-responsive" style="width: auto">
  <thead class="bg-light sticky-top">
    <tr>
      <th style="width: 100px;"></th>
    <% locs.each do |loc| %>
      <th style="width: 100px;"><%= loc %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% loc_times = LocationTime.where(segment_id: segments) %>
    <% actor_ids = ActorLocationTime.where(location_time_id: loc_times).pluck(:actor_id).sort.uniq %>
    <% actors = Actor.where(id: actor_ids) %>
    <% actors.order("name").each do |actor| %>
      <tr>
        <th><%= actor.name %></th>
        <% locs.each do |loc| %>
          <td>
            <table class="table table-sm table-striped">
              <tbody>
              <% my_loc = Location.where(name: loc)[0] %>
              <% act_locs = ActorLocationTime.where(actor_id: actor.id).includes(:location_time).where("location_times.location_id": my_loc).order("location_times.date_string") %>
              <% act_locs.each do |act_loc| %>
                <tr>
                  <td><strong><%= act_loc.location_time.date_string %>: <%= act_loc.location_time.location.name %></strong>:<%= link_to (fa_icon 'plus'), new_location_time_actor_location_time_path(act_loc.location_time) %> <%= act_loc.role.to_plain_text %><%= link_to (fa_icon 'edit'), edit_actor_location_time_path(act_loc) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
