<h2>Segments</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Scene</th>
      <th>Location Times</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @segments.each do |segment| %>
      <tr>
        <td><%= link_to segment.name, segment %></td>
        <td><%= segment.scene.nil? ? '' : link_to(segment.scene.name, segment.scene) %></td>
        <td><%= segment.location_times.size %></td>
        <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_segment_path(segment), title: 'Edit' %>
        <%= link_to (fa_icon 'trash', class: 'fa-fw'), segment, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_stage_segment_path(@stage), :class => "btn" %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), stage_path(@stage), :class => "btn" %>
</div>
