<p>
  <strong>
    <%= @segment.name %>
  </strong>
</p>

<p>
  <strong>Stage:</strong>
  <%= @segment.stage.name %>
</p>

<%= render partial: "segments/show", locals: { segment: @segment, op: 'locations' } %>
<div>
<%= link_to 'Edit', edit_segment_path(@segment), :class => "btn" %>
<%= link_to 'Back', stage_path(@stage), :class => "btn" %>
</div>
