<p>
<strong>Name:</strong>
<%= @tour.name %>
</p>

<p>
<strong>Story:</strong>
<%= @tour.story.name %>
</p>

<div data-controller='grids' data-grids-gridtype-value="itinerary" data-grids-url-value='<%= tour_itineraries_path(@tour) %>'>
  <div data-grids-target="grid_form">
    <%= datagrid_form_for @grid, method: :get, url: tour_itineraries_path(@tour), partials: 'itinerary_grid', data: { action: "grids#processSearch" } %>
    <div id="grid_data" data-grids-target="grid_data">
      <%== pagy_info(@pagy) %>
      <%= datagrid_table @grid, @records, partials: 'itinerary_grid' %>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
