<% @title = "Tours" %>
<h2>Tours for <%= @story.name %></h2>

<table class="table">
  <thead>
    <tr>
      <th>Story</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= link_to tour.story.name, tour_path(tour) %></td>
        <td><%= tour.name %></td>
        <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_tour_path(tour), title: 'Edit' %>
        <%= link_to (fa_icon 'trash', class: 'fa-fw'), tour_path(tour), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_story_tour_path(@story), class: 'btn', title: 'New Tour' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), story_path(@story), class: 'btn', title: 'Back' %>
</div>
