<p id="notice"><%= notice %></p>

<h1>Tours for <%= @story.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Story</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.story.name %></td>
        <td><%= tour.name %></td>
        <td><%= link_to 'Show', tour_path(tour) %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour_path(tour), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% add_to_footer('New Tour', new_story_tour_path(@story)) %>
<% add_to_footer('Back', story_path(@story), print: true) %>
