<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Story:</strong>
  <%= @tour.story.name %>
</p>

<%= link_to 'Add City', url_for(controller: 'cities', action: 'add_city',
                                "#{@tour.class.name.underscore}_id".to_sym => @tour.id), class: 'btn btn-secondary' %>

<%= datagrid_form_for @grid, method: :get, url: tour_itineraries_path(@tour), partials: 'itinerary_grid' %>
<%== pagy_info(@pagy) %>
<%= datagrid_table @grid, @records, partials: 'itinerary_grid' %>
<%== pagy_nav(@pagy) %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_tour_path(@tour), class: 'btn', title: 'Edit' %>
<%= link_to (fa_icon 'list', class: 'fa-fw'), tour_itineraries_path(@tour), class: 'btn', title: 'Itinerary' %>
<%= link_to (fa_icon 'map', class: 'fa-fw'), geo_map_tour_path(@tour), class: 'btn', title: 'Map' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), story_tours_path(@story), class: 'btn', title: 'Back' %>
</div>
