<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Story:</strong>
  <%= @tour.story.name %>
</p>

<%= link_to 'Add City', url_for(:controller => 'cities', :action => 'add_city',
                                "#{@tour.class.name.underscore}_id".to_sym => @tour.id), class: 'btn btn-secondary' %>

<%= datagrid_form_for @grid, method: :get, url: tour_itineraries_path(@tour), partials: 'itinerary_grid' %>
<%== pagy_info(@pagy) %>
<%= datagrid_table @grid, @records, partials: 'itinerary_grid' %>
<%== pagy_nav(@pagy) %>

<% add_to_footer('Edit', edit_tour_path(@tour), print: true) %>
<% add_to_footer('Itinerary', tour_itineraries_path(@tour), print: true) %>
<% add_to_footer('Map', geo_map_tour_path(@tour)) %>`
<% add_to_footer('Back', story_tours_path(@story), print: true) %>
