<div id="<%= dom_id page %>">
  <p>
    <strong>Name:</strong>
    <%= page.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= page.user.email %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= page.slug %>
  </p>

  <%= page.body %>
</div>
