<% if @book.is_fiction? %>
  <%= render 'books/fiction', book: @book, stories: @stories, long: @long %>
<% else %>
  <table class='table'>
    <tr>
      <th>Chapters:</th>
      <td class='text-right'><%= @book.chapters.size %></td>
      <th>Word Count:</th>
      <td class='text-right'><%= number_with_delimiter(@book.word_count, delimiter: ',') %></td>
    </tr>
  </table>

  <% if @long.nil? %>
    <%= render 'books/toc', chapters: @chapters %>
  <% else %>
    <%= render 'chapters/index', chapters: @chapters %>
  <% end %>
<% end %>
