  <% bt_count = g_count = o_count = b_count = z_count = words_total = pot_word_count = 0 %>
  <% book.stories.where(publish: true).each do |story| %>
    <% word_counts = story.word_counts %>
    <% words_total += word_counts.length %>
    <% bt_count += word_counts.collect{|x| x > @better_wc ? 1 : 0 }.sum %>
    <% g_count  += word_counts.collect{|x| x <= @better_wc ? x > @mid_wc ? 1 : 0 : 0 }.sum %>
    <% o_count  += word_counts.collect{|x| x <= @mid_wc ? x > @low_wc ? 1 : 0 : 0 }.sum %>
    <% b_count  += word_counts.collect{|x| x <= @low_wc ? 1 : 0 }.sum %>
    <% z_count  += word_counts.collect{|x| x == 0 ? 1 : 0 }.sum %>
  <% end %>

<% bt_ratio = bt_count.zero? ? 0 : bt_count.to_f / words_total %>
<% g_ratio  = g_count.zero?  ? 0 : g_count.to_f  / words_total %>
<% o_ratio  = o_count.zero?  ? 0 : o_count.to_f  / words_total %>
<% b_ratio  = b_count.zero?  ? 0 : b_count.to_f  / words_total %>

<% items2 = [{ label: 'Better', color: good_color, width:  100.0 * bt_ratio },
             { label: 'Good', color: okay_color, width: 100.0 * g_ratio },
             { label: 'Okay', color: caution_color, width: 100.0 * o_ratio },
             { label: 'Bad', color: bad_color, width:  100.0 * b_ratio }] %>

<% scene_count = book.scene_count %>
<% section_count = book.section_count %>
<% word_count = book.word_count %>
<% word_avg = scene_count == z_count ? 0 : word_count / (scene_count - z_count) %>

  <% book.stories.where(publish: true).each do |story| %>
    <% word_counts = story.word_counts %>
    <% pot_word_count += word_counts.collect{|x| x > word_avg ? x : word_avg}.sum %>
  <% end %>
<% pub_scene_count = book.scene_count(true) %>
<% pub_word_count = book.word_count(true) %>

<table class="table">
  <tr>
    <th>Stories(Publishable):</th>
    <td><%= book.stories.size %> (<%= book.stories.where(publish: true).size %>)</td>
    <th>Characters:</th>
    <td><%= book.characters.size %></td></tr>
  <tr>
    <th>Scenes (Publishable)(Sections % Scenes):</th>
    <td>
      <%#= render partial: 'scenes/progress_bar', formats: [:html], locals: { object: book } %>
      <%= render partial: 'shared/progress_bar', locals: { items: items2 } %>
    </td>
    <th>Word Count | Publishable (Potential):</th>
    <td><%= number_with_delimiter(word_count, delimiter: ',') %> | 
      <%= number_with_delimiter(pub_word_count, delimiter: ',') %> (<%= (section_count.zero? ? '' : number_with_delimiter(pot_word_count, delimiter: ',')) %>)
      <%= number_to_percentage(pub_word_count.to_f/pot_word_count*100) %></td>
  </tr>
</table>
