<% z_count = 0 %>
<% book.stories.each do |story| %>
  <% word_counts = story.word_counts %>
  <% z_count  += word_counts.collect{|x| x <= 10 ? 1 : 0 }.sum %>
<% end %>

<% word_count = book.word_count %>
<% scene_count = book.scene_count %>
<% word_avg = word_count / (scene_count - z_count) %>



<% if long %>
  <%= render partial: 'books/book_stats', locals: { book: book } %>
<% end %>

<%= tabs do |c| %>
  <% c.tab 'Stories' do %>
    <span>
        <%= render partial: 'stories/index', formats: [:html], locals: { stories: stories, book: book, long: long, word_count: word_count, scene_count: scene_count, word_avg: word_avg } %>
    </span>
  <% end %>

  <% c.tab 'Gender' do %>
    <span>
      <div id='gender'>
      <%= render partial: 'shared/stats2', formats: [:html], locals: { category: 'Gender', value_attribute: 'Gender', attribute: 'sex', object: book } %>
      </div>
    </span>
  <% end %>

  <% c.tab 'Ethnicity' do %>
    <span>
      <%= render partial: 'characters/attribute_count', formats: [:html], locals: { object: book, field: :ethnicity } %>
    </span>
  <% end %>

  <% c.tab 'Occupation Class' do %>
    <span>
      <%= render partial: 'characters/attribute_count', formats: [:html], locals: { object: book, field: :occupation_class } %>
    </span>
  <% end %>

  <% c.tab 'Characters' do %>
    <span>
      <%= render partial: 'characters/characters_occ_ul', formats: [:html], locals: { object: book } %>
    </span>
  <% end %>
<% end %>
