<% word_count = scene_count = word_avg = 0 %>
<turbo-frame id="objects">
<% if long.kind_of?(TrueClass) or long == "true" %>
  <% z_count = 0 %>
  <% book.stories.each do |story| %>
    <% word_counts = story.word_counts %>
    <% z_count  += word_counts.collect{|x| x <= 10 ? 1 : 0 }.sum %>
  <% end %>

  <% word_count = book.word_count %>
  <% scene_count = book.scene_count %>
  <% word_avg = word_count / (scene_count - z_count) %>
  <%= render partial: 'books/book_stats', locals: { book: book } %>
<% end %>
<%= tabs do |c| %>

<% c.tab 'Stories' do %>
  <%= render partial: 'stories/stories', formats: [:html], locals: { stories: stories, book: book, long: long, all: all,
                                                                   word_count: word_count, scene_count: scene_count, word_avg: word_avg } %>
<% end %>

<% c.tab 'Summary' do %>
  <%= @book.summary %>
<% end %>

<% c.tab 'Body' do %>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-12'>
          <p>
          <%= @book.body %>
          </p>
          <% @stories.each do |story| %>
            <% next unless story.title_page? or story.print_summary? %>
            <p><strong><%= story.name %></strong><br>
              <%= story.summary_body %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% end %>
</turbo-frame>
