<% long ||= nil %>
<h2>
  <%== breadcrumb(book, link: true) %>
</h2>
<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'edit', type: :regular, class: 'fa-fw'), edit_book_path(book), title: 'Edit', class: 'btn' %>
  <%= link_to (fa_icon 'sticky-note', type: :regular, class: 'fa-fw'), book_signets_path(book), title: 'Signets', class: 'btn' %>
  <%= link_to (fa_icon 'sticky-note', type: :regular, class: 'fa-fw'), book_notes_path(book), title: 'Notes', class: 'btn' %>
  <% if long %>
  <%= link_to (fa_icon 'minus', type: :solid, class: 'fa-fw'), book_path(book), title: 'Show', class: 'btn' %>
  <% else %>
  <%= link_to (fa_icon 'expand', type: :solid, class: 'fa-fw'), book_path(book, long: true), title: 'Show, long', class: 'btn' %>
  <% end %>
  <% if action_name == 'toc' %>
  <%= link_to (fa_icon 'list', type: :solid, class: 'fa-fw'), book_path(book), title: 'Book View', class: 'btn' %>
  <% else %>
  <%= link_to (fa_icon 'list', type: :solid, class: 'fa-fw'), toc_path(book), title: 'Table of Contents', class: 'btn' %>
  <% end %>
  <%= link_to (fa_icon 'newspaper', type: :solid, class: 'fa-fw'), book_view_path(book), title: 'View', class: 'btn' %>
  <%= link_to (fa_icon 'newspaper', type: :regular, class: 'fa-fw'), book_view_path(book, outline: true, long: true), title: 'View, outline', class: 'btn' %>
  <%= link_to (fa_icon 'file-pdf', type: :solid, class: 'fa-fw'), book_path(book, format: :pdf), title: 'PDF', class: 'btn' %>
</div>
