<% long ||= nil %>
<h2>
  <%== breadcrumb(book, link: true) %>
</h2>
<div id="side_controls">
  <%= link_to (fa_icon 'edit', type: :regular), edit_book_path(book), title: 'Edit', class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'sticky-note', type: :regular), book_signets_path(book), title: 'Signets', class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'sticky-note', type: :regular), book_notes_path(book), title: 'Notes', class: 'btn icon-ok icon-white' %>
  <% if long %>
  <%= link_to (fa_icon 'list', type: :solid), book_path(book), title: 'Show', class: 'btn icon-ok icon-white' %>
  <% else %>
  <%= link_to (fa_icon 'list', type: :solid), book_path(book, long: true), title: 'Show', class: 'btn icon-ok icon-white' %>
  <% end %>
  <%= link_to (fa_icon 'newspaper', type: :solid), book_view_path(book), title: 'View', class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'newspaper', type: :regular), book_view_path(book, outline: true), title: 'View, outline', class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'newspaper', type: :regular), book_view_path(book, outline: true, long: true), title: 'View, outline, long', class: 'btn icon-ok icon-white' %>
  <%= link_to (fa_icon 'file-pdf', type: :solid), book_path(book, format: :pdf), title: 'PDF', class: 'btn icon-ok icon-white' %>
</div>
