<% unless scenes.size == 0 %>
  <strong><%= date %></strong>
  <ul>
    <% scenes.keys.sort.each do |year| %>
      <% scenes[year].keys.sort.each do |month| %>
        <% scenes[year][month].keys.sort.each do |day| %>
          <% scenes[year][month][day].each do |scene| %>
            <% next if !no_section.nil? && !scene.section.nil? %>
            <li><%= (scene.section.nil? ? '*' : ' ') %>
              <%= scene.time_to_text %>
              <% values = scene.set_values %>
              <% if print.nil? %>
                <%== surpress_first(breadcrumb(values[0], values[1], values[2], values[3], values[4], link: true)) %>
              <% else %>
                <%= values.compact.collect(&:name).join('|') %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
