<% pdf ||= nil %>
<% outline ||= nil %>

<h2><%= book.name %></h2>

<%= render 'authors/index', formats: [:html], authors: book.authors %>

<%== epub_friendly(book.body) %><br>

<% book.key_points.order(:position).each do |key_point| -%>
    <%= render 'key_points/show', formats: [:html], scripted: key_point.scripted, book: book, key_point: key_point, epub: false %>
<% end -%>

<% @notes = {} -%>
<% line_count = 0 %>
<% inserted_scenes = [] %>
<% last_scene = nil %>

<% if book.is_fiction? %>
  <% scenes = Scene.get_scenes(book, 'off') %>
  <% scenes.keys.sort.each do |year| %>
    <% scenes[year].keys.sort.each do |month| %>
      <% scenes[year][month].keys.sort.each do |day| %>
        <% scenes[year][month][day].keys.sort.each do |hour| %>
          <% scenes[year][month][day][hour].keys.sort.each do |minute| %>
            <% scenes[year][month][day][hour][minute].each do |scene| %>
              <% next if inserted_scenes.include?(scene.id) %>
              <% insert_scenes = Scene.where(insert_scene_id: scene.id) %>
              <% insert_scenes.each do |iscene| %>
                <% next if inserted_scenes.include?(iscene.id) %>
                <% next unless iscene.key_point.scripted.publish? %>
                <% inserted_scenes << iscene.id %>

                <%= render partial: 'scenes/scene_view', formats: [:html], locals: { scene: iscene, outline: outline, pdf: nil } %>
                <% line_count += 1 if outline %>
              <% end %>
              <% if scene.title_scene and scene.situated.title_page? %>
                <div style="display:block; clear:both; page-break-after:always;"></div>
                <h2><%= scene.situated.title %></h2>
                <% just_printed_page_break = true %>
              <% end %>
              <% if scene.title_scene and scene.situated.print_summary? %>
                <% if !outline %>
                  <%= scene.situated.summary_body %>
                  <div style="display:block; clear:both; page-break-after:always;"></div>
                  <% just_printed_page_break = true %>
                <% end %>
              <% end %>

              <% if scene.insert_scene_id.nil? %>
                <%= render partial: 'scenes/scene_view', formats: [:html], locals: { scene: scene, outline: outline, pdf: nil } %>
                <% if outline %>
                  <% if line_count == 50 %>
                    <% line_count = 0 %>
                    <!--  <div style="display:block; clear:both; page-break-after:always;"></div> -->
                  <% else %>
                    <% line_count += 1 if outline %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end -%>
<% else %>
  <%# chapters.includes(partition: { :rich_text_body }, chapter: { :rich_text_body }, aside: { :rich_text_body }).each do |chapter| -%>
  <% chapters.includes(:partition, :rich_text_body, :aside).each do |chapter| -%>
    <%= render 'chapters/show', formats: [:html], book: book, chapter: chapter, epub: false %>
  <% end -%>
<% end -%>

<% unless book.is_fiction? %>
  <div style="display:block; clear:both; page-break-after:always;"></div>
  <h2>Citations</h2>

  <% @slugs = [] %>
  <% chapters.includes([:rich_text_body]).each do |chapter| -%>
    <% unless chapter.citations.size == 0 && chapter.holocene_events.size == 0-%>
      <h3><%== chapter.name %></h3>
    <% end -%>
    <% unless chapter.citations.size == 0 -%>
      <%== render 'footnotes/citations', formats: [:html], slugs: @slugs, footnotes: chapter.citations, chapter: chapter, links: false %>
    <% end -%>


    <% @slugs = [] %>
    <% @notes = {} -%>
    <% @footnotes = ['', [], 1] %>
    <% unless chapter.holocene_events.size == 0 or chapter.always_display_events? -%>
      <%== render 'holocene_events/index', formats: [:html], holocene_events: chapter.holocene_events.order(:start_year), chapter: chapter, links: false, epub: true, short: true, slugs: @slugs %>
      <% unless @slugs.size == 0 -%>
        <%== Footnote.write_footnotes(@slugs) -%>
      <% end -%>
    <% end -%>
  <% end -%>

  <% unless HoloceneEvent.where(user_id: current_user.id).size == 0 -%>
    <h3>Holocene Events<h3>
    <%== render 'holocene_events/index', formats: [:html], holocene_events: HoloceneEvent.where(user_id: current_user.id).order(:start_year), chapter: nil, links: false, epub: true, short: false, slugs: @slugs %>
    <% unless @slugs.size == 0 -%>
      <%== Footnote.write_footnotes(@slugs) -%>
    <% end -%>
  <% end -%>
  <% unless book.glossary_terms.size == 0 -%>
    <%= render 'glossary_terms/index', formats: [:html], glossary_terms: book.glossary_terms.order(:name) %>
  <% end -%>
  <% unless book.biblioentries.size == 0 -%>
    <%= render 'biblioentries/index', formats: [:html], biblioentries: book.biblioentries %>
  <% end -%>
<% end -%>
