<% if @book.is_fiction? %>
  <%= render 'books/fiction', book: @book, stories: @stories, long: @long, all: @all %>
<% else %>
  <table class='table'>
    <tr>
      <th>Chapters:</th>
      <td class='text-right'><%= @book.chapters.size %></td>
      <th>Word Count:</th>
      <td class='text-right'><%= number_with_delimiter(@book.word_count, delimiter: ',') %></td>
    </tr>
  </table>

  <div id="<%= @book.is_fiction? ? 'stories' : 'chapters' %>">
    <turbo-frame id="sub_objects">
  <% if @long.nil? or @long.kind_of?(FalseClass) or @long == "false" %>
    <%= render 'books/toc', chapters: @chapters %>
  <% else %>
    <%= render 'chapters/index', chapters: @chapters %>
  <% end %>
    </turbo-frame>
  </div>
<% end %>
