<% pdf ||= nil %>
<% outline ||= nil %>

<%= render 'authors/index', formats: [:html], authors: book.authors %>

<strong>Copyright:</strong><%= Date.today.strftime("%Y") %>
<% if outline.nil? %>
<p>
<%== epub_friendly(book.body) %>
</p>
<% end %>

<div style="display:block; clear:both; page-break-after:always;"></div>

<% @notes = {} -%>

<% if book.is_fiction? %>
  <% scenes = Scene.get_scenes_wi_to_array(book, 'off') %>
  <%= render partial: 'shared/scenes', locals: { scenes: scenes, op: 'view', outline: outline, pdf: pdf, long: long } %>
<% else %>
  <%# chapters.includes(partition: { :rich_text_body }, chapter: { :rich_text_body }, aside: { :rich_text_body }).each do |chapter| -%>
  <% chapters.includes(:partition, :rich_text_body, :aside).each do |chapter| -%>
    <%= render 'chapters/show', formats: [:html], book: book, chapter: chapter, epub: false %>
  <% end -%>
<% end -%>

<% unless book.is_fiction? %>
  <div style="display:block; clear:both; page-break-after:always;"></div>
  <h2>Citations</h2>

  <% @slugs = [] %>
  <% chapters.includes([:rich_text_body]).each do |chapter| -%>
    <% unless chapter.citations.size == 0 && chapter.holocene_events.size == 0-%>
      <h3><%== chapter.name %></h3>
    <% end -%>
    <% unless chapter.citations.size == 0 -%>
      <%== render 'footnotes/citations', formats: [:html], slugs: @slugs, footnotes: chapter.citations, chapter: chapter, links: false %>
    <% end -%>


    <% @slugs = [] %>
    <% @notes = {} -%>
    <% @footnotes = ['', [], 1] %>
    <% unless chapter.holocene_events.size == 0 or chapter.always_display_events? -%>
      <%== render 'holocene_events/index', formats: [:html], holocene_events: chapter.holocene_events.order(:start_year), chapter: chapter, links: false, epub: true, short: true, slugs: @slugs %>
      <% unless @slugs.size == 0 -%>
        <%== Footnote.write_footnotes(@slugs) -%>
      <% end -%>
    <% end -%>
  <% end -%>

  <% unless HoloceneEvent.where(user_id: current_user.id).size == 0 -%>
    <h3>Holocene Events<h3>
    <%== render 'holocene_events/index', formats: [:html], holocene_events: HoloceneEvent.where(user_id: current_user.id).order(:start_year), chapter: nil, links: false, epub: true, short: false, slugs: @slugs %>
    <% unless @slugs.size == 0 -%>
      <%== Footnote.write_footnotes(@slugs) -%>
    <% end -%>
  <% end -%>
  <% unless book.glossary_terms.size == 0 -%>
    <%= render 'glossary_terms/index', formats: [:html], glossary_terms: book.glossary_terms.order(:name) %>
  <% end -%>
  <% unless book.biblioentries.size == 0 -%>
    <%= render 'biblioentries/index', formats: [:html], biblioentries: book.biblioentries %>
  <% end -%>
<% end -%>
