<p id="notice"><%= notice %></p>

<h1><%= @book.name %></h1>

<%= render 'authors/index.html', authors: @book.authors %>
<%= @book.body %>

<% @chapters.each do |chapter| -%>
    <%= render 'chapters/show.html', book: @book, chapter: chapter %>
<% end -%>

<%= render 'biblioentries/index.html', biblioentries: @book.biblioentries %>
<%= render 'glossary_terms/index.html', glossary_terms: @book.glossary_terms.order(:name) %>
 
