<% unless @outline.kind_of?(TrueClass) or @outline == "true" %>
  <%= render 'authors/index', formats: [:html], authors: book.authors %>
  <strong>Copyright:</strong><%= Date.today.strftime("%Y") %>
<%== epub_friendly(book.publisher) %>

<div style="display:block; clear:both; page-break-after:always;"></div>
<%== epub_friendly(book.body) %>
<div style="display:block; clear:both; page-break-after:always;"></div>
<% end %>

<% @notes = {} -%>

<% if book.is_fiction? %>
  <% wc_total = 0 %>
  <% @scenes.each do |scene| %>
    <% wc_total += scene.word_count %>
  <% end %>
  <% total_wc = 0 %>
  <% @scenes.each do |scene| %>
    <% if scene.title_scene and scene.situated.title_page? %>
      <% unless @outline.kind_of?(TrueClass) or @outline == "true" %>
        <div style="display:block; clear:both; page-break-after:always;"></div>
      <% end %>
      <h2><%= scene.situated.title %><%= @outline ? " - WC: #{number_with_delimiter total_wc}" : "" %></h2>
    <% end %>
    <% if scene.title_scene and scene.situated.print_summary? %>
      <% unless @outline.kind_of?(TrueClass) or @outline == "true" %>
        <%= scene.situated.summary_body %>
        <div style="display:block; clear:both; page-break-after:always;"></div>
      <% end %>
    <% end %>
    <% unless @outline.kind_of?(TrueClass) or @outline == "true" %>
      <div style="display:block; clear:both; page-break-after:always;"></div>
    <% end %>
    <% total_wc += scene.word_count %>
    <%= render partial: 'scenes/scene_item', formats: [:html], locals: { scene: scene, outline: @outline, pdf: @pdf, long: @long, total_wc: total_wc, wc_total: wc_total } %>
  <% end %>

<% else %>
  <% @chapters.includes(:partition, :rich_text_body).order(:position).each do |chapter| -%>
    <%= render 'chapters/view', formats: [:html], book: book, chapter: chapter, epub: false, outline: @outline %>
  <% end -%>

  <% unless @outline.kind_of?(TrueClass) or @outline == "true" %>
    <div style="display:block; clear:both; page-break-after:always;"></div>
    <h2>Citations</h2>

    <% @slugs = [] %>
    <% @chapters.includes([:rich_text_body]).order(:position).each do |chapter| -%>
      <% unless chapter.citations.size == 0 && chapter.holocene_events.size == %>
        <h3><%== chapter.name %></h3>
      <% end -%>
      <% unless chapter.citations.size == 0 -%>
        <%== render 'footnotes/citations', formats: [:html], slugs: @slugs, footnotes: chapter.citations, chapter: chapter, links: false %>
      <% end -%>


      <% @slugs = [] %>
      <% @notes = {} -%>
      <% @footnotes = ['', [], 1] %>
      <% unless chapter.holocene_events.size == 0 or chapter.always_display_events? -%>
        <%== render 'holocene_events/index', formats: [:html], holocene_events: chapter.holocene_events.order(:start_year), chapter: chapter, links: false, epub: true, short: true, slugs: @slugs %>
        <% unless @slugs.size == 0 -%>
          <%== Footnote.write_footnotes(@slugs) -%>
        <% end -%>
      <% end -%>
    <% end -%>

    <% unless HoloceneEvent.where(user_id: current_user.id).size == 0 -%>
      <h3>Holocene Events</h3>
      <%== render 'holocene_events/index', formats: [:html], holocene_events: HoloceneEvent.where(user_id: current_user.id).order(:start_year), chapter: nil, links: false, epub: true, short: false, slugs: @slugs %>
      <% unless @slugs.size == 0 -%>
        <%== Footnote.write_footnotes(@slugs) -%>
      <% end -%>
    <% end -%>
    <% unless book.glossary_terms.size == 0 -%>
      <%= render 'glossary_terms/index', formats: [:html], glossary_terms: book.glossary_terms.order(:name) %>
    <% end -%>
    <% unless book.biblioentries.size == 0 -%>
      <%= render 'biblioentries/index', formats: [:html], biblioentries: book.biblioentries %>
    <% end -%>
  <% end %>
<% end -%>
