<h2>Books</h2>

<% unless @books.empty? %>
<% pdf ||= nil %>
<dl>
<div class="chapter_outer-sortable" style="cursor: grab;">
  <%= content_tag 'div', id: "user-#{current_user.id}", data: { id: current_user.id, model_name: current_user.class.name.underscore, update_url: polymorphic_path([@books.first, :sort]) } do %>
    <div class="book-sortable" style="cursor: grab; min-height: 10px;">
      <% @books.includes([:rich_text_body]).rank(:position).each do |book| %>
        <%= content_tag 'div', id: "book-#{book.id}", data: { model_name: book.class.name.underscore, update_url: polymorphic_path([book, :sort]) } do %>
          <%= render partial: 'books/book', formats: [:html], locals: { book: book, pdf: pdf } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
</dl>
<% end %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_book_path, class: 'btn', title: 'New Book' %>
<% if @long %>
<%= link_to (fa_icon 'minus', class: 'fa-fw'), books_path, class: 'btn', title: 'Short View' %>
<% else %>
<%= link_to (fa_icon 'expand', class: 'fa-fw'), books_path(long: true), class: 'btn', title: 'Long View' %>
<% end %>
</div>
