<h1>Books</h1>

<table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Authors</th>
<th colspan="6"></th>
</tr>
</thead>
<tbody>
<% @books.each do |book| %>
<tr>

  <td><%= link_to "#{(fa_icon "pencil")} #{book.name}".html_safe, book_path(book), :title => book.name %></td>
<% ts = "" -%>
<% book.authors.each do |author| -%>
<% ts += "#{author.first_name} #{author.last_name}" -%>
<% end -%>
<td><%= ts %></td>
<td><%= book.word_count %></td>
<td><%= link_to (fa_icon "file-pdf-o"), book_path(book, format: 'pdf'), :title => "PDF" %></td>
<td><%= link_to (fa_icon "list-alt"), book_chapters_path(book), :title => "Chapters" %></td>
<td><%= link_to (fa_icon "book"), book_biblioentries_path(book), :title => "Biblioentries" %></td>
<td><%= link_to (fa_icon "list-alt"), book_glossary_terms_path(book), :title => "Glossary" %></td>
<td><%= link_to (fa_icon "edit"), edit_book_path(book), :title => "Edit" %></td>
<td><%= link_to (fa_icon "trash-o"), book, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Destroy" %></td>
</tr>
<% end %>
</tbody>
</table>


<% @footer_content << "#{link_to 'New Book', new_book_path, :class => "btn btn-default"}" %>
