<h2>
<%= breadcrumb(@book) %>
<%= link_to (fa_icon "pencil"), edit_book_path(@book)  %>
<%= link_to (fa_icon "sticky-note-o"), book_signets_path(@book), :title => "Signets" %>
<%= link_to (fa_icon "book"), book_epub_path(@book), :title => "EPub" %>
<%= link_to (fa_icon "file-pdf-o"), book_path(@book,:format => :pdf), :title => "PDF" %>
<%= link_to (fa_icon "file-pdf-o"), book_path(@book,:format => :pdf, :outline => true), :title => "PDF" %>
</h2>

<p>
  <%= raw @book.body %>
</p>

<% if @book.is_fiction? %>
  <%= render 'books/fiction' %>

<% @footer_content << "#{link_to 'New Story', new_book_story_path(:book_id => @book.id), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'All Stories', book_stories_path(@book), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Characters', polymorphic_path([@book, :characters ]), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Key Points', polymorphic_path([@book, :key_points]), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Artifacts', book_artifacts_path(@book), :class => "btn btn-default" }" %>
<% else %>
  <%= render 'chapters/index' %>
<% @footer_content << "#{link_to 'New Chapter', new_polymorphic_path([@book,:chapter]), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Chapters, TOC', toc_path(@book), :class => "btn btn-default" }" %>
<% end %>
<% @footer_content << "#{link_to 'Back', books_path, :class => "btn btn-default"}" %>
