<p id='notice'><%= notice %></p>

<h2>
  <%== breadcrumb(@book) %>
  <%= link_to (fa_icon 'edit'), edit_book_path(@book), title: 'Edit' %>
  <%= link_to (fa_icon 'sticky-note'), book_signets_path(@book), title: 'Signets' %>
  <%= link_to (fa_icon 'book'), book_epub_path(@book), title: 'EPub' %>
  <%= link_to (fa_icon 'file-pdf'), book_path(@book, format: :pdf), title: 'PDF' %>
  <%= link_to (fa_icon 'file-pdf'), book_path(@book, format: :pdf, outline: true), title: 'PDF' %>
</h2>

<% unless @book.is_fiction? %>
  <table class='table'>
    <tr>
      <th>Chapters:</th>
      <td class='text-right'><%= @book.chapters.count %></td>
      <th>Word Count:</th>
      <td class='text-right'><%= number_with_delimiter(@book.word_count, delimiter: ',') %></td>
    </tr>
  </table>
<% end %>

<p>
  <%== @book.body %>
</p>

<% if @book.is_fiction? %>
  <%= render 'books/fiction', book: @book, stories: @stories %>

  <% add_to_footer('New Story', new_book_story_path(book_id: @book.id)) %>
  <% add_to_footer('All Stories', book_stories_path(@book)) %>
  <% add_to_footer('Characters', polymorphic_path([@book, :characters])) %>
  <% add_to_footer('Key Points', polymorphic_path([@book, :key_points])) %>
  <% add_to_footer('Scenes', polymorphic_path([@book, :scenes]), print: true) %>
  <% add_to_footer('Stats', polymorphic_path([@book, :stats]), print: true) %>
  <% add_to_footer('Artifacts', book_artifacts_path(@book)) %>
<% else %>
  <%= render 'chapters/index', chapters: @chapters %>
  <% add_to_footer('New Chapter', new_polymorphic_path([@book, :chapter])) %>
  <% add_to_footer('Chapters, TOC', toc_path(@book)) %>
<% end %>
<% add_to_footer('Key Words', book_key_words_path(@book)) %>
<% add_to_footer('Authors', book_authors_path(@book)) %>
<% add_to_footer('Back', books_path) %>
