<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<%#= render 'chapters/index', book_id: @book.id %>

<div class="navbar-fixed-bottom footer">
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Chapters', book_chapters_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>
