<h1><%= @book.name %>  <%= link_to (fa_icon "pencil"), edit_book_path(@book)  %>
<%= link_to (fa_icon "sticky-note-o"), book_signets_path(@book), :title => "Signets" %>
<%= link_to (fa_icon "book"), book_epub_path(@book), :title => "EPub" %>
<%= link_to (fa_icon "file-pdf-o"), book_path(@book,:format => :pdf), :title => "PDF" %>
</h1>

<p>
  <%= raw @book.body %>
</p>

<p>
<strong>Stories:</strong>
<%= @book.stories.count %>
</p>

<p>
<strong>Characters:</strong>
<%= @book.characters.count %>
</p>

<p>
<strong>Scenes:</strong>
<%= @book.scene_count %>
</p>

<p>
<strong>Race:</strong>
<table class="table">
  <% counts = {} %>
  <% items = @book.characters.pluck(:race).sort %>
  <% items.each do |item| %>
    <% if counts[item].nil? %>
      <% counts[item] = 0 %>
    <% end %>
    <% counts[item] = counts[item] + 1 %>
  <% end %>
  <% items.uniq.each do |item| %>
    <tr><td><%= link_to (item.blank? ? '<blank>' : item), polymorphic_path([@book,'characters'], :race => item) %></td><td><%= counts[item] %></td></tr>
  <% end %>
</table>

<% if @book.is_fiction? %>
<% @footer_content << "#{link_to 'Stories', book_stories_path(@book), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Characters', polymorphic_path([@book, 'characters' ]), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Key Points', polymorphic_path([@book, 'key_points']), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Artifacts', book_artifacts_path(@book), :class => "btn btn-default" }" %>
<% else %>
<% @footer_content << "#{link_to 'Chapters, TOC', toc_path(@book), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Chapters, Details', polymorphic_path([@book, 'chapters']), :class => "btn btn-default" }" %>
<% end %>
<% @footer_content << "#{link_to 'Back', books_path, :class => "btn btn-default"}" %>
