<table class='table'>
    <thead>
        <tr>
            <th>Partition</th>
            <th>Name</th>
            <th>Word Count</th>
            <th>Events</th>
            <th>Footnotes</th>
            <th>Citations</th>
            <th>Start Year</th>
            <th>End Year</th>
            <th colspan='2'></th>
        </tr>
    </thead>
  <tbody class='sortable'>
    <% @chapters.each_with_sortable_id do |chapter, sortable_id| %>
      <tr id='<%= sortable_id %>'>
    <% if chapter.partition.nil? %>
        <td><%= link_to (fa_icon 'plus'), new_chapter_partition_path(@book, chapter), :title => 'Partition'  %>
    <% else %>
        <td><%= link_to (fa_icon 'edit'), partition_path(chapter.partition), :title => 'Partition'  %>
    <% end %>
        <%== (chapter.partition.nil? ? '' : (link_to chapter.partition_name, partition_path(chapter.partition)).to_s) %></td>
        <td><%= link_to (fa_icon 'edit'), edit_chapter_path(chapter), :title => 'Edit'  %>
        <strong><font size='4'><%= link_to chapter.name, chapter_path(chapter), title: 'Show' %></font></strong>
    <% if chapter.aside.nil? %>
        <%= link_to (fa_icon 'plus'), new_chapter_aside_path(chapter), :title => 'Aside' %>
    <% else %>
        <br>
        <%= link_to chapter.aside_name, aside_path(chapter.aside), :title => chapter.aside_name %>
        <%= link_to (fa_icon 'edit'), edit_aside_path(chapter.aside), :title => 'Edit Aside' %>
    <% end %>
        </td>
        <td align='right'><%= number_with_delimiter chapter.word_count %>
        </td>
        <td align='right'><%= chapter.total_events %></td>
        <td align='right'><%= number_with_delimiter chapter.footnotes.count %></td>
        <td align='right'><%= number_with_delimiter chapter.citations.count %></td>
        <td align='right'><%= HoloceneEvent.convert_ad(chapter.sections.map { |x| x.holocene_events.minimum('start_year') }.compact.min) %></td>
        <td align='right'><%= HoloceneEvent.convert_ad(chapter.sections.map { |x| x.holocene_events.maximum('start_year') }.compact.max) %></td>
        <td><%= link_to (fa_icon 'level-down'), chapter_demote_path(chapter), data: { confirm: 'Are you sure?' }, title: 'Demote' %></td>
        <td><%= link_to (fa_icon 'trash-o'), chapter_path(chapter), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% add_to_footer('New Chapter', new_book_chapter_path(@book)) %>
<% add_to_footer('Chapters, Details', polymorphic_path([@book, :chapters])) %>
<% add_to_footer('Back', book_path(@book)) %>

<script>
$(document).ready(function() {
  $('.sortable').railsSortable();
});
</script>
