<%= bootstrap_form_for [story] do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= hidden_field :book_id, book.id %>
    <%= f.hidden_field :book_id, value: book.id %>

    <%= f.text_field :title %>
    <%= f.label 'Title Page?' %>
    <%= f.check_box :title_page %>
    <%= f.text_field :scene_character %>
    <%= f.label 'Print Summary?' %>
    <%= f.check_box :print_summary %>
    <%= f.label 'Publish?' %>
    <%= f.check_box :publish %>
    <%= f.label 'Stand Alone?' %>
    <%= f.check_box :stand_alone %>

    <%= f.text_field :summary %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
