
<%= simple_form_for [ @book, @story ] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= hidden_field :book_id, @book.id %>
    <%= f.hidden_field :book_id, value: @book.id %>

    <%= f.input :title %>
    <%= f.input :summary %>
    <%= f.input :scene_character %>

    <%= f.collection_select :character_ids, @book.characters.order("name ASC"), "id", :name, prompt: "Select a character", multiple: true , class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
