<h2>
  <%== breadcrumb(story.book, story) %>
  <%= link_to (fa_icon 'edit', type: :regular), edit_story_path(story), title: 'Edit' %>
  <%= link_to (fa_icon 'newspaper', type: :solid), story_view_path(story), title: 'View' %>
  <%= link_to (fa_icon 'newspaper', type: :regular), story_view_path(story, outline: true), title: 'View, outline' %>
  <%= link_to (fa_icon 'file-pdf'), story_path(story, format: :pdf), title: 'PDF' %>
  <%= link_to (fa_icon 'file-pdf', type: :regular), story_path(story, format: :pdf, outline: true), title: 'PDF outline' %>
</h2>

