<h2>
  <%== breadcrumb(story.book, story) %>
</h2>
<div>
  <%= link_to (fa_icon 'edit', type: :regular), edit_story_path(story), title: 'Edit' %>
    <%= link_to (fa_icon 'sticky-note', type: :regular), story_signets_path(story), title: 'Signets' %>
  <%= link_to (fa_icon 'sticky-note', type: :regular), story_notes_path(story), title: 'Notes' %>
   <% if long %>
  <%= link_to (fa_icon 'list', type: :solid), story_path(story), title: 'Show' %>
  <% else %>
  <%= link_to (fa_icon 'list', type: :solid), story_path(story, long: true), title: 'Show' %>
  <% end %>
  <%= link_to (fa_icon 'newspaper', type: :solid), story_view_path(story), title: 'View' %>
  <%= link_to (fa_icon 'newspaper', type: :regular), story_view_path(story, outline: true), title: 'View, outline' %>
  <%= link_to (fa_icon 'newspaper', type: :regular), story_view_path(story, outline: true, long: true), title: 'View, outline, long' %>
  <%= link_to (fa_icon 'file-pdf'), story_path(story, format: :pdf), title: 'PDF' %>
  <%= link_to (fa_icon 'file-pdf', type: :regular), story_path(story, format: :pdf, outline: true), title: 'PDF outline' %>
</div>

