<% if long %>
<% scene_count = story.scene_count %>
<% section_count = story.section_count %>
<% word_count = story.word_count %>
<% word_counts = story.word_counts %>
<% scene_avg = 0 %>
<% wss_ratio = word_counts.collect{|x| x > word_avg ? x : word_avg}.sum %>
<% ss_ratio = (scene_count.zero? ? 0 : section_count.to_f / scene_count) %>
<% items = [{ label: 'Completed', color: '090', width: 100.0 * ss_ratio }, 
            { label: 'Waiting', color: 'ededed', width: 100.0 - 100.0 * ss_ratio }] %>
<% word_counts = story.word_counts %>
<% bt_count = word_counts.collect{|x| x > 1000 ? 1 : 0 }.sum %>
<% bt_ratio = bt_count.zero? ? 0 : bt_count.to_f / word_counts.length %>
<% g_count  = word_counts.collect{|x| x <= 1000 ? x > 650 ? 1 : 0 : 0 }.sum %>
<% g_ratio = g_count.zero? ? 0 : g_count.to_f / word_counts.length %>
<% o_count  = word_counts.collect{|x| x <= 650 ? x > 250 ? 1 : 0 : 0 }.sum %>
<% o_ratio = o_count.zero? ? 0 : o_count.to_f / word_counts.length %>
<% b_count  = word_counts.collect{|x| x <= 250 ? 1 : 0 }.sum %>
<% b_ratio = b_count.zero? ? 0 : b_count.to_f / word_counts.length %>

<% items2 = [{ label: 'Better', color: good_color, width:  100.0 * bt_ratio },
             { label: 'Good', color: okay_color, width: 100.0 * g_ratio },
             { label: 'Okay', color: caution_color, width: 100.0 * o_ratio },
             { label: 'Bad', color: bad_color, width:  100.0 * b_ratio }] %>

<% end %>
<dt>
  <div class="narrow">
    <%= story.scene_min %>
  </div>
  <div class="narrow">
    <%= story.scene_max %>
  </div>
  <div class="title">
    <%= link_to story.title, story_path(story) %>
    <%= link_to (fa_icon 'search-plus'), story_path(story), title: 'Show' %>
    <%= link_to (fa_icon 'edit'), edit_story_path(story), title: 'Edit' %>
    <%= link_to (fa_icon 'trash'), story_path(story), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %>
  </div>
  <% if long %>
  <div class="progress_bar">
    <%= render partial: 'shared/progress_bar', locals: { items: items } %>
  </div>
  <div class="progress_bar">
    <%= render partial: 'shared/progress_bar', locals: { items: items2 } %>
  </div>
  <div class="medium">
    <%= scene_count %> (<%= section_count %> <%= (scene_count.zero? ? '' : number_with_precision((section_count.to_f / scene_count) * 100.0, precision: 2)) %>%)
  </div>
  <div class="medium">
    <%= number_with_delimiter(word_count, delimiter: ',') %> (<%= number_with_delimiter(wss_ratio, delimiter: ',') %>)
  </div>
<% end %>
  <div style="clear:both"></div>
</dt>
<dd><%= story.summary %></dd>
