<% all ||= nil %>
<% if long.kind_of?(TrueClass) or long == "true" %>
  <% scene_count = story.scene_count %>
  <% section_count = story.section_count %>

  <% ss_ratio = (scene_count.zero? ? 0 : section_count.to_f / scene_count) %>
  <% items = [{ label: 'Completed', color: '090', width: 100.0 * ss_ratio }, 
              { label: 'Waiting', color: 'ededed', width: 100.0 - 100.0 * ss_ratio }] %>

  <% items2 = wc_counts_info(story) %>
<% end %>
<div class="row <%= all.kind_of?(TrueClass) or all == "true" and !story.publish? ? 'bg-light' : '' %>">
  <div class="col-sm-1 text-end">
    <%= story.scene_min %> : <%= story.scene_max %>
  </div>
  <div class="col-sm-3">
    <%= story.scene_character %>
    <%= long ? link_to(story.title, story_path(story, long: long), method: :get) : link_to(story.title, story_path(story), method: :get) %>
  </div>
  <div class="col-sm-1">
    <%= link_to (fa_icon 'edit'), edit_story_path(story, long: long), title: 'Edit' %>
    <%= link_to (fa_icon 'trash'), story_path(story), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %>
  </div>
  <div class="col-sm-1 text-end">
    <%== story.title_page? ? WordsCounted.count(story.summary_body.to_plain_text).token_count : '&nbsp;' %>
  </div>
<% if long.kind_of?(TrueClass) or long == "true" %>
    <div class="col-sm-1 ">
      <%= render partial: 'shared/progress_bar', locals: { items: items2 } %>
    </div>
    <div class="col-sm-2 text-end">
      <%= scene_count %> (<%= section_count %> <%= (scene_count.zero? ? '' : number_with_precision((section_count.to_f / scene_count) * 100.0, precision: 2)) %>%)
    </div>
    <div class="col-sm-2 text-end">
      <%== render partial: "shared/word_count", locals: { obj: story } %>
    </div>
  <% end %>
</div>
