<p id="notice"><%= notice %></p>

<h1>
  <%= @story.title %>
</h1>

<p>
  <%= @story.summary %>
</p>


<p>
<strong>Scene Character:</strong><%= @story.scene_character %>
</p>

<p>
<strong>Characters:</strong><%= @story.characters.count %>
</p>
<p>
<strong>Key Points:</strong><%= @story.key_points.count %>
</p>

<p>
<% @story.characters.order(:occupation_class).pluck(:occupation_class).uniq.each do |occ_class| %>
  <%= occ_class %>
<ul>
<% @story.characters.where("occupation_class = ?", occ_class).order(:occupation_class,:last_name,:first_name).each do |character| %>
  <li><%= link_to character.name, polymorphic_path([@story,character]) %><%= "#{(character.grouping.blank? ? '' : "-  #{character.grouping}")}" %></li>
<% end %>
</ul>
<% end %>
</p>

<strong>Key Points</strong>
<ul>
<% @story.key_points.order(:position).each do |key_point| %>
  <li><%= link_to key_point.hook, polymorphic_path([@story, key_point]) %>
  <ul>
  <% key_point.scenes.order(:abc).each do |scene| %>
    <% insert_scene = Scene.where(insert_scene_id: scene.id) %>
    <% unless insert_scene.empty? %>
    <% insert_scene.each do |iscene| %>
    <li><%= link_to iscene.abc, polymorphic_path([@story, key_point, iscene]) %> <%= (iscene.section.nil? ? '' : '*') %><%= iscene.time_to_text %> : <%= iscene.name %></li>
    <% end %>
    <% end %>
    <% if scene.insert_scene.nil? %>
    <li><%= link_to scene.abc, polymorphic_path([@story, key_point, scene]) %> <%= (scene.section.nil? ? '' : '*') %><%= scene.time_to_text %> : <%= scene.name %></li>
    <% else %>
    <li><%= scene.abc %> <%= (scene.section.nil? ? '' : '*') %><%= scene.time_to_text %> : <%= scene.name %></li>
    <% end %>
<% end %>
  </ul>
  </li>
<% end %>
</ul>
<% @footer_content << "#{link_to 'Edit', edit_book_story_path(:book_id => @book.id, :id => @story.id), :class => "btn btn-default hide-print" }" %>
<%# @footer_content << "#{link_to 'Chapters', story_chapters_path(:story_id => @story.id), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{link_to 'Characters', polymorphic_path([@story, 'characters' ]), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{link_to 'Key Points', polymorphic_path([@story, 'key_points']), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{link_to 'Resync Scenes', story_resync_scenes_path(:id => @story.id), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{ link_to 'Back', book_stories_path(:book_id => @book.id), :class => "btn btn-default hide-print" }" %>
