<p id="notice"><%= notice %></p>
<% @title = @story.name %>

<h2>
  <%== breadcrumb(@story.book, @story) %>
  <%= link_to (fa_icon 'edit', type: :regular), edit_story_path(@story), title: 'Edit' %>
  <%= link_to (fa_icon 'newspaper', type: :solid), story_view_path(@story), title: 'View' %>
  <%= link_to (fa_icon 'newspaper', type: :regular), story_view_path(@story, outline: true), title: 'View, outline' %>
  <%= link_to (fa_icon 'file-pdf'), story_path(@story, format: :pdf), title: 'PDF' %>
  <%= link_to (fa_icon 'file-pdf', type: :regular), story_path(@story, format: :pdf, outline: true), title: 'PDF outline' %>
</h2>

<p>
  <%= @story.summary %>
</p>

<% items2 = wc_counts_info(@story) %>
<table class="table">
  <tr>
    <th>Scene Character:</th> <td><%= @story.scene_character %></td>
    <th>Characters:</th> <td><%= @story.characters.size %></td>
    <th>Publish:</th> <td><%= (@story.publish? ? fa_icon('check') : '') %></td>
    <th>Stand Alone:</th> <td><%= (@story.stand_alone? ? fa_icon('check') : '') %></td>
  </tr>
  <tr>
    <th>Scenes(section % scenes):</th>
    <td>
      <%= render partial: 'scenes/progress_bar', formats: [:html], locals: { object: @story } %>
        <div class="progress_bar">
    <%= render partial: 'shared/progress_bar', locals: { items: items2 } %>
  </div>

    </td>
    <% word_count = @story.word_count %>
    <th>Word Count (Potential):</th> <td>
    <%== render partial: "shared/word_count", locals: { obj: @story } %>
    </td>
    <th>Print Summary:</th> <td><%= (@story.print_summary? ? fa_icon('check') : '') %></td>
  </tr>
</table>

<% pdf ||= nil %>
<%= tabs do |c| %>

<% c.tab 'Key Points' do %>
  <span>
    <ul>
      <div class="chapter_outer-sortable" style="cursor: grab;">
        <%= content_tag 'div', id: "scripted-#{@story.id}", data: { id: @story.id, model_name: @story.class.name.underscore, update_url: polymorphic_path([@story, :sort]) } do %>
          <div class="key_point-sortable" style="cursor: grab; min-height: 10px;">
            <% @story.key_points.rank(:position).each do |key_point| %>
              <%= content_tag 'div', id: "key_point-#{key_point.id}", data: { model_name: key_point.class.name.underscore, update_url: key_point_sort_path(key_point) } do %>
                <li><%= link_to key_point.hook, key_point_path(key_point), id: key_point.anchor %> - <%= link_to key_point.key_element, key_point_path(key_point) %>
                <%= render partial: 'key_points/list', formats: [:html], locals: { scripted: @story, key_point: key_point } %>
                </li>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </ul>
  </span>
<% end %>

  <% c.tab 'Gender' do %>
    <span>
      <%= render partial: 'shared/stats2', formats: [:html], locals: { category: 'Gender', value_attribute: 'Gender', attribute: 'sex', object: @story } %>
      <%= render partial: 'shared/stats2', formats: [:html], locals: { category: 'Gender', value_attribute: 'Gender', attribute: 'occupation_class', object: @story } %>
    </span>
  <% end %>

  <% c.tab 'Ethnicity' do %>
    <span>
      <%= render partial: 'characters/attribute_count', formats: [:html], locals: { object: @story, field: :ethnicity } %>
    </span>
  <% end %>

<% c.tab 'Occupation Class' do %>
  <span>
    <%= render partial: 'characters/attribute_count', formats: [:html], locals: { object: @story, field: :occupation_class } %>
  </span>
<% end %>

<% c.tab 'Characters' do %>
  <span>
    <%= render partial: 'characters/characters_occ_ul', formats: [:html], locals: { object: @story } %>
  </span>
<% end %>

<% end %>

<% add_to_footer('New Key Point', new_polymorphic_path([@story, KeyPoint])) %>
<% add_to_footer('Characters', polymorphic_path([@story, :characters])) %>
<% add_to_footer('Resync Scenes', story_resync_scenes_path(id: @story.id)) %>
<% add_to_footer('Key Points', polymorphic_path([@story, :key_points])) %>
<% add_to_footer('Scenes', polymorphic_path([@story, :scenes])) %>
<% add_to_footer('Move', polymorphic_path([@story, :move])) %>
<% add_to_footer('Stats', polymorphic_path([@story, :stats])) %>
<% add_to_footer('Timeline', polymorphic_path([@story, :timeline])) %>
<% add_to_footer('Tours', polymorphic_path([@story, :tours])) %>
<% add_to_footer('Back', book_path(@book)) %>
