<p id="notice"><%= notice %></p>

<h2>
<%= breadcrumb(@story.book, @story) %>
<%= link_to (fa_icon "file-pdf-o"), story_path(@story,:format => :pdf), :title => "PDF" %>
<%= link_to (fa_icon "file-pdf-o"), story_path(@story,:format => :pdf, :outline => true), :title => "PDF Outline" %>
</h2>

<p>
  <%= @story.summary %>
</p>


<p>
<strong>Scene Character:</strong> <%= @story.scene_character %><br/>
<strong>Characters:</strong> <%= @story.characters.count %><br/>
<strong>Print Summary?:</strong> <%= (@story.print_summary? ? 'True' : 'False') %><br/>
<strong>Publish?:</strong> <%= (@story.publish? ? 'True' : 'False') %><br/>
<strong>Stand Alone?:</strong> <%= (@story.stand_alone? ? 'True' : 'False') %><br/>
<strong>Word Count:</strong> <%= number_with_delimiter(@story.word_count, :delimiter => ',') %><br/>
</p>

<%= tabs do |c| %>

<% c.tab "Key Points" do %>
  <span>

<ul>
<% @story.key_points.order(:position).each do |key_point| %>
  <li><%= link_to key_point.hook, polymorphic_path([@story, key_point]), id: key_point.anchor %> - <%= link_to key_point.key_element, polymorphic_path([@story, key_point]) %>
  <dl>
<% 1.upto(6).each do |x| %>
  <% if key_point.scenes.where(selector: x).length == 0 %>
    <dt><%= key_point.selector_value(x) %></dt>
  <% else %>
    <% key_point.scenes.where(selector: x).order(:time, :abc).each do |scene| %>
      <dt>
        <%= render :partial => "scenes/scene_title.html", :locals => { scene: scene, scripted: @story, key_point: key_point, pdf: nil} %>
      </dt>
      <dd><%= scene.summary.to_plain_text %></dd>
    <% end %>
  <% end %>
<% end %>
  </dl>
  </li>
<% end -%>
</ul>
  </span>
<% end %>

<% c.tab "Gender" do %>
  <span>
    <% category = CharacterCategory.find_by(name:'Gender')
    character_attributes = CharacterAttribute.where(character_category_id: category.id) %>
    <% rs = CharacterValue.stats_2(@story.characters,category, character_attributes[0],character_attributes[1]) %>

    <% keys_1 = rs[category.name].keys %>
    <% unless keys_1.empty? %>
    <table class="table">
      <% keys_2 = rs[category.name][keys_1[0]].keys %>
      <tr><th></th>
        <% keys_2.each do |key| %>
          <th><%= key %></th>
        <% end %>
      </tr>

        <% keys_1.each do |key| %>
      <tr>
          <th><%= key %></th>
          <% keys_2.each do |key_2| %>
          <% item = rs[category.name][key][key_2] %>
          <td><%= link_to (item.blank? ? '' : item), polymorphic_path([@story,:characters], :key1=> key, :key2 => key_2, :cat1 => "Gender",  :cat2 =>"Sex" ) %></td>
        <% end %>
      </tr>
        <% end %>
    </table>
        <% end %>
</span>
<% end %>


<% c.tab "Ethnicity" do %>
  <span>
<table class="table">
  <% counts = {} %>
  <% items = @story.characters.pluck(:race).map{|x| x || ""}.sort %>
  <% items.each do |item| %>
    <% if counts[item].nil? %>
      <% counts[item] = 0 %>
    <% end %>
    <% counts[item] = counts[item] + 1 %>
  <% end %>
  <% items.uniq.compact.each do |item| %>
    <tr><td><%= link_to (item.blank? ? '<blank>' : item), polymorphic_path([@story,:characters], :ethnicity => item) %></td><td><%= counts[item] %></td></tr>
  <% end %>
</table>
</span>
<% end %>

<% c.tab "Occupation Class" do %>
  <span>
      <div class="col-md-6">
<table class="table">
  <% counts = {} %>
  <% items = @story.characters.pluck(:occupation_class).map{|x| x || ""}.sort %>
  <% items.each do |item| %>
    <% if counts[item].nil? %>
      <% counts[item] = 0 %>
    <% end %>
    <% counts[item] = counts[item] + 1 %>
  <% end %>
  <% items.uniq.each do |item| %>
    <tr><td><%= link_to (item.blank? ? '<blank>' : item), polymorphic_path([@story,:characters], :occupation_class => item) %></td><td><%= counts[item] %></td></tr>
  <% end %>
</table>
      </div>

  </span>
<% end %>

<% c.tab "Characters" do %>
  <span>
<p>
<% @story.characters.order(:occupation_class).pluck(:occupation_class).uniq.each do |occ_class| %>
  <%= occ_class %>
<ul>
<% @story.characters.where("occupation_class = ?", occ_class).order(:occupation_class,:last_name,:first_name).each do |character| %>
  <li><%= link_to character.name, polymorphic_path([@story,character]) %><%= "#{(character.grouping.blank? ? '' : "-  #{character.grouping}")}" %></li>
<% end %>
</ul>
<% end %>
</p>
  </span>
<% end %>

<% end %>

<% @footer_content << "#{link_to 'Edit', edit_book_story_path(:book_id => @book.id, :id => @story.id), :class => "btn btn-default hide-print" }" %>
<% if @story.stand_alone %>
<% @footer_content << "#{link_to 'Scenes', polymorphic_path([@story, :scenes]), :class => "btn btn-default hide-print" }" %>
<% end %>
<% @footer_content << "#{link_to 'Characters', polymorphic_path([@story, :characters ]), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{link_to 'Key Points', polymorphic_path([@story, :key_points]), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{link_to 'Resync Scenes', story_resync_scenes_path(:id => @story.id), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{ link_to 'Back', book_path(@book), :class => "btn btn-default hide-print" }" %>
