  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Hair Color</th>
        <th>Eye Color</th>
        <th>Gender</th>
        <th>Ethnicity</th>
        <th>Age</th>
        <th>Scene</th></tr>
    </thead>
    <tbody>
<% object.characters.order(:occupation_class).pluck(:occupation_class).map { |x| x || '' }.uniq.sort.each do |occ_class| %>
  <tr><th colspan="4"><%= (occ_class == '' ? '<blank>' : occ_class) %></th></tr>
    <% object.characters.where(occupation_class: occ_class).order(:occupation_class, :last_name, :first_name).distinct.each do |character| %>
      <tr>
        <td width="15%">
        <%= link_to character.full_name, polymorphic_path([object, character]) %>
        </td><td>
        <%= (!character.grouping? ? '' : "#{character.grouping}").to_s %>
        </td>
        <%== physical_attributes(character) %>
        <td>
        <%= (!character.ethnicity? ? '' : "#{character.ethnicity}").to_s %>
        </td><td>
        <% if object.class.name == 'Scene' %>
          <%= object.date_string[0..3].to_i - character.birth_year.to_i %>
        <% end %>
        </td><td>
        <% if object.class.name == 'Scene' %>
          <% character_scene = CharacterScene.where(character_id: character.id, scene_id: object.id) %>
          <%= link_to (fa_icon 'plus'), edit_character_scene_path(character_scene[0]), title: 'Edit character role in scene' %>
          <% unless character_scene[0].summary.nil? %>
          </td></tr><tr><td></td><td colspan="4">
            <%= character_scene[0].summary.to_plain_text %>
          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
<% end %>
    </tbody>
  </table>
