<% object.characters.order(:occupation_class).pluck(:occupation_class).map { |x| x || '' }.uniq.sort.each do |occ_class| %>
  <%= (occ_class == '' ? '<blank>' : occ_class) %>
  <ul>
    <% if occ_class == "" %>
      <% occ_class = nil %>
    <% end %>
      <% object.characters.where(occupation_class: occ_class).order(:occupation_class, :last_name, :first_name).distinct.each do |character| %>
        <li><%= link_to character.name, polymorphic_path([object, character]) %>
          <%= (!character.grouping? ? '' : "-  #{character.grouping}").to_s %>
          <%== physical_attributes(character) %>
          <% if object.class.name == 'Scene' %>
            <%= object.date_string[0..3].to_i - character.birth_year.to_i %>
            <% character_scene = CharacterScene.where(character_id: character.id, scene_id: object.id) %>
            <%= link_to (fa_icon 'plus'), edit_character_scene_path(character_scene[0]), title: 'Edit character role in scene' %>
            <% unless character_scene[0].summary.nil? %>
              <%= character_scene[0].summary.to_plain_text %>
            <% end %>
          <% end %>
        </li>
      <% end %>
  </ul>
<% end %>
