<%= bootstrap_form_for [@object, @character] do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= hidden_field "#{@object.class.name.underscore}_id", value: @object.id %>

  <div class="form-inputs">
    <%= f.text_field :first_name %>
    <%= f.text_field :middle_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :suffix %>
    <%= f.text_field :reason_for_name %>
    <%= f.text_field :nickname %>
    <%= f.text_field :reason_for_nickname %>
    <%= f.text_field :honorific %>
    <%= f.text_field :race %>
    <%= f.text_field :birth_year %>
    <%= f.text_field :death_year %>
    <%= f.text_field :age_at_son %>
    <%= f.text_field :occupation_class %>
    <%= f.text_field :social_class %>
    <%= f.text_field :grouping %>
    <%= f.check_box :use_honorific_only %>
    <%= f.select :father_id, options_from_collection_for_select(@object.characters, :id, :name, (@character.father.nil? ? nil : @character.father.id)), :prompt => "Select Characters", :multiple => false, include_blank: true  %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
