<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Death Year</th>
      <th>Age</th>
      <th>Father</th>
      <th>Nickname</th>
      <th>Honorific</th>
      <th>Race</th>
      <th>Occupation class</th>
      <th>Grouping</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% characters.each do |character| %>
      <tr>
        <td><%= link_to character.full_name, polymorphic_path([@object, character]) %></td>
        <td><%= character.birth_year %></td>
        <td><%= character.death_year %></td>
        <td><%= character.age %></td>
        <td><%= (character.father.nil? ? '' : character.father.name) %></td>
        <td><%= character.nickname %></td>
        <td><%= character.honorific %></td>
        <td><%= character.race %></td>
        <td><%= character.occupation_class %></td>
        <td><%= character.grouping %></td>
        <td><%= link_to 'Show', polymorphic_path([@object, character]) %></td>
        <td><%= link_to 'Edit', edit_polymorphic_path([@object, character]) %></td>
        <td><%= link_to 'Destroy', polymorphic_path([@object, character]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
