<% pagy ||= nil %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Death Year</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Father</th>
      <th>Mother</th>
      <th>Ethnicity</th>
      <th>Occupation class</th>
      <th>Grouping</th>
      <th>#Scenes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% characters.each do |character| %>
      <tr>
        <td><%= link_to character.full_last_first, polymorphic_path([object, character]) %></td>
        <td><%= character.birth_year %></td>
        <td><%= character.death_year %></td>
        <td><%= character.age %></td>
        <td><%= Character.sex_to_text(character.sex) %></td>
        <td><%= (character.father.nil? ? '' : character.father_name) %></td>
        <td><%= (character.mother.nil? ? '' : character.mother_name) %></td>
        <td><%= character.ethnicity %></td>
        <td><%= character.occupation_class %></td>
        <td><%= character.grouping %></td>
        <td><%= character.scenes.size %></td>
        <td><%= link_to 'Show', polymorphic_path([object, character]) %></td>
        <td><%= link_to 'Edit', edit_polymorphic_path([object, character]) %></td>
        <td><%= link_to 'Delete', polymorphic_path([object, character]), method: :delete, data: { confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% unless pagy.nil? %>
<%== pagy_nav(pagy) %>
<% end %>
