<% pdf ||= nil %>

<h3><%= character.full_name %></h3>
<p>
  <% unless character.birth_year.nil? %>
    b. <%= character.birth_year %> - d. <%= character.death_year %>, Age: <%= character.death_year - character.birth_year %><br>
  <% end %>
  <%= Character.sex_to_text(character.sex) %> <%= character.occupation_class %> - <%= character.grouping %>
</p>

<%= tabs do |c| %>
<% c.tab 'Info' do %>
  <span>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
  <% if character.reason_for_name? %>
    <p>
      <strong>Reason for name:</strong>
      <%= character.reason_for_name %>
    </p>
  <% end %>

  <% if character.nickname? %>
    <p>
      <strong>Nickname:</strong>
      <%= character.nickname %>
    </p>
  <% end %>

  <% if character.reason_for_nickname? %>
    <p>
      <strong>Reason for nickname:</strong>
      <%= character.reason_for_nickname %>
    </p>
  <% end %>

  <% if character.honorific? %>
    <p>
      <strong>Honorific:</strong>
      <%= character.honorific %>
    </p>
  <% end %>

  <% if character.ethnicity? %>
    <p>
      <strong>Race:</strong>
      <%= character.ethnicity %>
    </p>
  <% end %>

  <% if character.reign? %>
    <p>
      <strong>Reign:</strong>
      <%= character.reign %>
    </p>
  <% end %>

  <% if character.age_at_son? %>
    <p>
      <strong>Age at Son:</strong>
      <%= character.age_at_son %>
    </p>
  <% end %>

  <% if character.father? %>
    <p>
      <strong>Father:</strong>
      <%= (character.father.nil? ? '' : character.father_name) %>
    </p>
  <% end %>

  <% if character.mother? %>
    <p>
      <strong>Mother:</strong>
      <%= (character.mother.nil? ? '' : character.mother_name) %>
    </p>
  <% end %>

  <% if character.social_class? %>
    <p>
      <strong>Social class:</strong>
      <%= character.social_class %>
    </p>
  <% end %>
</div>
        <div class="col-md-4">
          <% CharacterCategory.all.each do |category| %>
            <%= render partial: 'character_values/index_list', formats: [:html],
                       locals: { pdf: pdf, title: category.name, object: object,
                                 character_values: character.character_values.joins(:character_attribute).order(:name).where('character_category_id = ?', category.id) } %>
          <% end %>
        </div>
      </div>
            <div class="row">
        <div class="col-md-8">
  <% if character.background? %>
    <p>
      <strong>Background:</strong>
      <%= character.background %>
    </p>
  <% end %>

        </div>
      </div>
    </div>
  </span>
<% end %>

<% c.tab 'Scenes' do %>
  <span>
    <% unless character.scenes.blank? %>
      <p>
        <ul>
          <% character.scenes.order(:date_string, :abc).each do |scene| %>
            <% next unless scene.situated.book == @object %>
            <li>
              <% if object.class.name == "Scene" %>
                <%= (pdf.nil? ? link_to(scene.abc, scene_path(scene)) : scene.abc) %>:
              <% else %>
                <%= (pdf.nil? ? link_to(scene.abc, scene_path(scene)) : scene.abc) %>:
              <% end %>
              <%= (pdf.nil? ? link_to("#{scene.date_string}, #{scene.name}", polymorphic_path([scripted, scene])) : scene.name) %>

            </li>
          <% end %>
        </ul>
      </p>
    <% end %>
  </span>
<% end %>
<% end %>
