<h2>Characters for <%= @object.class.name %>: <%= (@object.class.name == 'Scene' && !@object.section.nil? ? link_to(@object.section.name, polymorphic_path(@object)) : link_to(@object.name, polymorphic_path(@object))) %></h2>
<%= datagrid_form_for @grid, method: :get, url: polymorphic_path([@object, :characters]) %>

<div id="side_controls" class="hide-print">
<% if @object.class.name == 'Book' %>
  <%= link_to (fa_icon 'plus'), polymorphic_path([@object, :characters]), method: :post, title: 'Add Character' %>
<% else %>
  <%= link_to (fa_icon 'exchange-alt'), polymorphic_path([@object, :characters_list]), title: 'Add/Remove Characters' %>
<% end -%>
</div>

<div id='character-grid' data-controler='grids'>
  <%= render partial: 'characters/index_grid', formats: [:html], locals: { grid: @grid, pagy: @pagy, records: @records } %>
</div>



<script nonce="<%= request.content_security_policy_nonce %>" type="text/javascript">
jQuery(function($) {
  $("#characters_grid_category").change(function() {
  $.ajax({
    url: '/characters/attributes',
    type: "GET",
    data: {category_id: $('#characters_grid_category option:selected').val() },
  })
});
  $("#characters_grid_attribute").change(function() {
  $.ajax({
    url: '/characters/attribute_values',
    type: "GET",
    data: {attribute_id: $('#characters_grid_attribute option:selected').val() },
  })
});
})
</script>
