<%= form_with url: polymorphic_path([@object, @character, :lineage]) do |form| %>
  <%= hidden_field_tag :situated_id, @object.id %>
  <%= hidden_field_tag :situated_type, @object.class.name %>

  <h2>Lineage for <%= @character.full_name %></h2>

  <% family = [ @character ] %>
  <% character = @character.father %>
  <% while !character.nil? %>
    <% family << character %>
    <% character = character.father %>
  <% end %>

  <% family = family.reverse %>

    <% family.each do |character| %>
      <ul>
      <li><%= link_to character.full_name, polymorphic_path([@object, character]) %>: <%= character.birth_year %> - <%= character.death_year %></li>
    <% end %>
    <%= render partial: "characters/descendents", locals: { character: @character } %>
    <% family.each do |char| %>
      </ul>
    <% end %>
<% end %>
