<% @title = "Matrix, #{@object.name}" %>
<h3>Matrix of Main Characters</h3>
<% characters = @object.characters.joins(:scenes).where("scenes.book_id = ?", @object.id).group("characters.id").count %>
<% chars = characters.sort {|a1,a2| a2[1]<=>a1[1]} %>
<div class="overflow-auto">
<table class='table'>
  <thead>
    <tr>
      <th>Scene</th>
      <% chars[0..19].each do |char_info| %>
        <% character = Character.find(char_info[0]) %>
        <th>
          <%= link_to character.full_last_first, polymorphic_path([@object, character]) %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% unless chars.length == 0 %>
    <% width = chars.length < 19 ? (100/chars.length).to_i : 5 %>
    <% scenes = Scene.get_scenes_to_array(@object) %>
    <% scenes.each do |scene_id| %>
    <% scene = Scene.find(scene_id) %>
    <tr>
      <th><%= link_to(scene.abc, scene_path(scene), data: { "bs-toggle": "tooltip", "bs-placement": "top", "bs-title": scene.name }) %></th>
      <% chars[0..19].each do |ref_char| %>
        <% char2 = scene.characters.where(id: ref_char[0]) %>
        <% if char2.length > 0 %>
          <td width="<%= width %>%">
            <% character_scene = char2[0].character_scenes.where(scene_id: scene.id)[0] %>
            <% unless character_scene.nil? %>
              <%= character_scene.summary %>
              <%= link_to fa_icon("plus"),edit_character_scene_path(character_scene) %>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
</div>
<% add_to_footer('Characters', polymorphic_path([@object, :characters])) %>
<% add_to_footer('Back', polymorphic_path(@object)) %>

