      <tr>
        <td><%= link_to epoch.name, epoch, method: :get %></td>
        <td><%= epoch.start_date %></td>
        <td><%= epoch.end_date %></td>
        <td><%= epoch.holocene_events.size %></td>
        <td><%= link_to (fa_icon 'map'), geo_map_epoch_path(epoch), method: :get, title: 'Map' %></td>
        <td><%= link_to (fa_icon 'edit'), edit_epoch_path(epoch), title: 'Edit' %></td>
        <td><%= link_to (fa_icon 'trash'), epoch, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
