<%= bootstrap_form_for(epoch, local: true) do |form| %>
  <% if epoch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(epoch.errors.count, "error") %> prohibited this epoch from being saved:</h2>

      <ul>
      <% epoch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :user_id %>
    <%= form.text_field :name %>

    <%= form.text_field :start_date %>

    <%= form.text_field :end_date %>

    <%= form.primary "#{command_label}" %>
<% end %>
