<%= bootstrap_form_for(epoch, local: true) do |f| %>
  <% if epoch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(epoch.errors.count, 'error') %> prohibited this epoch from being saved:</h2>

      <ul>
      <% epoch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id %>
    <%= f.text_field :name %>

    <%= f.text_field :start_date %>

    <%= f.text_field :end_date %>

    <%= f.primary command_label.to_s %>
<% end %>
