<h1>Epochs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Events</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @epochs.each do |epoch| %>
      <tr>
        <td><%= epoch.name %></td>
        <td><%= epoch.start_date %></td>
        <td><%= epoch.end_date %></td>
        <td><%= epoch.holocene_events.count %></td>
        <td><%= link_to (fa_icon "search-plus"), epoch, :title => "Show" %></td>
        <td><%= link_to (fa_icon "map"), geo_map_epoch_path(epoch), :title => "Map" %></td>
        <td><%= link_to (fa_icon 'edit'), edit_epoch_path(epoch), :title => "Edit" %></td>
        <td><%= link_to (fa_icon "trash-o"), epoch, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @footer_content << "#{link_to 'New Epoch', new_epoch_path, :class => "btn btn-default"}" %>
