<% @title = "Partitions" %>
<h2>Partitions</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Chapter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partitions.each do |partition| %>
      <tr>
        <td><%= partition.name %></td>
        <td><%= partition.body %></td>
        <td><%= partition.chapter_name %></td>
        <td><%= link_to 'Show', partition_url(partition) %></td>
        <td><%= link_to 'Edit', edit_partition_path(partition) %></td>
        <td><%= link_to 'Destroy', partition_url(partition), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% add_to_footer('New Partition', new_chapter_partition_path(@chapter)) %>
<% add_to_footer('Back', chapter_path(@chapter)) %>
