<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @partition.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @partition.body %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @partition.chapter_id %>
</p>

<%= link_to 'Edit', edit_book_chapter_partition_path(@book,@chapter,@partition) %> |
<%= link_to 'Back', book_chapter_path(@book,@chapter) %>
