<p id="notice"><%= notice %></p>

<h1>Artifact Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artifact_types.each do |artifact_type| %>
      <tr>
        <td><%= artifact_type.name %></td>
        <td><%= artifact_type.location %></td>
        <td><%= link_to 'Show', book_artifact_type_path(@book, artifact_type) %></td>
        <td><%= link_to 'Edit', edit_book_artifact_type_path(@book, artifact_type) %></td>
        <td><%= link_to 'Destroy', book_artifact_type_path(@book,artifact_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @footer_content << "#{link_to 'New Artifact Type', new_polymorphic_path([@book, :artifact_type]), :class => "btn btn-default" }" %>

