<h2>Scenes with Characters</h2>

<%= tabs do |d| %>
  <% d.tab "Scene Characters" do %>
    <%= render partial: "stages/scene_characters", locals: { data: @data, characters: @characters } %>
  <% end %>

  <% d.tab "Characters" do %>
    <%= render partial: "stages/characters", locals: { characters: @characters } %>
  <% end %>
<% end %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'sync', class: 'fa-fw'), stages_add_characters_path(@stage), class: "btn", title: "Sync Characters", method: "put" %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), stage_path(@stage), class: "btn", title: "Back" %>
</div>

