<h2>Stage with Segment Information</h2>

<table class="table">
  <tbody>
<% @stage.segments.order(:name).each do |segment| %>
  <tr>
    <td>
      <strong><%= "#{segment.name}: #{segment.location_times.size}" %></strong>
    <%= link_to (fa_icon 'edit'), edit_segment_path(segment), title: "Edit #{segment.name}" %>
    <%= render partial: "segments/show", locals: { segment: segment, op: 'locations' } %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'eye', class: 'fa-fw'), stage_path(@stage), title: "Stage, Show", class: "btn" %>
  <%= link_to (fa_icon 'list', class: 'fa-fw'), stage_segments_path(@stage), title: "Segments List", class: "btn" %>
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_stage_segment_path(@stage), title: "New Segment", class: "btn" %>
</div>

