<h2>Scene by Segments</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Scene</th>
      <th>Location Times</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stage.segments.where("scene_id is not null").order(:name).each do |segment| %>
      <tr>
        <td><%= segment.name %></td>
        <td><%= segment.scene.nil? ? '' : segment.scene.name %></td>
        <td><%= segment.location_times.size %></td>
        <td><%= link_to 'Show', segment %></td>
        <td><%= link_to 'Edit', edit_segment_path(segment) %></td>
        <td><%= link_to 'Destroy', segment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to 'New Segment', new_stage_segment_path(@stage), :class => "btn" %>
<%= link_to 'Back', stage_path(@stage), :class => "btn" %>
</div>
