<strong> <%= @stage.name %> </strong>

<p>
  <%= @stage.desc %>
</p>


<div id="stage-text"  data-controller="actor-location-times">
  <%= render partial: "stages/show", locals: { stage: @stage, check: @check, op: @op } %>
</div>

<br>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_stage_path(@stage), class: "btn", title: "Edit" %>
<%= link_to (fa_icon 'list', class: 'fa-fw'), stage_list_path(@stage), class: "btn", title: "List Stage" %>
<%= link_to (fa_icon 'list-alt', class: 'fa-fw'), stage_segments_path(@stage), class: "btn", title: "Segments List" %>
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_stage_segment_path(@stage), class: "btn", title: "New Segment" %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), act_stages_path(@act), class: "btn", title: "Back" %>
</div>
