<p>
  <strong>Stage:</strong>
  <%= @stage.name %>
</p>

<p>
  <%= @stage.desc %>
</p>


<div id="stage-text">
  <%= render partial: "stages/show", locals: { stage: @stage, check: @check, op: @op } %>
</div>

<br>

<div>
<%= link_to 'Edit', edit_stage_path(@stage), :class => "btn" %>
<%= link_to 'Back', act_stages_path(@act), :class => "btn" %>
</div>
