<p id="notice"><%= notice %></p>

<p>
  <strong>Stage:</strong>
  <%= @stage.name %>
</p>

<p>
  <%= @stage.desc %>
</p>

<%= form_with model: Stage.new, url: url_for( controller: "stages", action: "check", id: @stage.id) ,
    method: :get,
    id: 'my-form',
    remote: true,
    format: :js,
    class: 'form-inline' do %>
  <%= hidden_field_tag :stage_id, @stage.id %>


<div class="row hide-print">
  <div class='col-md-3'>
    <div class="form-group">
      <label class='checkbox'>
        <%= label_tag "Horizontal" %>
        <%= check_box_tag 'check', !@check, @check, onchange: "$('#button_action').click();", checked: false,
                  :class => 'input-large' %>
      </label>
    </div>
    <div class="form-group">
      <label class='checkbox'>
        <%= label_tag "Locations" %>
        <%= radio_button_tag 'op', "locations", session[:stage_view], onchange: "$('#button_action').click();", checked: true %>
        <%= label_tag "Actors" %>
        <%= radio_button_tag 'op', "actors", session[:stage_view], onchange: "$('#button_action').click();" %>
      </label>
    </div>
    <div class='col-md-2'>
      <%= submit_tag 'Go', type: 'submit', id: 'button_action', value: 'Go', style: "display: none;"  %>
    </div>
  </div>
</div>
<% end %>

<div id="stage-text">
  <%= render partial: "stages/show", locals: { stage: @stage, check: @check, op: @op } %>
</div>

<br>

<div>
<%= link_to 'Edit', edit_stage_path(@stage), :class => "btn" %>
<%= link_to 'Back', act_stages_path(@act), :class => "btn" %>
</div>
