<strong> <%= @stage.name %> </strong>

<p>
  <%= @stage.desc %>
</p>


<div id="stage-text">
  <%= render partial: "stages/show", locals: { stage: @stage, check: @check, op: @op } %>
</div>

<br>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit'), edit_stage_path(@stage), :class => "btn", title: "Edit Stage" %>
<%= link_to (fa_icon 'list'), stage_list_path(@stage), :class => "btn", title: "List Stage" %>
<%= link_to 'Back', act_stages_path(@act), :class => "btn", title: "Back to Stages List" %>
</div>
