<p id="notice"><%= notice %></p>
<% @title = @key_point.name %>
<h2>
  <%== breadcrumb((if @scripted.instance_of?(Book)
                     @scripted
                   else
                     (@scripted.instance_of?(Chapter) ? @scripted.scripted : @scripted.book)
                   end), @scripted, @key_point) %>
  <%== link_to (fa_icon 'edit'), edit_key_point_path(@key_point), title: 'Edit' %>
  <%== link_to (fa_icon 'trash-o'), key_point_path(@key_point), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %>
</h2>

<table class="table">
  <tr>
    <th>Print name:</th>
    <td><%= (@key_point.print_name? ? fa_icon('check') : '') %></td>
    <th>Print points:</th>
    <td><%= (@key_point.print_points? ? fa_icon('check') : '') %></td>
    <th>Word Count:</th>
    <td><%= number_with_delimiter(@key_point.word_count, delimiter: ',') %></td>
  </tr>
</table>

<p>
  <strong>Inciting incident:</strong> <%= @key_point.inciting_incident %><br>
</p>

<p>
  <strong>Key element:</strong> <%= @key_point.key_element %>
</p>

<%= tabs do |c| %>
  <% 1.upto(6).each do |selector| %>
    <% c.tab KeyPoint.selector_title(selector) do %>
      <span>
        <h3><%= link_to (fa_icon 'plus'), polymorphic_path([@scripted, @key_point, :list], selector: selector) %> <%= @key_point.selector_value(selector) %></h3>
        <%= render partial: 'key_points/scenes', locals: { selector: selector, key_point: @key_point, story: @scripted, scripted: @scripted } %>
      </span>
    <% end %>
  <% end %>
<% end %>

<% add_to_footer('Move', polymorphic_path([@scripted, @key_point, :move]), print: true) %>
<% add_to_footer('Back', polymorphic_path([@scripted], anchor: @key_point.anchor)) %>

<% prev_key_point = @key_point.set_prev %>
<% unless prev_key_point.nil? %>
  <% @footer_content << (link_to '<', key_point_path(prev_key_point), class: 'btn icon-ok icon-white').to_s %>
<% end %>
<% next_key_point = @key_point.set_next %>
<% unless next_key_point.nil? %>
  <% @footer_content << (link_to '>', key_point_path(next_key_point), class: 'btn icon-ok icon-white').to_s %>
<% end %>
