<h3>
  <%== breadcrumb((if @scripted.instance_of?(Book)
                     @scripted
                   else
                     (@scripted.instance_of?(Chapter) ? @scripted.scripted : @scripted.book)
                   end), @scripted, @key_point, link: true) %>
  <%== link_to (fa_icon 'edit'), edit_key_point_path(@key_point), title: 'Edit' %>
  <%== link_to (fa_icon 'list'), key_point_path(@key_point), title: 'Show' %>
  <%== link_to (fa_icon 'trash'), key_point_path(@key_point), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %>
</h3>

<%= render partial: 'key_points/view', formats: [:html], locals: { pdf: false, key_point: @key_point, long: @long } %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), @key_point, class: 'btn', title: 'Back' %>
</div>
