      <tr>
        <td><%= link_to event_type.name, event_type, method: :get %></td>
        <td><%= event_type.holocene_events.size %></td>
        <td><%= event_type.body %></td>
        <td><%= link_to (fa_icon 'map'), geo_map_event_type_path(event_type), method: :get, title: 'Map' %></td>
        <td><%= link_to (fa_icon 'trash'), event_type, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
