<%= bootstrap_form_for(event_type, local: true) do |form| %>
  <% if event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
      <% event_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :user_id %>
    <%= form.label :name %>
    <%= form.text_field :name %>

   <div class="jumbotron" >
      <%= form.text_area :body, as: :wysihtml5, cols: "80", rows: "15", hide_label: true %>
  </div>

  <%= form.primary "#{command_label}" %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#event_type_body').each(function(i, elem) {
        $(elem).wysihtml5({
           toolbar: {
               "fa": true,
              "style": false,
              "font-styles": false,
              "emphasis": true,
              "lists": false,
              "html": true,
              "link": false,
              "image": false,
              "color": false
           },
           parser: function(html) {
              return html;
           }
        });
    });
  })
</script>
<% end %>
