<%= bootstrap_form_for(event_type, local: true) do |form| %>
  <% if event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
      <% event_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :user_id %>
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.rich_text_area :body, cols: "80", rows: "15", hide_label: true %>

  <%= form.primary "#{command_label}" %>
<% end %>
