<h1>Event Types</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Events</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_types.each do |event_type| %>
      <tr>
        <td><%= link_to event_type.name, event_type %></td>
        <td><%= event_type.holocene_events.count %></td>
        <td><%= event_type.body %></td>
        <td><%= link_to (fa_icon "edit"), edit_event_type_path(event_type), :title => 'Edit' %></td>
        <td><%= link_to (fa_icon "map-o"), geo_map_event_type_path(event_type), :title => 'Map' %></td>
        <td><%= link_to (fa_icon "trash-o"), event_type, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @footer_content << (link_to 'New Event Type', new_event_type_path, class: 'btn btn-default').to_s %>
