<h1><%= @event_type.name %></h1>

<p>
  <%= @event_type.body %>
</p>

<%= datagrid_form_for @grid, method: :get, url: holocene_events_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<% add_to_footer('Edit', edit_event_type_path(@event_type)) %>
<% add_to_footer('Timeline', event_type_timeline_path(@event_type)) %>
<% add_to_footer('Map', geo_map_event_type_path(@event_type)) %>
<% add_to_footer('Back', event_types_path) %>
