<dt>
  <div class='medium'>
    <% if chapter.partition.nil? %>
      <%= link_to (fa_icon 'plus'), new_chapter_partition_path(@book, chapter), title: 'Partition' %>
    <% else %>
      <%= link_to (fa_icon 'edit'), partition_path(chapter.partition), title: 'Partition' %>
    <% end %>
    <%== (chapter.partition.nil? ? '' : (link_to chapter.partition_name, partition_path(chapter.partition), method: :get).to_s) %>
  </div>
  <div class='title'>
    <%= link_to (fa_icon 'edit'), edit_chapter_path(chapter), title: 'Edit', data: { "turbo-frame": "new_object" } %>
    <strong><%= link_to chapter.name, chapter_path(chapter), title: 'Show', method: :get %></strong>
  </div>
  <div class='narrow-right'><%= number_with_delimiter chapter.word_count %></div>
  <div class='narrow-right'><%= chapter.total_events %></div>
  <div class='narrow-right'><%= number_with_delimiter chapter.footnotes.size %></div>
  <div class='narrow-right'><%= number_with_delimiter chapter.citations.size %></div>
  <div class='mid'><%= HoloceneEvent.convert_ad(chapter.sections.map { |x| x.holocene_events.minimum('start_year') }.compact.min) %></div>
  <div class='mid'><%= HoloceneEvent.convert_ad(chapter.sections.map { |x| x.holocene_events.maximum('start_year') }.compact.max) %></div>
  <div class='narrow'><%= link_to (fa_icon 'level-down'), chapter_demote_path(chapter), data: { confirm: 'Are you sure?' }, title: 'Demote' %></div>
  <div class='narrow'><%= link_to (fa_icon 'trash'), chapter_path(chapter), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></div>
  <div style="display:block; clear:both; page-break-after:always;"></div>
</dt>
<dd>
  <hr>
</dd>
