<% long ||= nil %>
<% @title = "Chapters" %>
<h2>Chapters</h2>
<% if @scripted.class.name == 'Book' %>
<h3>
  <%== breadcrumb(@scripted, link: true) %>
</h3>
<% end %>

<turbo-frame id="chapters">
<%= render partial: 'chapters/index', locals: { chapters: @chapters, long: long }  %>
</turbo-frame>

<div id="side_controls" class="hide-print">
<% if @scripted.class.name == 'Book' %>
  <%= link_to (fa_icon 'edit', type: :regular, class: 'fa-fw'), edit_book_path(@scripted), class: 'btn', title: 'Edit' %>
  <%= link_to (fa_icon 'sticky-note', type: :regular, class: 'fa-fw'), book_signets_path(@scripted), class: 'btn', title: 'Signets' %>
  <% if @long %>
  <%= link_to (fa_icon 'minus', type: :solid, class: 'fa-fw'), book_path(@scripted), title: 'Show', class: 'btn' %>
  <% else %>
  <%= link_to (fa_icon 'expand', type: :solid, class: 'fa-fw'), book_path(@scripted, long: true), title: 'Show, long', class: 'btn' %>
  <% end %>

  <%= link_to (fa_icon 'list', type: :solid, class: 'fa-fw'), book_path(@scripted, long: true), class: 'btn', title: 'Show, long' %>

  <%= link_to (fa_icon 'eye', type: :solid, class: 'fa-fw'), book_view_path(@scripted), class: 'btn', title: 'View' %>
  <%= link_to (fa_icon 'newspaper', type: :regular, class: 'fa-fw'), book_view_path(@scripted, outline: true), class: 'btn', title: 'View, outline' %>
  <%= link_to (fa_icon 'file-pdf', type: :solid, class: 'fa-fw'), book_path(@scripted, format: :pdf), class: 'btn', title: 'PDF' %>
<% end %>
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_polymorphic_path([@scripted, Chapter]), class: 'btn', title: 'New Chapter' %>
<% if @situated.class.name == 'Chapter' %>
<%= link_to('Scenes', polymorphic_path([@situated, :scenes])) %>
<% end %>
<%#= link_to (fa_icon 'list', class: 'fa-fw'), polymorphic_path([@scripted, :chapters]), class: 'btn', title: 'Chapters, Details' %>
<%#= link_to('Chapters, TOC', toc_path(@scripted)) %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path(@scripted), class: 'btn', title: 'Back' %>
</div>
