<%= bootstrap_form_for [@book, @chapter] do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.hidden_field :book_id %>

    <%= f.text_field :name %>

  <div class="jumbotron" >
      <%= f.text_area :body, as: :wysihtml5, cols: "80", rows: "15", hide_label: true %>
  </div>


  <%= f.primary "#{command_label}" %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#chapter_body').each(function(i, elem) {
        $(elem).wysihtml5({
           toolbar: {
              "fa": true,
              "style": true,
              "font-styles": true,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": true,
              "image": true,
              "color": true
           },
           parser: function(html) {
              return html;
           }
        });
    });
  })
</script>
<% end %>
