<% chapter.sections.includes([:signets, :rich_text_body]).order(:position).each do |section| -%>
  <div class="row">
    <turbo-frame id="<%= dom_id section %>">
      <% s = '' %>
      <% if section.embed? %>
        <div class='card border-primary border-dark mb3 pull-right float-right' style='width: 60%;'>
          <div class='card-header bg-transparent border-primary'>
            <strong class='card-header card-title'>
              <%= link_to section.name, section, method: :get %>
              <%= link_to (fa_icon 'edit'), edit_section_path(section), data: { "turbo-frame": "new_object" }, title: 'Edit' %>
              <%= link_to (fa_icon 'sticky-note'), section_signets_path(section_id: section.id), method: :get, title: 'Signets', class: "#{!section.signets.empty? ? Signet.color_class(sections.signets[0].color) : ''}" %>
              <%= link_to (fa_icon 'list'), section_display_path(section_id: section.id), method: :get, title: 'Events' %>
              <%= link_to (fa_icon 'calendar'), section_timeline_path(section_id: section.id), method: :get, title: 'Timeline' %>
              <%= link_to (fa_icon 'map'), geo_map_sections_path(section), method: :get, title: 'Map' %>
              <%= link_to (fa_icon 'subscript', style: :light), section_footnotes_path(section_id: section.id), method: :get, title: 'Footnotes' %>
            </strong>
          </div>
          <div class='card-body border'>
            <% s = ' class=\'card-title\'' %>
          <% else %>
            <strong<%== s %>>
              <%= link_to section.name, section, method: :get %>
              <%= link_to (fa_icon 'edit'), edit_polymorphic_path([chapter, section]), data: { "turbo-frame": "new_object" }, title: 'Edit' %>
              <%= link_to (fa_icon 'sticky-note'), sections_signets_path(section_id: section.id), method: :get, title: 'Signets', class: "#{!section.signets.empty? ? Signet.color_class(section.signets[0].color) : ''}" %>
              <%= link_to (fa_icon 'list'), display_sections_path(section_id: section.id), method: :get, title: 'Events' %>
              <%= link_to (fa_icon 'calendar'), timeline_sections_path(section_id: section.id), method: :get, title: 'Timeline' %>
              <%= link_to (fa_icon 'map'), geo_map_sections_path(section), method: :get, title: 'Map' %>
              <%= link_to (fa_icon 'subscript'), sections_footnotes_path(section_id: section.id), method: :get, title: 'Footnotes' %>
            </strong>
          <% end %>

          <% if @long.kind_of?(TrueClass) or @long == 'true' %>
          <% @footnotes = Footnote.process_body(section, @slugs, @footnotes[2]) -%>
          <% @slugs += @footnotes[1] -%>
          <%== @footnotes[0] %>

          <% if chapter.process_events? %>
            <% if section.holocene_events.size != 0 %>
              <% section.holocene_events.includes([:event_types, :region, :rich_text_body]).order(:start_year).each do |he| -%>
                <% unless he.body.blank? -%>
                  <% @footnotes = Footnote.process_body(he, @slugs, (@footnotes.nil? ? 1 : @footnotes[2])) -%>
                  <% @slugs += @footnotes[1] -%>
                <% end -%>
              <% end -%>
              <%= render 'holocene_events/index', formats: [:html], holocene_events: section.holocene_events.order(:start_year).uniq, chapter: chapter, epub: false, slugs: @slugs %>
            <% end -%>
          <% end -%>
          <% end -%>
          <% if section.embed? %>
            </div>
        </div>
      <% end %>
    </turbo-frame>
  </div>
<% end -%>
