<h1>Chapters</h1>

<table class="table table-striped">
  <tbody class="sortable">
    <% @chapters.each_with_sortable_id do |chapter, sortable_id| %>
      <tr id="<%= sortable_id %>">
        <td><%= (chapter.partition.nil? ? "" : chapter.partition.name) %></td>
        <td><%= chapter.name %></td>
        <td><%= link_to 'Show', book_chapter_path(@book, chapter) %></td>
        <td><%= link_to 'Partition', (chapter.partition.nil? ? new_book_chapter_partition_path(@book, chapter) : book_chapter_partition_path(@book, chapter,chapter.partition)) %></td>
        <td><%= link_to 'PDF', chapter_pdf_path(chapter) %></td>
        <td><%= link_to 'Sections', book_chapter_sections_path(chapter.book, chapter) %></td>
        <td><%= link_to 'Edit', edit_book_chapter_path(@book, chapter) %></td>
        <td><%= link_to 'Destroy', book_chapter_path(@book, chapter), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% @footer_content << "#{link_to 'New Chapter', new_book_chapter_path(@book)}" %>
<% @footer_content << "#{link_to 'Back', book_path(@book)}" %>

<script>
$(function() {
  $('.sortable').railsSortable();
});
</script>
