<div style='display:block;clear:both;page-break-after:always;'></div>
<% if @chapter.display_title? %>
  <h2>
    <%= @chapter.name %>
    <% @title = @chapter.name %>
  </h2>
<% end %>

<% @slugs = [] -%>
<% @footnotes = Footnote.process_body(@chapter, @slugs) -%>
<% if @chapter.aside.nil? -%>
  <%== @footnotes[0] %>
<% else -%>
    <div id='aside_content'>
      <blockquote>
        <h3><%= @chapter.aside_name %></h3>
        <%== @chapter.aside.body %>
        <hr>
      </blockquote>
      <%== @footnotes[0] %>
    </div>
<% end -%>

<% @slugs += @footnotes[1] -%>

<% if @chapter.process_events? %>
  <% if @chapter.holocene_events.size != 0 -%>
    <% @chapter.holocene_events.order(:start_year).each do |he| -%>
      <% unless he.body.blank? -%>
        <% @footnotes = Footnote.process_body(he, @slugs, (@footnotes.nil? ? 1 : @footnotes[2])) -%>
        <% @slugs += @footnotes[1] -%>
      <% end -%>
    <% end -%>
    <%= render 'holocene_events/index', formats: [:html], holocene_events: @chapter.holocene_events.order(:start_year).uniq, chapter: @chapter, epub: false, slugs: @slugs %>
  <% end -%>
<% end -%>

<% @chapter.sections.order(:position).each do |section| -%>
  <% s = '' %>
<% if section.embed? %>
  <div class='card border-primary border-dark mb3 pull-right float-right' style='width: 60%;'>
    <div class='card-header bg-transparent border-primary'>
      <h3 class='card-header card-title'>
        <%= section.name %>
        <%= link_to (fa_icon 'edit'), edit_section_path(section), title: 'Edit' %>
        <%= link_to (fa_icon 'sticky-note'), section_signets_path(section_id: section.id), title: 'Signets', class: "#{!section.signets.empty? ? Signet.color_class(sections.signets[0].color) : ''}" %>
        <%= link_to (fa_icon 'list'), section_display_path(section_id: section.id), title: 'Events' %>
        <%= link_to (fa_icon 'calendar'), section_timeline_path(section_id: section.id), title: 'Timeline' %>
        <%= link_to (fa_icon 'map'), geo_map_section_path(section), title: 'Map' %>
        <%= link_to 'Footnotes', section_footnotes_path(section_id: section.id) %>
      </h3>
    </div>
    <div class='card-body border'>
      <% s = ' class=\'card-title\'' %>
    <% end %>
    <% unless section.embed? %>
      <h2<%== s %>>
            <%= section.name %>
            <%= link_to (fa_icon 'edit'), edit_polymorphic_path([@chapter, section]), title: 'Edit' %>
            <%= link_to (fa_icon 'sticky-note'), section_signets_path(section_id: section.id), title: 'Sinets', class: "#{!section.signets.empty? ? Signet.color_class(section.signets[0].color) : ''}" %>
            <%= link_to (fa_icon 'list'), section_display_path(section_id: section.id), title: 'Events' %>
            <%= link_to (fa_icon 'calendar'), section_timeline_path(section_id: section.id), title: 'Timeline' %>
            <%= link_to (fa_icon 'map'), geo_map_section_path(section), title: 'Map' %>
            <%= link_to 'Footnotes', section_footnotes_path(section_id: section.id) %>
      </h2>
    <% end %>
    <% @footnotes = Footnote.process_body(section, @slugs, @footnotes[2]) -%>

    <% @slugs += @footnotes[1] -%>
    <%== @footnotes[0] %>

    <% if @chapter.process_events? %>
      <% if section.holocene_events.size != 0 %>
        <% section.holocene_events.order(:start_year).each do |he| -%>
          <% unless he.body.blank? -%>
            <% @footnotes = Footnote.process_body(he, @slugs, (@footnotes.nil? ? 1 : @footnotes[2])) -%>
            <% @slugs += @footnotes[1] -%>
          <% end -%>
        <% end -%>
        <%= render 'holocene_events/index', formats: [:html], holocene_events: section.holocene_events.order(:start_year).uniq, chapter: @chapter, epub: false, slugs: @slugs %>
      <% end -%>
    <% end -%>
    <% if section.embed? %>
      </div>
    </div>
  <% end %>
<% end -%>

<% unless @slugs.size == 0 -%>
  <%== Footnote.write_footnotes(@slugs) %>
<% end -%>

<% unless @chapter.citations.size == 0 -%>
  <div style='clear: both'>
    <hr>
    <%== render 'footnotes/citations', slugs: @slugs, footnotes: @chapter.citations, chapter: @chapter, links: true, title: 'Citations' %>
  </div>
<% end -%>

<% add_to_footer((fa_icon 'edit'), edit_chapter_path(@chapter), classes: 'btn icon-ok icon-white', title: 'Edit') %>
<% if @chapter.scripted_type == 'Book' %>
  <% add_to_footer((fa_icon 'sticky-note'), chapter_signets_path(chapter_id: @chapter.id), title: 'Signets', classes: "btn icon-ok icon-white #{!@chapter.signets.empty? ? Signet.color_class(@chapter.signets[0].color) : ''}") %>
  <% add_to_footer((fa_icon 'list'), chapter_display_path(@chapter), title: 'Events', classes: 'btn icon-ok icon-white') %>
  <% add_to_footer((fa_icon 'calendar'), chapter_timeline_path(@chapter), title: 'Timeline', classes: 'btn icon-ok icon-white') %>
  <% add_to_footer((fa_icon 'map'), geo_map_chapter_path(@chapter), title: 'Map', classes: 'btn icon-ok icon-white') %>
  <% add_to_footer('Partition', (@chapter.partition.nil? ? new_chapter_partition_path(@chapter) : edit_partition_path(@chapter.partition))) %>
  <% add_to_footer('Aside', (@chapter.aside.nil? ? new_chapter_aside_path(chapter_id: @chapter.id) : edit_aside_path(@chapter.aside))) %>
  <% add_to_footer('Sections', chapter_sections_path(@chapter)) %>
  <% add_to_footer('Footnotes', chapter_footnotes_path(@chapter)) %>
  <% add_to_footer('Citations', chapter_citations_path(@chapter)) %>
<% else %>
  <% add_to_footer('Scenes', polymorphic_path([@scripted, @chapter, :scenes])) %>
<% end %>
<% add_to_footer('Back', polymorphic_path([@chapter.scripted, :chapters])) %>
<% prev_chapter = @chapter.set_prev %>
<% unless prev_chapter.nil? %>
  <% add_to_footer('<', chapter_path(prev_chapter), classes: 'btn icon-ok icon-white') %>
<% end %>
<% next_chapter = @chapter.set_next %>
<% unless next_chapter.nil? %>
  <% add_to_footer('>', chapter_path(next_chapter), classes: 'btn icon-ok icon-white') %>
<% end %>
