<div style = "display:block; clear:both; page-break-after:always;"></div>
<% if @chapter.display_title? %>
  <h2>
    <%= @chapter.name %>
    <% @title = @chapter.name %>
  </h2>
<% end %>

<% @slugs = [] -%>
<% @footnotes = Footnote.process_body(@chapter, @slugs) -%>
<% if @chapter.aside.nil? -%>
  <%= raw @footnotes[0] %>
<% else -%>
    <div id="aside_content">
      <blockquote>
        <h3><%= @chapter.aside_name %></h3>
        <%= raw @chapter.aside.body %>
        <hr/>
      </blockquote>
      <%= raw @footnotes[0] %>
    </div>
<% end -%>

<% @slugs += @footnotes[1] -%>

<% if @chapter.process_events? %>
  <% if @chapter.holocene_events.length != 0 -%>
    <% @chapter.holocene_events.order(:start_year).each do |he| -%>
      <% unless he.body.blank? -%>
        <% @footnotes = Footnote.process_body(he, @slugs, (@footnotes.nil? ? 1 : @footnotes[2])) -%>
        <% @slugs += @footnotes[1] -%>
      <% end -%>
    <% end -%>
    <%= render 'holocene_events/index.html', holocene_events: @chapter.holocene_events.order(:start_year).uniq, chapter: @chapter, epub: false, slugs: @slugs %>
  <% end -%>
<% end -%>

<% @chapter.sections.order(:position).each do |section| -%>
  <% s = "" %>
<% if section.embed? %>
  <div class="card border-primary border-dark mb3 pull-right float-right" style="width: 60%;">
    <div class="card-header bg-transparent border-primary">
      <h3 class="card-header card-title">
            <%= section.name %>
            <%= link_to (fa_icon "pencil"), edit_section_path(section), :title => "Edit", :class => "btn icon-ok icon-white" %>
            <%= link_to (fa_icon "sticky-note-o"), section_signets_path(:section_id => section.id), :title => "Signets", :class => "btn icon-ok icon-white #{(section.signets.length > 0 ? "#{Signet.color_class(sections.signets[0].color)}" : "" )}"%>
            <%= link_to (fa_icon 'list'),  section_display_path(:section_id => section.id), :class => "btn icon-ok icon-white", :title => "Events" %>
            <%= link_to (fa_icon 'calendar-o'),  section_timeline_path(:section_id => section.id), :class => "btn icon-ok icon-white", :title => "Timeline" %>
            <%= link_to (fa_icon 'map-o'),  geo_map_section_path(section), :class => "btn icon-ok icon-white", :title => "Map" %>
<%= link_to 'Footnotes',  section_footnotes_path(:section_id => section.id), :class => "btn btn-default" %>
      </h3>
    </div>
    <div class="card-body border">
      <% s = " class=\"card-title\"" %>
    <% end %>
    <% unless section.embed? %>
      <h2<%= raw s %>>
            <%= section.name %>
            <%= link_to (fa_icon "pencil"), edit_polymorphic_path([@chapter,section]), :class => "btn icon-ok icon-white", :title => "Edit" %>
            <%= link_to (fa_icon "sticky-note-o"), section_signets_path(:section_id => section.id), :title => "Sinets", :class => "btn icon-ok icon-white #{(section.signets.length > 0 ? "#{Signet.color_class(section.signets[0].color)}" : "" )}"  %>
            <%= link_to (fa_icon 'list'),  section_display_path(:section_id => section.id), :class => "btn icon-ok icon-white", :title => "Events" %>
            <%= link_to (fa_icon 'calendar-o'),  section_timeline_path(:section_id => section.id), :class => "btn icon-ok icon-white", :title => "Timeline" %>
            <%= link_to (fa_icon 'map-o'),  geo_map_section_path(section), :class => "btn icon-ok icon-white", :title => "Map" %>
            <%= link_to 'Footnotes',  section_footnotes_path(:section_id => section.id), :class => "btn btn-default" %>
      </h2>
    <% end %>
    <% @footnotes = Footnote.process_body(section, @slugs, @footnotes[2]) -%>

    <% @slugs += @footnotes[1] -%>
    <%= raw @footnotes[0] %>

    <% if @chapter.process_events? %>
      <% if section.holocene_events.length != 0 %>
        <% section.holocene_events.order(:start_year).each do |he| -%>
          <% unless he.body.blank? -%>
            <% @footnotes = Footnote.process_body(he, @slugs, (@footnotes.nil? ? 1 : @footnotes[2])) -%>
            <% @slugs += @footnotes[1] -%>
          <% end -%>
        <% end -%>
        <%= render 'holocene_events/index.html', holocene_events: section.holocene_events.order(:start_year).uniq, chapter: @chapter, epub: false, slugs: @slugs %>
      <% end -%>
    <% end -%>
    <% if section.embed? %>
      </div>
    </div>
  <% end %>
<% end -%>

<% unless @slugs.length == 0 -%>
  <%= raw Footnote.write_footnotes(@slugs) %>
<% end -%>


<% unless @chapter.citations.length == 0 -%>
  <div style="clear: both">
    <hr/>
    <%= raw render "footnotes/citations", slugs: @slugs, footnotes: @chapter.citations, chapter: @chapter, links: true, title: 'Citations' %>
  </div>
<% end -%>

<% @footer_content << "#{link_to (fa_icon "pencil"), edit_chapter_path( @chapter), :class => "fa btn icon-ok icon-white", :title => "Edit"}" %>
<% if @chapter.scripted_type == 'Book' %>
  <% @footer_content << "#{link_to (fa_icon "sticky-note-o"), chapter_signets_path(:chapter_id => @chapter.id), :title => "Signets", :class => "btn icon-ok icon-white #{(@chapter.signets.length > 0 ? "#{Signet.color_class(@chapter.signets[0].color)}" : "" )}"}" %>
  <% @footer_content << "#{link_to (fa_icon 'list'),  chapter_display_path(@chapter), :title => "Events", :class => "btn icon-ok icon-white" }" %>
  <% @footer_content << "#{link_to (fa_icon 'calendar-o'), chapter_timeline_path(@chapter), :title => "Timeline", :class => "btn icon-ok icon-white" }" %>
  <% @footer_content << "#{link_to (fa_icon 'map-o'),      geo_map_chapter_path(@chapter), :title => "Map", :class => "btn icon-ok icon-white" }" %>
  <% @footer_content << "#{link_to 'Partition', (@chapter.partition.nil? ? new_chapter_partition_path(@chapter) : edit_chapter_partition_path(@chapter, @chapter.partition)), :class => "btn btn-default"}" %>
  <% @footer_content << "#{link_to 'Aside', (@chapter.aside.nil? ? new_chapter_aside_path(@chapter) : edit_chapter_aside_path(@chapter, @chapter.aside)), :class => "btn btn-default"}" %>
  <% @footer_content << "#{link_to 'Sections', chapter_sections_path(@chapter), :class => "btn btn-default" }" %>
  <% @footer_content << "#{link_to 'Footnotes',chapter_footnotes_path(@chapter), :class => "btn btn-default" }" %>
  <% @footer_content << "#{link_to 'Citations',chapter_citations_path(@chapter), :class => "btn btn-default" }" %>
<% else %>
  <% @footer_content << "#{link_to 'Scenes', polymorphic_path([@scripted, @chapter, :scenes]), :class => "btn btn-default" }" %>
<% end %>
<% @footer_content << "#{link_to 'Back',     polymorphic_path([@chapter.scripted,:chapters]), :class => "btn btn-default" }" %>
<% prev_chapter = @chapter.set_prev %>
<% unless prev_chapter.nil? %>
  <% @footer_content << "#{link_to '<', chapter_path(prev_chapter), :class => "btn icon-ok icon-white" }" %>
<% end %>
<% next_chapter = @chapter.set_next %>
<% unless next_chapter.nil? %>
  <% @footer_content << "#{link_to '>', chapter_path(next_chapter), :class => "btn icon-ok icon-white" }" %>
<% end %>
