<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw @chapter.body %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @chapter.rank %>
</p>

<% @sections.each do |section| -%>
<h2><%= section.name %></h2>
<%= raw section.body %>
<% end -%>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
