<%= bootstrap_form_for(timeline, local: true) do |form| %>
  <% if timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% timeline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <%= form.hidden_field :user_id %>
    <%= form.text_field :name %>

    <%= form.text_area :description %>

    <%= form.primary "#{command_label}" %>
<% end %>
