<div class="row">
  <div class="col-sm-2"><%= link_to timeline.name, timeline, method: :get %></div>
  <div class="col-sm-2"><%= timeline.holocene_events.size %></div>
  <div class="col-sm-2"><%= timeline.description %></div>
  <div class="col-sm-2"><%= link_to (fa_icon 'edit'), edit_timeline_path(timeline, short: true), title: 'Edit' %>
  <%= link_to (fa_icon 'trash'), timeline, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></div>
</div>
