<p>
  <strong>Name:</strong>
  <%= @timeline.name %>
</p>

<%= link_to 'Add Event', timeline_holocene_events_path(@timeline) %> |
<%= datagrid_form_for @grid, :method => :get, :url => holocene_events_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>


<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Timeline', timeline_timeline_path(@timeline) %> |
<%= link_to 'Back', timeline_path(@timeline) %>

