
<%= simple_form_for(city) do |f| %>
<%= hidden_field_tag :short, @short %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :name_ascii %>
    <%= f.input :lat %>
    <%= f.input :lng %>
    <%= f.input :country %>
    <%= f.input :iso2 %>
    <%= f.input :iso3 %>
    <%= f.input :admin_name %>
    <%= f.input :capital %>
    <%= f.input :population %>
    <%= f.input :simple_map_id %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
