<% @title = "Cities" %>
<h2>Cities</h2>
<%= datagrid_form_for @grid, method: :get, url: cities_path, partials: 'city_grid' %>
<div>
  <%= link_to (fa_icon 'plus'), new_city_path, title: 'New City' %>
</div>
<%== pagy_info(@pagy) %>
<%= datagrid_table @grid, @records, partials: 'city_grid' %>
<%== pagy_nav(@pagy) %>

