<p id="notice"><%= notice %></p>

<h1>Glossary Terms</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th></th>
      <th>Events</th>
      <th>See<br>
      Seealso<br>
      Acronym</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @glossary_terms.each do |glossary_term| %>
      <tr>
          <td>
          <dt><%= glossary_term.name %></dt>
          <dd><%= glossary_term.body %></dd>
      </td>
      <td>
      <%= HoloceneEvent.tagged_with(glossary_term.name.gsub(/ /, '')).count %>
      </td>
      <td>
        <%= (glossary_term.see.nil? ? '' : glossary_term.see_name) %><br>
        <%= (glossary_term.seealso.nil? ? '' : glossary_term.seealso_name) %><br>
    <%= (glossary_term.acronym.nil? ? '' : glossary_term.acronym_name) %>
    </td>

      <td>
          <%= link_to (fa_icon 'search-plus'), glossary_term_url(glossary_term), title: 'Show' %><br>
          <%= link_to (fa_icon 'edit'), edit_glossary_term_path(glossary_term), title: 'Edit' %><br>
          <%= link_to (fa_icon 'trash-o'), glossary_term_url(glossary_term), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% add_to_footer('New Glossary Term', new_book_glossary_term_path(@book)) %>
<% add_to_footer('Back', book_path(@book)) %>
