<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @glossary_term.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @glossary_term.body %>
</p>

<p>
  <strong>See:</strong>
  <%= @glossary_term.see_id %>
</p>

<p>
  <strong>Seealso:</strong>
  <%= @glossary_term.seealso_id %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @glossary_term.acronym_id %>
</p>

<p>
<strong>Events:</strong>
<% @slugs = [] -%>
<% @footnotes = [] -%>
<%= render 'holocene_events/index.html', holocene_events: HoloceneEvent.tagged_with(@glossary_term.name).order(:start_year), epub: false %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_book_glossary_term_path(@book,@glossary_term), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', :back, :class => "btn btn-default"}" %>
