<%= bootstrap_form_for(region, local: true) do |f| %>
<%= hidden_field_tag :short, @short %>
  <% if region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(region.errors.count, 'error') %> prohibited this region from being saved:</h2>

      <ul>
      <% region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.hidden_field :user_id %>
    <%= f.text_field :name %>

    <%= f.rich_text_area :body, cols: '80', rows: '15', hide_label: true %>

  <%= f.primary command_label.to_s %>
<% end %>
