<p>
<strong>Name:</strong>
<%= @region.name %>
</p>

<p>
<strong>Body:</strong>
<%= @region.body %>
</p>

<div data-controller="data-grids">
  <%= paginate(@grid.assets) %>
  <%= datagrid_table @grid %>
  <%= paginate(@grid.assets) %>
</div>
