<h1>Regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Events</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.holocene_events.count %></td>
        <td><%= region.body %></td>
        <td><%= link_to (fa_icon 'search-plus'), region, title: 'Show' %></td>
        <td><%= link_to (fa_icon 'edit'), edit_region_path(region), title: 'Edit' %></td>
        <td><%= link_to (fa_icon 'trash'), region, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% add_to_footer('New Region', new_region_path) %>
