<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character_attribute.name.humanize %>
</p>

<p>
  <strong>Character category:</strong>
  <%= @character_attribute.character_category_id %>
</p>

<p>
  <strong>Related:</strong>
  <%= (@character_attribute.related_id.nil? ? "" : CharacterAttribute.find(@character_attribute.related_id).name.humanize) %>
</p>

<%= link_to 'Edit', edit_character_attribute_path(@character_attribute) %> |
<%= link_to 'Back', character_attributes_path(:character_category_id => @character_category.id)  %>
