<tr>
<% if parent %>
  <td colspan=2>
<% else %>
  <td></td><td>
<% end %>
<%= link_to artifact.name, book_artifact_url(book,artifact) %></td>
<td><%= artifact.character.name %></td>
<td><%= artifact.artifact_type.name %></td>
<td><%= link_to (fa_icon 'edit'), edit_book_artifact_path(book,artifact) %>
    <%= link_to (fa_icon "trash-o"), book_artifact_path(book,artifact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
