<tr>
  <% if parent %>
    <td colspan="2">
  <% else %>
    <td></td><td>
  <% end %>
    <%= link_to artifact.name, artifact_path(artifact) %></td>
  <td><%= artifact.character_name %></td>
  <td><%= artifact.artifact_type_name %></td>
  <td><%= link_to (fa_icon 'edit'), edit_artifact_path(artifact) %>
    <%= link_to (fa_icon 'trash-o'), artifact_path(artifact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
