<%= simple_form_for [@book, @artifact] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= hidden_field :book_id, @book.id %>
    <%= f.hidden_field :book_id, value: @book.id %>

    <%= f.input :name %>
    <%= f.association :character, collection: @book.characters.order(:last_name, :first_name) %>
    <%= label_tag :parent %>
    <%= select_tag "artifact[parent_id]", options_for_select(Artifact.all.order(:name).collect{|mt| [mt.name, mt.id]}, :selected => @artifact.parent_id), :include_blank => true %>

    <%= f.association :artifact_type %>
    <%= f.rich_text_area :summary %>

    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list, size: 40, value: f.object.tag_list.join(",") %>

  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn' %>
  </div>
<% end %>
