<% @book ||= (session[:book_id].blank? ? nil : Book.find_by(id: session[:book_id])) %>
<% unless @book.nil? %>
  <% if @book.fiction? %>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown1' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        <%= (@scene.nil? ? (@key_point.nil? ? (@story.nil? ? (@book.nil? ? 'Items' : 'Book') : 'Story') : 'Key Point') : 'Scene') %>
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbar_dropdown1'>
          <li class='nav-item'> <a class='nav-link' href='/books'>Books</a> </li>
        <% unless @book.nil? %>
          <%== make_menu_link(@book.name, book_path(@book)) %>
          <% if !@story.nil? and !@story&.id.nil? %>
            <%== make_menu_link(@story.name, story_path(@story)) %>
          <% end %>
        <% end %>
          <li><hr class="dropdown-divider"></li>
      <% if controller_name == 'books' %>
        <% unless @book.nil? %>
          <%== make_menu_link('Stories', book_stories_path(@book)) %>
          <%== make_menu_link('All Stories', book_stories_path(@book, all: true)) %>
          <%== make_menu_link('New Story', new_book_story_path(book_id: @book.id)) %>
          <%== make_menu_link('Scenes', polymorphic_path([@book, :scenes])) %>
          <%== make_menu_link('Stats', polymorphic_path([@book, :stats])) %>
          <%== make_menu_link('Stats', polymorphic_path([@book, :stats])) %>
          <%== make_menu_link('Key Points', book_key_points_path(@book)) %>
          <%== make_menu_link('Plot Points', book_plot_points_path(@book)) %>
          <li><hr class="dropdown-divider"></li>
          <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/artifacts'>Artifacts</a> </li>
          <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/artifact_types'>Artifact Types</a> </li>
          <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/key_words'>Key Words</a> </li>
          <%== make_menu_link('Authors', book_authors_path(@book)) %>
        <% end %>
      <% elsif controller_name == 'stories' %>
        <% if !@story.nil? and !@story&.id.nil? %>
          <%== make_menu_link('New Story', new_book_story_path(book_id: @book.id)) %>
          <%== make_menu_link('New Key Point', new_polymorphic_path([@story, KeyPoint])) %>
          <%== make_menu_link('Characters', polymorphic_path([@story, :characters])) %>
          <%== make_menu_link('Resync Scenes', story_resync_scenes_path(id: @story.id)) %>
          <%== make_menu_link('Key Points', polymorphic_path([@story, :key_points])) %>
          <%== make_menu_link('Scenes', polymorphic_path([@story, :scenes])) %>
          <%== make_menu_link('Move', polymorphic_path([@story, :move])) %>
          <%== make_menu_link('Stats', polymorphic_path([@story, :stats])) %>
          <%== make_menu_link('Char List', polymorphic_path([@story, :chars])) %>
          <%== make_menu_link('Timeline', polymorphic_path([@story, :timeline])) %>
          <%== make_menu_link('Tours', polymorphic_path([@story, :tours])) %>
        <% end %>
      <% elsif controller_name == 'key_points' %>
      <% elsif controller_name == 'scenes' %>
        <% if !@scene.nil? and !@scene&.id.nil? %>
          <%== make_menu_link('Characters', polymorphic_path([@scene, :characters])) %>
        <% end %>
      <% end %>
      </ul>
    </li>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown1' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
      Characters
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbar_dropdown1'>
     <% unless @book.nil? %>
        <li class='nav-item'> <a class='nav-link' href='/characters/<%= @book.id %>/matrix'>Matrix</a> </li>
        <li class='nav-item'> <a class='nav-link' href='/characters/<%= @book.id %>/scenes'>Scenes</a> </li>
        <%== make_menu_link('Char List', book_chars_path(@book)) %>
      <% end %>
      </ul>
    </li>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown4' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Support
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbar_dropdown4'>
        <li class='nav-item'> <a class='nav-link' href='/character_categories'>Character Categories</a> </li>
        <li class='nav-item'> <a class='nav-link' href='/cities'>Cities</a> </li>
      </ul>
    </li>
  <% else %>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown2' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Events
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbar_dropdown2'>
        <% %w[holocene_event timeline epoch].each do |form| %>
          <li> <%= link_to t("app.index.#{form}.link"), [form.pluralize.to_sym], class: 'dropdown-item' %> </li>
        <% end %>
        <% if !@book.nil? and !@book&.id.nil? %>
        <%== make_menu_link('New Chapter', new_polymorphic_path([@book, :chapter])) %>
        <%== make_menu_link('Chapters, TOC', toc_path(@book)) %>
        <%== make_menu_link('Authors', book_authors_path(@book)) %>
        <% end %>
      </ul>
    </li>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown3' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Support
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbar_dropdown3'>
        <% %w[event_type region].each do |form| %>
          <li> <%= link_to t("app.index.#{form}.link"), [form.pluralize.to_sym], class: 'dropdown-item' %> </li>
        <% end %>
        <% unless @book.nil? %>
         <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/key_words'>Key Words</a> </li>
        <% end %>
       <li class='nav-item'> <a class='nav-link' href='/cities'>Cities</a> </li>
      </ul>
    </li>
  <% end %>
<% end %>
  <% unless @book.nil? %>
  <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/authors'>Authors</a> </li>
  <% end %>
