<li class='mr-6 dropdown'>
  <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown0' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Welcome</a>
  <ul class='flex dropdown-menu' aria-labelledby='navbar_dropdown0'>
    <%== make_menu_ts_link('Progress', welcome_progress_path) %>
    <%== make_menu_ts_link('Stats', welcome_stats_path) %>
    <%== make_menu_ts_link('Tags', welcome_tags_path) %>
    <%== make_menu_ts_link('History', welcome_history_path) %>
  </ul>
</li>
<li class='mr-6 dropdown'>
  <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown1' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Book</a>
  <ul class='flex dropdown-menu' aria-labelledby='navbar_dropdown1'>
    <% unless @book.nil? or @book.new_record? %>
      <%== make_menu_ts_link(@book.name, book_path(@book)) %>
      <li><hr class="dropdown-divider"></li>
    <% end %>
    <%== make_menu_ts_link('Books', books_path) %>
    <% if !@book.nil? and !@book.new_record? %>
      <%== make_menu_ts_link('Stats', book_report_path(@book, report: "books/stats")) %>
      <% if @book.is_fiction? %>
        <%== make_menu_ts_link('Scenes', book_report_path(@book, report: "books/scenes")) %>
        <%== make_menu_ts_link('Resync Stories', book_resync_stories_path(@book)) %>
        <%== make_menu_ts_link('Publish All', book_publish_path(@book)) %>
        <li><hr class="dropdown-divider"></li>
        <%== make_menu_ts_link('Key Points', book_key_points_path(@book)) %>
        <%== make_menu_ts_link('Plot Points', book_plot_points_path(@book)) %>
      <% end %>
      <%== make_menu_ts_link('Bibliography', book_biblioentries_path(@book)) %>
      <%== make_menu_ts_link('Timeline', polymorphic_path([@book, :timeline])) %>
      <%== make_menu_ts_link('Glossary Terms', book_glossary_terms_path(@book)) %>
    <% end %>
  </ul>
</li>
<% if !@book.nil? and @book.is_fiction? %>
  <li class='mr-6 dropdown'>
    <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown2' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Story</a>
    <ul class='flex dropdown-menu' aria-labelledby='navbar_dropdown2'>
      <% unless @story.nil? or @story.new_record? %>
        <%== make_menu_ts_link(@story.name, story_path(@story)) %>
        <li><hr class="dropdown-divider"></li>
      <% end %>
      <%== make_menu_ts_link('Stories', book_stories_path(@book)) %>
      <%== make_menu_ts_link('All Stories', book_stories_path(@book, all: true)) %>
      <% unless @story.nil? or @story.new_record? %>
        <%== make_menu_ts_link('Key Points', polymorphic_path([@story, :key_points])) %>
        <%== make_menu_ts_link('Characters', story_character_report_path(story_id: @story.id, report: "characters/chars"))  %>
        <%== make_menu_ts_link('Resync Scenes', story_resync_scenes_path(@story)) %>
        <%== make_menu_ts_link('Move', polymorphic_path([@story, :move])) %>
        <li><hr class="dropdown-divider"></li>
        <%== make_menu_ts_link('Stats', story_report_path(@story, report: "stories/stats")) %>
        <%== make_menu_ts_link('Scenes', story_report_path(@story, report: "stories/scenes")) %>
        <%== make_menu_ts_link('Char List', story_report_path(@story, report: "stories/chars")) %>
        <%== make_menu_ts_link('Char List, All', story_report_path(@story, report: "stories/chars", long: true)) %>
        <li><hr class="dropdown-divider"></li>
        <%== make_menu_ts_link('Timeline', polymorphic_path([@story, :timeline])) %>
        <%== make_menu_ts_link('Tours', polymorphic_path([@story, :tours])) %>
      <% end %>
    </ul>
  </li>
<% else %>
  <% unless @book.nil? or @book.new_record? %>
    <li class='mr-6 dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown3' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Chapter</a>
      <ul class='flex dropdown-menu' aria-labelledby='navbar_dropdown3'>
        <% unless @book.nil? or @book.new_record? %>
          <% unless @chapter.nil? or @chapter.new_record? %>
            <%== make_menu_ts_link(@chapter.name, chapter_path(@chapter)) %>
            <li><hr class="dropdown-divider"></li>
          <% end %>
        <% end %>
        <%== make_menu_ts_link('Partitions', book_partitions_path(@book)) %>
        <%== make_menu_ts_link('Asides',  book_asides_path(@book)) %>
        <% unless @chapter.nil? or @chapter.new_record? %>
          <%== make_menu_ts_link('Stats', chapter_report_path(@chapter, report: "chapters/stats")) %>
          <%== make_menu_ts_link('Timeline', polymorphic_path([@chapter, :timeline])) %>
          <%== make_menu_ts_link('Footnotes',  chapter_footnotes_path(@chapter)) %>
          <%== make_menu_ts_link('Citations', chapter_citations_path(@chapter)) %>
        <% end %>
      </ul>
    </li>
  <% end %>
<% end %>

<% if !@book.nil? and @book.is_fiction? %>
  <li class='mr-6 dropdown'>
    <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown4' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Stage</a>
    <ul class='flex dropdown-menu' aria-labelledby='navbar_dropdown4'>
      <% unless @stage.nil? or @stage.new_record? %>
        <%== make_menu_ts_link(@stage.name, stage_path(@stage)) %>
        <li><hr class="dropdown-divider"></li>
        <%== make_menu_ts_link('Stage List', stage_list_path(@stage)) %>
        <%== make_menu_ts_link('Scenes', stage_report_path(@stage, report: "stages/scenes")) %>
        <%== make_menu_ts_link('Scene Characters', stage_report_path(@stage, report: "stages/characters")) %>
        <%== make_menu_ts_link('Time by Actor', stage_report_path(@stage, report: "stages/time_by_actor")) %>
        <%== make_menu_ts_link('Time by Location', stage_report_path(@stage, report: "stages/time_by_location")) %>
        <%== make_menu_ts_link('Actor by Location', stage_report_path(@stage, report: "stages/actor_by_location")) %>
        <%== make_menu_ts_link('Stats', stage_report_path(@stage, report: "stages/stats")) %>
        <li><hr class="dropdown-divider"></li>
      <% end %>
      <%== make_menu_ts_link('Acts', book_acts_path(@book)) %>
      <%== make_menu_ts_link('Locations', book_locations_path(@book)) %>
      <%== make_menu_ts_link('Actors', book_actors_path(@book)) %>
    </ul>
  </li>
  <li class='mr-6 dropdown'>
    <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown5' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Characters</a>
    <ul class='flex dropdown-menu' aria-labelledby='navbar_dropdown5'>
      <% unless @book.nil? or @book.new_record? %>
        <%== make_menu_ts_link('Character Grid', polymorphic_path([@book, :characters])) %>
        <%== make_menu_ts_link('Main Characters', book_character_report_path(book_id: @book.id, report: "characters/matrix"))  %>
        <%== make_menu_ts_link('Characters with Scenes', book_character_report_path(book_id: @book.id, report: "characters/scenes"))  %>
        <%== make_menu_ts_link('By Occupation', book_character_report_path(book_id: @book.id, report: "characters/chars"))  %>
        <%== make_menu_ts_link('By Occupation, All', book_character_report_path(book_id: @book.id, report: "characters/chars", long: true)) %>
        <li><hr class="dropdown-divider"></li>
        <%== make_menu_ts_link('Import Chars', book_chars_import_path(@book))  %>
      <% end %>
    </ul>
  </li>
<% end %>
<li class='mr-6 dropdown'>
  <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown4' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Support</a>
  <ul class='flex dropdown-menu' aria-labelledby='navbar_dropdown4'>
    <% unless @book.nil? or @book.new_record? %>
      <% if @book.is_fiction? %>
        <%== make_menu_ts_link('Authors', book_authors_path(@book)) %>
        <%== make_menu_ts_link('Artifacts', book_artifacts_path(@book)) %>
        <%== make_menu_ts_link('Artifact Types', book_artifact_types_path(@book)) %>
        <%== make_menu_ts_link('Character Categories', character_categories_path) %>
        <li><hr class="dropdown-divider"></li>
      <% end %>
      <%== make_menu_ts_link('Key Words', book_key_words_path(@book)) %>
    <% end %>
    <%== make_menu_ts_link('Cities', cities_path) %>
    <%== make_menu_ts_link('Epochs', epochs_path) %>
    <%== make_menu_ts_link('Event Types', event_types_path) %>
    <%== make_menu_ts_link('Holocene Events', holocene_events_path) %>
    <%== make_menu_ts_link('Pages', pages_path) %>
    <%== make_menu_ts_link('Regions', regions_path) %>
    <%== make_menu_ts_link('Timelines', timelines_path) %>
  </ul>
</li>
