<% @book ||= (session[:book_id].blank? ? nil : Book.find_by(id: session[:book_id])) %>
<li class='nav-item'> <a class='nav-link' href='/books'>Books</a> </li>
<% unless @book.nil? %>
  <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>'></i><%= @book.name %></a> </li>
  <% if @book.fiction? %>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown1' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
       Support
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbar_dropdown1'>
        <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/artifacts'>Artifacts</a> </li>
        <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/artifact_types'>Artifact Types</a> </li>
        <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/key_words'>Key Words</a> </li>
        <li class='nav-item'> <a class='nav-link' href='/character_categories'>Character Categories</a> </li>
        <li class='nav-item'> <a class='nav-link' href='/cities'>Cities</a> </li>
      </ul>
    </li>
    <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/characters'>Characters</a> </li>
  <% else %>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown2' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Events
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbar_dropdown2'>
        <% %w[holocene_event timeline epoch].each do |form| %>
          <li> <%= link_to t("app.index.#{form}.link"), [form.pluralize.to_sym], class: 'dropdown-item' %> </li>
        <% end %>
      </ul>
    </li>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbar_dropdown3' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Support
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbar_dropdown3'>
        <% %w[event_type region].each do |form| %>
          <li> <%= link_to t("app.index.#{form}.link"), [form.pluralize.to_sym], class: 'dropdown-item' %> </li>
        <% end %>
       <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/key_words'>Key Words</a> </li>
       <li class='nav-item'> <a class='nav-link' href='/cities'>Cities</a> </li>
      </ul>
    </li>
  <% end %>
  <li class='nav-item'> <a class='nav-link' href='/books/<%= @book.id %>/authors'>Authors</a> </li>
<% end %>
