<li> <a href="/books"> <i class="glyphicon glyphicon-tree-conifer"></i> Books</a> </li>
<% unless @book.nil? %>
<li> <a href="/books/<%= @book.id %>/authors"> <i class="glyphicon glyphicon-tree-conifer"></i> Authors</a> </li>
<li> <a href="/books/<%= @book.id %>/characters"> <i class="glyphicon glyphicon-tree-conifer"></i> Characters</a> </li>
<li> <a href="/books/<%= @book.id %>/key_points"> <i class="glyphicon glyphicon-tree-conifer"></i> Key points</a> </li>
<li> <a href="/books/<%= @book.id %>/scenes"> <i class="glyphicon glyphicon-tree-conifer"></i> Scenes</a> </li>
<% end %>
<li> <a href="/character_categories"> <i class="glyphicon glyphicon-tree-conifer"></i> Character Categories</a> </li>
<li >
 <a class="dropdown-toggle" href="#" id="navbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 Events
 </a>
<div class="dropdown-menu" aria-labelledby="navbar">
  <div class="dropdown-divider"></div>
  <ul>
<% ['holocene_event','timeline','event_type','region','epoch'].each do |form| %>
  <li class="dropdown"> <%= link_to t("app.index.#{form}.link"), [ form.pluralize], class: "dropdown-item" %> </li>
<% end %>
  </ul>
  </div>
</li>
