<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= (@title.nil? ? params[:controller].camelcase : @title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- application.html.erb in Head tag below turbolinks -->
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="outer-container">
      <%= render partial: "application/header" %>
      <%= render partial: 'layouts/messages' %>
    <div class="container">
      <div id="content-wrap">
        <%= yield %>
      </div>
      <%= render partial: "application/footer", locals: { footer_content: @footer_content } %>
    </div>
    </div>
  </body>
</html>
