<p>
  <strong>Name:</strong>
  <%= @act.name %>
</p>

<p>
  <strong>Book:</strong>
  <%= @act.book.name %>
</p>

<p>
  <%= @act.desc %>
</p>

<table class="table">
  <thead>
    <th>Stage</th>
    <th>Segments</th>
    <th></th>
  </thead>
  <tbody>
  <% @act.stages.each do |stage| %>
    <tr>
      <td><%= link_to stage.name, stage_path(stage) %></td>
      <td><%= stage.segments.size %></td>
      <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_stage_path(stage), title: 'Edit' %>
      <%= link_to (fa_icon 'trash', class: 'fa-fw'), stage, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
