<h2>Acts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stages</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= link_to act.name, act %></td>
        <td><%= act.stages.size %></td>
        <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_act_path(act), title: 'Edit' %>
        <%= link_to (fa_icon 'trash', class: 'fa-fw'), act, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_book_act_path(@book), :class => "btn", title: 'New Act' %>
</div>
