<p id="notice"><%= notice %></p>

<h1>Acts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= act.name %></td>
        <td><%= act.stages.size %></td>
        <td><%= link_to 'Show', act %></td>
        <td><%= link_to 'Edit', edit_act_path(act) %></td>
        <td><%= link_to 'Destroy', act, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to 'New Act', new_book_act_path(@book), :class => "btn" %>
</div>
